/*-----------------------------glaf---------------------------------------------------*/

body,table,td,th{
   font-size:12px;  font-weight:normal; font-family: Arial,宋体,helvertica,sans-serif; color:#656565
}

a:link,a:visited,a:active{color:#656565; text-decoration:none}
a:hover{color:#F3A36E; text-decoration:none}

.x-title {
	height: 20px; 
	line-height:20px;
	text-align: center; 
	font: bold 15px 宋体; 
	color: #484848; 
	background: url(../images/panel_title.gif) #fff repeat-x left bottom; 
	border: #d9d9d9 1px solid; 
}

.x-paging{ 
	background-color: #ffffff; 
 	border: 0px solid; 
	text-decoration: none ; 
	font-family:"宋体";
	font-size: 15px;
	height: 24px; 
}

.button {
	BACKGROUND-IMAGE: url(../images/bluebg.gif); BORDER-BOTTOM: #909090 1px solid; BORDER-LEFT: #909090 1px solid; BACKGROUND-COLOR: #fff; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND-REPEAT: repeat-x; font: 12px "宋体",tahoma,arial,helvetica,sans-serif; HEIGHT: 25px; COLOR: #333; FONT-SIZE: 13px; BORDER-TOP: #909090 1px solid; CURSOR: pointer; BORDER-RIGHT: #909090 1px solid; PADDING-TOP: 2px
} 

.x-text {
	background-color:#fff;border:1px solid #d3d3d3;color:#666; padding:2px 2px; line-height:24px ; height:24px;font-size: 13px;
} 

.x-textarea {
	background-color:#fff;border:1px solid #d3d3d3;color:#666; padding:2px 2px; font-size: 14px;
}

 .x_content_title {
   text-transform: uppercase; background-color: inherit; color: #789030; font-size: 14px; font-weight: bold; text-align: center;
}
 
.x-fieldset {
	 
}

.x-fieldset legend {
	font: bold 15px tahoma,arial,helvetica,sans-serif; color: #15428b
}
 
 .x-tabs-box {
	height:23px; margin-bottom:-1px;
}

.x-tab-lc {
	background:url(../images/s_14.jpg); width:6px; overflow:hidden; font-size:0px
}
.x-tab-mc {
    background:url(../images/s_16.jpg);
	text-align:center; vertical-align:bottom;	line-height:23px;	white-space:nowrap;	color:#125282;
}
.x-tab-mc a:link,.x-tab-mc a:active,.x-tab-mc a:visited{
    color:#fff;
}
.x-tab-rc {
    background:url(../images/s_15.jpg) no-repeat left bottom; height:23px; width:8px;overflow:hidden; font-size:0px
}
.x-tab-l {
    background:url(../images/s_17.jpg) bottom no-repeat;width:5px; overflow:hidden; font-size:0px
}
.x-tab-m {
    background:url(../images/s_19.jpg) bottom repeat-x;
	text-align:center; vertical-align:bottom;	line-height:23px; white-space:nowrap;
}
.x-tab-r {
    background:url(../images/s_18.jpg) left bottom no-repeat;width:8px; overflow:hidden; font-size:0px
}

.menu_line{overflow:hidden; font-size:0px; height:1px; border:1px solid #287EBC; background:#C8E3F7}

/* next & previous page navigation */
.page-nav {
	clear: both;
	padding: 5px 0 5px 0;
	margin-bottom: .6em;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}

.page-nav a, .page-nav a:visited {
	color: #0066ff;
	text-decoration: none;
}
.page-nav a:hover,
.navigation .suf-page-nav a:hover {
	text-decoration: none;
}

.suf-page-nav {
	text-align: center;
	margin: 5px 0;
}

.suf-page-nav a,
.suf-page-nav span {
	padding: 2px 5px 2px 5px;
	border: 1px solid;
	margin: 2px;
}

.suf-page-nav span.dots {
	border: none;
}

.suf-page-nav a.page-numbers:hover {
	color: #0066ff;
}

.page-current {
    color:#ffffff;
	background-color: #0066ff;
}

.fix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.fix { display: inline-block; }
/* Hide from IE Mac \*/
.fix {display:block;}
/* End hide from IE Mac */

 .required {
	font-size: 12px;
	text-decoration: none;
	color: #ee0000;
	font-weight: bold;
}
 
img {
   border: 0px;color:#fff;
}

a:link,a:visited,a:active{color:#656565; text-decoration:none}
a:hover{color:#F3A36E; text-decoration:none}


.btnGreen {
	padding: 5px 20px; border-radius: 3px; border: 1px solid rgb(61, 129, 12); text-align: center; color: rgb(255, 255, 255); overflow: visible; display: inline-block; cursor: pointer; background-color: rgb(90, 170, 75); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.btnGreen:hover {
	color: rgb(255, 255, 255); box-shadow: 0px 1px 1px #aaa; background-color: rgb(83, 160, 70); -moz-box-shadow: 0 1px 1px #aaa; -webkit-box-shadow: 0 1px 1px #aaa;
}
.btnGreenS {
	margin: 0px; padding: 3px 5px; border-radius: 3px; border: 1px solid rgb(61, 129, 12); text-align: center; color: rgb(255, 255, 255); overflow: visible; display: inline-block; cursor: pointer; background-color: rgb(90, 170, 75); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.btnGreenS:hover {
	color: rgb(255, 255, 255); box-shadow: 0px 1px 1px #aaa; background-color: rgb(83, 160, 70); -moz-box-shadow: 0 1px 1px #aaa; -webkit-box-shadow: 0 1px 1px #aaa;
}
.btnGreenS:hover {
	color: rgb(255, 255, 255); box-shadow: 0px 1px 1px #aaa; background-color: rgb(83, 160, 70); -moz-box-shadow: 0 1px 1px #aaa; -webkit-box-shadow: 0 1px 1px #aaa;
}
.btnGreenS#saveSetting {
	margin-left: 105px;
}
.btnGray {
	padding: 5px 20px; border-radius: 3px; border: 1px solid rgb(170, 170, 170); text-align: center; color: rgb(0, 0, 0); overflow: visible; display: inline-block; cursor: pointer; background-color: rgb(244, 244, 244); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.btnGray:hover {
	box-shadow: 0px 1px 1px #ccc; background-color: rgb(248, 248, 248); -moz-box-shadow: 0 1px 1px #ccc; -webkit-box-shadow: 0 1px 1px #ccc;
}
.btnGrayS {
	margin: 0px; padding: 3px 5px; border-radius: 3px; border: 1px solid rgb(170, 170, 170); text-align: center; color: rgb(0, 0, 0); overflow: visible; display: inline-block; cursor: pointer; background-color: rgb(244, 244, 244); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.btnGrayS:hover {
	box-shadow: 0px 1px 1px #ccc; background-color: rgb(248, 248, 248); -moz-box-shadow: 0 1px 1px #ccc; -webkit-box-shadow: 0 1px 1px #ccc;
}
.btnGrayS:hover {
	box-shadow: 0px 1px 1px #ccc; background-color: rgb(248, 248, 248); -moz-box-shadow: 0 1px 1px #ccc; -webkit-box-shadow: 0 1px 1px #ccc;
}
.btnDisable {
	padding: 5px 20px; outline: 0px; border-radius: 3px 3px 4px 4px; border: 1px solid rgb(189, 189, 189); text-align: center; color: rgb(123, 123, 123); overflow: visible; display: inline-block; cursor: not-allowed; box-shadow: 0px 0px 0px transparent; background-color: rgb(243, 243, 243); -moz-border-radius: 3px; -webkit-border-radius: 3px; -moz-box-shadow: 0 0 0 transparent; -webkit-box-shadow: 0 0 0 transparent; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;
}
.btnDisable:hover {
	color: rgb(123, 123, 123); text-decoration: none; box-shadow: 0px 0px 0px transparent; background-color: rgb(243, 243, 243); -moz-box-shadow: 0 0 0 transparent; -webkit-box-shadow: 0 0 0 transparent;
}
.btnDisableS {
	margin: 0px; padding: 3px 5px; outline: 0px; border-radius: 3px 3px 4px 4px; border: 1px solid rgb(189, 189, 189); text-align: center; color: rgb(123, 123, 123); overflow: visible; vertical-align: middle; display: inline-block; cursor: not-allowed; box-shadow: 0px 0px 0px transparent; background-color: rgb(243, 243, 243); -moz-border-radius: 3px; -webkit-border-radius: 3px; -moz-box-shadow: 0 0 0 transparent; -webkit-box-shadow: 0 0 0 transparent; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;
}
.btnDisableS:hover {
	color: rgb(123, 123, 123); text-decoration: none; box-shadow: 0px 0px 0px transparent; background-color: rgb(243, 243, 243); -moz-box-shadow: 0 0 0 transparent; -webkit-box-shadow: 0 0 0 transparent;
}
.btnDisableS:hover {
	color: rgb(123, 123, 123); text-decoration: none; box-shadow: 0px 0px 0px transparent; background-color: rgb(243, 243, 243); -moz-box-shadow: 0 0 0 transparent; -webkit-box-shadow: 0 0 0 transparent;
}
.textDisable {
	color: rgb(170, 170, 170); display: none; cursor: not-allowed; text-shadow: 0 1px 1px #fff;
}