
body{
	scrollbar-face-color:#EBF1F9;
	scrollbar-shadow-color: #91B7E8;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #F0F5FB;
	scrollbar-darkshadow-color: #53749C;
	scrollbar-track-color: #D0E3F9;
	scrollbar-arrow-color: #53749C;
	background:#F1F2F4;
}
 
body,table,td,th{
   font-size:12px;  font-weight:normal; font-family: Arial,宋体,helvertica,sans-serif; color:#656565
}

a:link,a:visited,a:active{color:#656565; text-decoration:none}
a:hover{color:#F3A36E; text-decoration:none}

img {
   border: 0px;
}

.x-fieldset {
	border-bottom: #b5b8c8 1px solid; border-left: #b5b8c8 1px solid; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; display: block; margin-bottom: 10px; border-top: #b5b8c8 1px solid; border-right: #b5b8c8 1px solid; padding-top: 10px
}

.x-fieldset legend {
	font: bold 11px tahoma,arial,helvetica,sans-serif; color: #15428b
}
 
.x-title {
	height: 25px; 
	text-align: center; 
	font: bold 12px 宋体; 
	color: #484848; 
	background: url(../images/table_title.gif) #fff repeat-x left bottom; 
	padding-top: 5px;
	padding-bottom: 5px; 
	padding-left: 5px; 
	padding-right: 5px; 
	border: #d9d9d9 1px solid; 
}

.button {
	BACKGROUND-IMAGE: url(../images/rx_1.gif); BORDER-BOTTOM: #909090 1px solid; BORDER-LEFT: #909090 1px solid; BACKGROUND-COLOR: #fff; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: "宋体"; HEIGHT: 25px; COLOR: #333; FONT-SIZE: 12px; BORDER-TOP: #909090 1px solid; CURSOR: hand; BORDER-RIGHT: #909090 1px solid; PADDING-TOP: 2px
}

.x-text {
	border-bottom: #b5b8c8 1px solid; border-left: #b5b8c8 1px solid; padding-bottom: 1px; padding-left: 1px; padding-right: 1px; background: url(../images/text-bg.gif) #fff repeat-x 0px 0px; border-top: #b5b8c8 1px solid; border-right: #b5b8c8 1px solid; padding-top: 1px
} 

.x-textarea {
	padding: 1px 3px;
	background: #fff url(../images/text-bg.gif) repeat-x 0 0;
	border: 1px solid #B5B8C8;
}
 

select {
	padding: 1px 3px;
	background: #FFFFFF ;
	border: 1px solid #B5B8C8;
}

.x-content{
    background-color: #fefefe;
	border: 2px solid #ddd;
	font-size: 12px;
	height: 22px; 
}

 .x_content_title {
   text-transform: uppercase; background-color: inherit; color: #789030; font-size: 14px; font-weight: bold; text-align: center;
}
 
.widget-content{
   background: #FFFFFF; 
}
.x-paging{ 
	background-color: #ffffff; 
	background-image: url(../images/table_title.gif); 
	border: 0px solid; 
	text-decoration: none ; 
	font-family:"宋体";
	font-size: 12px;
	height: 30px; 
}
 
 
.x-small-text{
	height: 20px;BORDER-BOTTOM: #b5b8c8 1px solid; BORDER-LEFT: #b5b8c8 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: url(../images/text-bg.gif) #fff repeat-x 0px 0px; BORDER-TOP: #b5b8c8 1px solid; BORDER-RIGHT: #b5b8c8 1px solid; PADDING-TOP: 1px;
}

.x-decimal{
    text-align: right;
}

.x-row-over {
	background: #ffffff; 
}

.x-row-out {
	background: #ffffff;
}

.x-content-hight {
    height: 27px; 
}
 
.x-table-border {
	background-color:#CAD0E4;height: 24px; 
}

div.content-block {
	border-bottom: #ddd 1px solid; text-align: left; border-left: #ddd 1px solid; padding-bottom: 15px; background-color: #F3F6FA; padding-left: 7px; margin-bottom: 10px; border-top: #ddd 1px solid; border-right: #ddd 1px solid
}
 
 .red {
	background: #ff4d4d;
}

 .yellow {
	background: #ff0;
}

 .green {
	background: #6f6;
}

 .blue {
	background: #36f;
}

 .white {
	background: #fff;
}

 .required {
	font-size: 12px;
	text-decoration: none;
	color: red;
	font-weight: bold;
}

 
.readonly {
	background-color: #eeeeee;
	border-right: #2f4c69 1px solid;
	padding-right: 2px;
	border-top: #2f4c69 1px solid;
	padding-left: 2px;
	font-size: 12px;
	padding-bottom: 2px;
	border-left: #2f4c69 1px solid;
	padding-top: 2px;
	border-bottom: #2f4c69 1px solid;
}

.disabled {
    background-color: #eeeeee;
}

 .x-tabs-box {
	height:23px; margin-bottom:-1px;
}

.x-tab-lc {
	background:url(../images/s_14.jpg); width:6px; overflow:hidden; font-size:0px
}
.x-tab-mc {
    background:url(../images/s_16.jpg);
	text-align:center; vertical-align:bottom;	line-height:23px;	white-space:nowrap;	color:#125282;
}
.x-tab-mc a:link,.x-tab-mc a:active,.x-tab-mc a:visited{
    color:#fff;
}
.x-tab-rc {
    background:url(../images/s_15.jpg) no-repeat left bottom; height:23px; width:8px;overflow:hidden; font-size:0px
}
.x-tab-l {
    background:url(../images/s_17.jpg) bottom no-repeat;width:5px; overflow:hidden; font-size:0px
}
.x-tab-m {
    background:url(../images/s_19.jpg) bottom repeat-x;
	text-align:center; vertical-align:bottom;	line-height:23px; white-space:nowrap;
}
.x-tab-r {
    background:url(../images/s_18.jpg) left bottom no-repeat;width:8px; overflow:hidden; font-size:0px
}

.menu_line{overflow:hidden; font-size:0px; height:2px; border:1px solid #287EBC; background:#C8E3F7}


a.b1:visited {
	color: #ffffff;
	text-decoration: none
}

a.b1:active {
	color: #ffffff;
	text-decoration: none
}

a.b1:link {
	color: #006600;
	text-decoration: none
}

.icon-mail {
	background:url(../images/mail.gif) no-repeat;
}

.icon-account {
	background:url(../images/accounts.gif) no-repeat;
}

   .x_firstPageLinkClass { background:url(../images/page_first.gif) no-repeat 0 0;
			float:left;
			margin:0px;
			padding:5px 0px 0px 30px;
			font-size:12px;
			font-weight:bold;
			color:#3f5393;
			height:20px;}
   .x_nextPageLinkClass { background:url(../images/page_next.gif) no-repeat 0 0;
			float:left;
			margin:0px;
			padding:5px 0px 0px 30px;
			font-size:12px;
			font-weight:bold;
			color:#3f5393;
			height:20px;}
   .x_previousPageClass { background:url(../images/page_previous.gif) no-repeat 0 0;
			float:left;
			margin:0px;
			padding:5px 0px 0px 30px;
			font-size:12px;
			font-weight:bold;
			color:#3f5393;
			height:20px;}
   .x_lastPageLinkClass { background:url(../images/page_last.gif) no-repeat 0 0;
			float:left;
			margin:0px;
			padding:5px 0px 0px 30px;
			font-size:12px;
			font-weight:bold;
			color:#3f5393;
			height:20px;}

.todo-list-box {
  background:#fff;
  table-layout:fixed;
}
.todo-text {
	font-size:13px;
	font-weight:normal;
	border-bottom:1px dotted #ccc;
	border-top:1px dotted #fff;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding:5px;
}