<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- <bean id="abstractDao" class="com.glaf.base.dao.AbstractSpringDao">
		<property name="sessionFactory">
			<ref bean="hibernateSessionFactory" />
		</property>
	</bean>

	<bean id="persistenceDAO" class="com.glaf.core.dao.HibernatePersistenceDAO">
		<property name="sessionFactory">
			<ref bean="hibernateSessionFactory" />
		</property>
	</bean>

	<bean id="persistenceService" class="com.glaf.base.service.impl.PersistenceServiceImpl">
		<property name="abstractDao">
			<ref bean="abstractDao" />
		</property>
	</bean> -->

</beans>