<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- Todo消息提醒和邮件提醒 -->

	<bean id="todoJobBean" class="com.glaf.base.modules.todo.service.TodoJobBean">
		<property name="todoService">
			<ref bean="todoService" />
		</property>
	</bean>

	<!-- <bean id="todoQuartzJob" class="com.glaf.base.modules.todo.service.TodoQuartzJob"> 
		<property name="sendMessageServiceUrl"> <value>http://localhost:8806/tms/jsp/sendMessage.jsp</value> 
		</property> </bean> -->

	<bean id="todoJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="todoJobBean" />
		</property>
		<property name="targetMethod">
			<value>createTasksFromSQL</value>
		</property>
	</bean>

	<bean id="todoJobDetail_sendMessage"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="todoJobBean" />
		</property>
		<property name="targetMethod">
			<value>sendMessage</value>
		</property>
	</bean>

	<bean id="todoSimpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail">
			<!-- 引用上述methodInvokingJobDetail -->
			<ref bean="todoJobDetail" />
		</property>
		<property name="startDelay">
			<!-- 第一次执行任务前，需要等待60秒钟 -->
			<value>60000</value>
		</property>
		<property name="repeatInterval">
			<!-- 任务执行周期为600000ms -->
			<value>600000</value>
		</property>
		<property name="repeatCount">
			<!-- 执行次数 -->
			<value>1</value>
		</property>
	</bean>

	<!--触发器/每天9点、14点执行 -->
	<bean id="todoCronTrigger_sendMessage" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="todoJobDetail_sendMessage" />
		</property>
		<property name="cronExpression">
			<value>0 0 9,14 * * ?</value>
		</property>
	</bean>


	<!-- 清理无效数据 业务方法 start -->
	<bean id="cleanTrashDataService" class="com.glaf.base.modules.schedule.CleanTrashDataService">
		<property name="abstractDao">
			<ref bean="abstractDao" />
		</property>
		<property name="sysUserRoleService">
			<ref bean="sysUserRoleProxy" />
		</property>
	</bean>
	<!--清理无效数据 -->
	<bean id="cleanJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="cleanTrashDataService" />
		</property>
		<property name="targetMethod">
			<value>clearTrashData</value>
		</property>
	</bean>
	<!--触发器/每天21点执行 -->
	<bean id="cleanCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="cleanJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0 21 * * ?</value>
		</property>
	</bean>
	<!--清理无效数据 end -->


	<!--计划任务 -->
	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cleanCronTrigger" />
				<ref bean="readSupplierTrigger" />
				<ref bean="todoSimpleTrigger" />
				<ref bean="todoCronTrigger_sendMessage" />
			</list>
		</property>
	</bean>
  
	 
	<!--File业务对象 -->
	<bean id="fileUtilGenerate" class="com.glaf.base.utils.FileUtil"></bean>
	<!--自动删除upload/temp文件夹中的文件 -->
	<bean id="autoFileUtilGenerate"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="fileUtilGenerate" />
		</property>
		<property name="targetMethod">
			<value>delDownTempFiles</value>
		</property>
	</bean>
	<!--每个星期一 0:0 整 触发器执行 -->
	<bean id="autoFileUtilGenerateTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="autoFileUtilGenerate" />
		</property>
		<property name="cronExpression">
			<value>0 0 0 ? * 1</value>
		</property>
	</bean>
 
</beans>
 