<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean name="sysFunctionAjaxService" class="com.glaf.base.modules.sys.service.SysFunctionAjaxService">
		<property name="sysFunctionService">
			<ref bean="sysFunctionService" />
		</property>
	</bean>

	<bean name="sysDepartmentAjaxService" class="com.glaf.base.modules.sys.service.SysDepartmentAjaxService">
		<property name="sysDepartmentService">
			<ref bean="sysDepartmentService" />
		</property>
	</bean>

	<bean name="sysRoleAjaxService" class="com.glaf.base.modules.sys.service.SysRoleAjaxService">
		<property name="sysRoleService">
			<ref bean="sysRoleService" />
		</property>
	</bean>

	<bean name="sysApplicationAjaxService"
		class="com.glaf.base.modules.sys.service.SysApplicationAjaxService">
		<property name="sysApplicationService">
			<ref bean="sysApplicationService" />
		</property>
	</bean>

	<bean name="sysTreeAjaxService" class="com.glaf.base.modules.sys.service.SysTreeAjaxService">
		<property name="sysTreeService">
			<ref bean="sysTreeService" />
		</property>
	</bean>

	<bean name="dictoryAjaxService" class="com.glaf.base.modules.sys.service.DictoryAjaxService">
		<property name="dictoryService">
			<ref bean="dictoryService" />
		</property>
	</bean>

	<bean name="myMenuAjaxService" class="com.glaf.base.modules.workspace.service.MyMenuAjaxService">
		<property name="myMenuService">
			<ref bean="myMenuService" />
		</property>
	</bean>

	<bean name="workCalendarAjaxService"
		class="com.glaf.base.modules.others.service.WorkCalendarAjaxService">
		<property name="workCalendarService">
			<ref bean="workCalendarService" />
		</property>
	</bean>

	<bean name="sysUserRoleAjaxService" class="com.glaf.base.modules.sys.service.SysUserRoleAjaxService">
		<property name="sysUserRoleService">
			<ref bean="sysUserRoleService" />
		</property>
	</bean>

</beans>