
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/jdbc/jbpm</value>
		</property>
	</bean>

	<!-- 配置session工厂及载入的实体对象 -->
	<bean id="sysSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 设置需要关联的数据源 -->
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!--joy add 2012-08-25-->
		<property name="mappingDirectoryLocations">
			<list>
				<value>WEB-INF/conf/mapping</value>
			</list>
		</property>
	</bean>

	<!-- 配置事务控制范围 -->
	<bean id="sysTransactionManager" 
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<!-- 设置事务控制范围为整个session工厂 -->
		<property name="sessionFactory">
			<ref bean="sysSessionFactory"/>
		</property>
	</bean>

	<!-- 配置事务控制方式 -->
	<bean id="sysTransactionInterceptor" 
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="sysTransactionManager" />
		<!-- 所有run开头的方法都进行事务控制 -->
		<property name="transactionAttributes">
			<props>
				<prop key="run*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="batch*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="move*">PROPAGATION_REQUIRED</prop>
				<prop key="change*">PROPAGATION_REQUIRED</prop>
				<prop key="sort*">PROPAGATION_REQUIRED</prop>
				<prop key="do*">PROPAGATION_REQUIRED</prop>
				<prop key="start*">PROPAGATION_REQUIRED</prop>
				<prop key="restart*">PROPAGATION_REQUIRED</prop>
				<prop key="stop*">PROPAGATION_REQUIRED</prop>
				<prop key="shutdown*">PROPAGATION_REQUIRED</prop>
				<prop key="locked*">PROPAGATION_REQUIRED</prop>
				<prop key="sendMessage">PROPAGATION_REQUIRED</prop>
				<prop key="doIDByNO">PROPAGATION_REQUIRED</prop>
				<prop key="saveDetailFromExel">PROPAGATION_REQUIRED</prop>
				<prop key="get*SerialNumber">PROPAGATION_REQUIRED</prop>
				<prop key="getSerialNumber">PROPAGATION_REQUIRED</prop>
				<prop key="submit*">PROPAGATION_REQUIRED</prop>
				<prop key="format*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<!-- 配置事务控制对象 -->    
	<bean id="sysTransactionInterceptorBeanCreator" 
	      class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<!-- 所有以DAO结尾的bean都进行事务控制 -->
		<property name="beanNames">
		   <list>
			<value>*Service</value>
		   </list>
		</property>
		<!-- 配置DAO对应的事务控制方式 -->
		<property name="interceptorNames">
			<list>
				<value>sysTransactionInterceptor</value>
			</list>
		</property>
	</bean>

</beans>  