FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.verify_failure {
	BORDER-BOTTOM: #ff0000 1px dotted; BORDER-LEFT: #ff0000 1px dotted; BORDER-TOP: #ff0000 1px dotted; BORDER-RIGHT: #ff0000 1px dotted
}
.verify_successful {
	
}
.alert_message {
	BORDER-BOTTOM: #fca689 1px solid; POSITION: absolute; BORDER-LEFT: #fca689 1px solid; BACKGROUND: #fef9ba; HEIGHT: 19px; COLOR: #ff0000; FONT-SIZE: 9pt; BORDER-TOP: #fca689 1px solid; BORDER-RIGHT: #fca689 1px solid; PADDING-TOP: 2px
}
.RC_TREE_CELL {
	PADDING-LEFT: 2px; PADDING-RIGHT: 2px; WHITE-SPACE: nowrap; HEIGHT: 18px; COLOR: #000080; FONT-SIZE: 9pt; VERTICAL-ALIGN: middle; CURSOR: pointer; PADDING-TOP: 2px
}
.RC_TREE_ACTIVENODE {
	BORDER-BOTTOM: #c1d6e4 1px solid; BORDER-LEFT: #c1d6e4 1px solid; BACKGROUND-COLOR: #def8fe; MARGIN-TOP: -1px; PADDING-LEFT: 2px; WHITE-SPACE: nowrap; MARGIN-BOTTOM: -1px; HEIGHT: 18px; COLOR: #000080; FONT-SIZE: 9pt; VERTICAL-ALIGN: middle; BORDER-TOP: #c1d6e4 1px solid; CURSOR: pointer; BORDER-RIGHT: #c1d6e4 1px solid; PADDING-TOP: 2px
}
.RC_TREE_MENUITEM {
	PADDING-LEFT: 15px; WIDTH: 100%; PADDING-RIGHT: 10px; COLOR: #000000; FONT-SIZE: 9pt
}
.eos-div-mask {
	BORDER-BOTTOM: #3366cc 0px solid; FILTER: alpha(opacity = 50); BORDER-LEFT: #3366cc 0px solid; BACKGROUND-COLOR: #dde0e3; BORDER-TOP: #3366cc 0px solid; BORDER-RIGHT: #3366cc 0px solid; -moz-user-select: none; -khtml-user-select: none; -moz-opacity: 0.5; opacity: .50
}
.eos-page-mask {
	Z-INDEX: 255; BORDER-BOTTOM: #3366cc 0px solid; POSITION: absolute; FILTER: alpha(opacity = 50); BORDER-LEFT: #3366cc 0px solid; BACKGROUND-COLOR: #dde0e3; WIDTH: 10px; DISPLAY: none; HEIGHT: 10px; BORDER-TOP: #3366cc 0px solid; TOP: 5px; BORDER-RIGHT: #3366cc 0px solid; -moz-user-select: none; -khtml-user-select: none; -moz-opacity: 0.5; opacity: .50
}
.eos-popwin {
	Z-INDEX: 999; POSITION: absolute; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px; qwidth: 300px; qheight: 200px; qleft: 50%; qtop: 50%; qmargin-left: -150px; qmargin-top: -100px
}
.eos-popwin .eos-popwin-head {
	BACKGROUND-IMAGE: url(../images/basic/title_bg.gif); PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 22px; FONT-SIZE: 9pt; PADDING-TOP: 0px
}
.eos-popwin .eos-popwin-head DIV {
	MARGIN-TOP: 4px
}
.eos-popwin .eos-popwin-head-icon {
	FLOAT: left; MARGIN-LEFT: 5px
}
.eos-popwin .eos-popwin-head-title {
	FLOAT: left; HEIGHT: 18px; MARGIN-LEFT: 5px
}
.eos-popwin DIV.eos-popwin-head-button {
	BORDER-BOTTOM: red 0px solid; BORDER-LEFT: red 0px solid; MARGIN-TOP: 3px; FLOAT: right; BORDER-TOP: red 0px solid; MARGIN-RIGHT: 3px; BORDER-RIGHT: red 0px solid
}
.eos-popwin .eos-popwin-head-button A {
	BACKGROUND-IMAGE: url(../images/basic/title_close_btn.gif); FILTER: alpha(opacity = 50); WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; FLOAT: left; HEIGHT: 15px; CURSOR: pointer; TEXT-DECORATION: none; -moz-opacity: 0.5; opacity: .50
}
.eos-popwin .eos-popwin-head-button A:hover {
	FILTER: alpha(opacity = 100); -moz-opacity: 1; opacity: 1
}
.eos-popwin .eos-popwin-body {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; OVERFLOW: hidden; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.eos-popwin .eos-popwin-body-iframe {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 100%; OVERFLOW: auto; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.eos-popwin .eos-popwin-foot {
	POSITION: absolute; WIDTH: 100%; BOTTOM: 0px; DISPLAY: none; BORDER-TOP: red 1px solid
}
.eos-popwin-corn {
	POSITION: absolute; BACKGROUND-COLOR: red; WIDTH: 1px; HEIGHT: 1px; OVERFLOW: hidden
}
.eos-popwin-eg {
	POSITION: absolute; BACKGROUND-COLOR: #eeeeee; OVERFLOW: hidden
}
.eos-calendar-editor-week {
	BACKGROUND-IMAGE: url(../images/calendar/calendar_bg.gif); TEXT-ALIGN: center; BACKGROUND-COLOR: white; BACKGROUND-REPEAT: repeat-x; FONT: 9pt "arial"; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #9bbacd 1px solid; BORDER-RIGHT: #9bbacd 1px solid
}
.eos-calendar-editor-week-left {
	BACKGROUND-IMAGE: url(../images/calendar/calendar_bg_left.gif); TEXT-ALIGN: center; BACKGROUND-COLOR: white; BACKGROUND-REPEAT: no-repeat; FONT: 9pt "arial"; BACKGROUND-POSITION: left bottom; BORDER-RIGHT: #9bbacd 1px solid
}
.eos-calendar-editor-week-right {
	BACKGROUND-IMAGE: url(../images/calendar/calendar_bg_right.gif); TEXT-ALIGN: center; BACKGROUND-COLOR: white; BACKGROUND-REPEAT: no-repeat; FONT: 9pt "arial"; BACKGROUND-POSITION: right bottom
}
.eos-calendar-editor-moreday {
	TEXT-ALIGN: center; BORDER-LEFT: #9bbacd 1px solid; BACKGROUND-COLOR: #f9f9f9; FONT-SIZE: 9pt; BORDER-TOP: #9bbacd 1px solid; CURSOR: pointer
}
.eos-calendar-editor-holiday {
	TEXT-ALIGN: center; BORDER-LEFT: #9bbacd 1px solid; BACKGROUND-COLOR: #f0f0f0; FONT-SIZE: 9pt; BORDER-TOP: #9bbacd 1px solid; CURSOR: pointer
}
.eos-calendar-editor-today {
	TEXT-ALIGN: center; BORDER-LEFT: #9bbacd 1px solid; BACKGROUND-COLOR: #f9f9f9; COLOR: #666699; FONT-SIZE: 9pt; BORDER-TOP: #9bbacd 1px solid; CURSOR: pointer; FONT-WEIGHT: bold
}
.eos-calendar-editor-currday {
	BACKGROUND-IMAGE: url(../images/calendar/calendar_select.gif); TEXT-ALIGN: center; BORDER-LEFT: #9bbacd 1px solid; BACKGROUND-COLOR: #f9f9f9; COLOR: red; FONT-SIZE: 9pt; BORDER-TOP: #9bbacd 1px solid; CURSOR: pointer; FONT-WEIGHT: bold
}
.eos-calendar-editor-day {
	TEXT-ALIGN: center; BORDER-LEFT: #9bbacd 1px solid; BACKGROUND-COLOR: #ececec; FONT-SIZE: 9pt; BORDER-TOP: #9bbacd 1px solid; CURSOR: pointer
}
.eos-calendar-editor-overday {
	BACKGROUND-IMAGE: url(../images/calendar/calendar_over.gif); TEXT-ALIGN: center; BORDER-LEFT: #9bbacd 1px solid; BACKGROUND-COLOR: #46748b; COLOR: white; FONT-SIZE: 9pt; BORDER-TOP: #9bbacd 1px solid; FONT-WEIGHT: bold
}
.eos-calendar-editor-body {
	BORDER-BOTTOM: #9bbacd 1px solid; BACKGROUND-COLOR: #9bbacd; BORDER-RIGHT: #9bbacd 1px solid
}
.eos-calendar-head {
	BACKGROUND-IMAGE: url(../images/calendar/calendar_head_bg.gif)
}
.eos-calendar-time {
	BACKGROUND-IMAGE: url(../images/calendar/calendar_time_bg.gif)
}
.eos-calendar-bottom {
	BACKGROUND-IMAGE: url(../images/calendar/calendar_bottom_bg.gif)
}
.eos-calendar-editor-text {
	BORDER-BOTTOM: #9bbacd 1px solid; BORDER-LEFT: #9bbacd 1px solid; HEIGHT: 22px; BORDER-TOP: #9bbacd 1px solid; BORDER-RIGHT: #9bbacd 1px solid
}
.eos-calendar-editor-date {
	BACKGROUND-IMAGE: url(../images/calendar/calendar_text.gif); BORDER-BOTTOM: #9bbacd 0px solid; BORDER-LEFT: #9bbacd 0px solid; BACKGROUND-COLOR: transparent; HEIGHT: 20px; BORDER-TOP: #9bbacd 0px solid; BORDER-RIGHT: #9bbacd 0px solid
}
.eos-calendar-editor-btn {
	BACKGROUND-IMAGE: url(../images/calendar/calendar_button.gif); BACKGROUND-COLOR: white; WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; HEIGHT: 20px; CURSOR: pointer
}
.eos-calendar-editor-btn-over {
	BACKGROUND-IMAGE: url(../images/calendar/calendar_button.gif); FILTER: alpha(opacity = 90); BACKGROUND-COLOR: white; WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; HEIGHT: 20px; CURSOR: pointer; -moz-opacity: 0.9; opacity: 0.9
}
.eos-celendar-editor-container {
	BORDER-BOTTOM: #9bbacd 1px solid; BORDER-LEFT: #9bbacd 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: white; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; FLOAT: left; BORDER-TOP: #9bbacd 1px solid; BORDER-RIGHT: #9bbacd 1px solid; PADDING-TOP: 1px
}
.eos-celendar-editor-container2 {
	BACKGROUND-COLOR: #eaf0f2
}
.eos-lookup-editor-text {
	BORDER-BOTTOM: #9bbacd 1px solid; BORDER-LEFT: #9bbacd 1px solid; HEIGHT: 22px; BORDER-TOP: #9bbacd 1px solid; BORDER-RIGHT: #9bbacd 1px solid
}
.eos-lookup-btn {
	BACKGROUND-IMAGE: url(../images/lookup/lookup_btn.gif); FILTER: alpha(opacity = 60); BACKGROUND-COLOR: white; WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; HEIGHT: 20px; CURSOR: pointer; -moz-opacity: 0.6; opacity: 0.6
}
.eos-lookup-btn-over {
	BACKGROUND-IMAGE: url(../images/lookup/lookup_btn.gif); FILTER: alpha(opacity = 80); BACKGROUND-COLOR: white; WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; HEIGHT: 20px; CURSOR: pointer; -moz-opacity: 0.8; opacity: 0.8
}
.EOS-LOG-TIME {
	COLOR: #000000; FONT-SIZE: 9pt
}
.EOS-LOG-TITLE-info {
	BACKGROUND-COLOR: #c0c0c0; FONT-STYLE: italic; FONT-WEIGHT: bold
}
.EOS-LOG-TITLE-error {
	BACKGROUND-COLOR: #ff0000; FONT-STYLE: italic; FONT-WEIGHT: bold
}
.EOS-LOG-TITLE-debug {
	BACKGROUND-COLOR: #008080; FONT-STYLE: italic; FONT-WEIGHT: bold
}
.EOS-LOG-TITLE-time {
	BACKGROUND-COLOR: #808000; FONT-STYLE: italic; FONT-WEIGHT: bold
}
.EOS-LOG-TITLE-warn {
	BACKGROUND-COLOR: #ffff00; FONT-STYLE: italic; FONT-WEIGHT: bold
}
.EOS-LOG-CONTAINER {
	Z-INDEX: 999; BORDER-BOTTOM: #000000 1px solid; POSITION: absolute; BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: #f5f5f5; WIDTH: 450px; BORDER-TOP: #000000 1px solid; TOP: 300px; BORDER-RIGHT: #000000 1px solid; LEFT: 100px
}
.EOS-LOG-BUTTONS {
	BACKGROUND-IMAGE: url(../images/basic/thead.gif); BORDER-BOTTOM: #000000 1px solid; FILTER: alpha(opacity = 80); BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: #eeeeee; WIDTH: 520px; HEIGHT: 26px; BORDER-TOP: #000000 1px solid; RUBY-ALIGN: right; BORDER-RIGHT: #000000 1px solid; -moz-opacity: 0.8; opacity: 0.8
}
.EOS-LOG-BODY {
	BACKGROUND-COLOR: #fefefe; WIDTH: 520px; HEIGHT: 170px; BORDER-TOP: #c0c0c0 1px solid
}
.EOS-LOG-WORD {
	COLOR: #000000; FONT-SIZE: 9pt
}
.EOS-LOG-EVAL {
	WIDTH: 520px
}
.EOS-LOG-SIGN-DIV {
	BORDER-BOTTOM: #c0c0c0 0px solid; BORDER-LEFT: #c0c0c0 0px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #fffaf4; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-SIZE: 12px; BORDER-TOP: #c0c0c0 0px solid; BORDER-RIGHT: #c0c0c0 0px solid; PADDING-TOP: 1px
}
.eos-drop-down-button {
	DISPLAY: none
}
.eos-drop-down-button-over {
	BACKGROUND-IMAGE: url(../images/basic/button_nomal_bg.gif); BORDER-BOTTOM: #9bbace 1px solid; BORDER-LEFT: #9bbace 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; BORDER-TOP: #9bbace 1px solid; BORDER-RIGHT: #9bbace 1px solid
}
.eos-drop-down-button-focus {
	BACKGROUND-IMAGE: url(../images/basic/button_over_bg.gif); BORDER-BOTTOM: #3f8bbc 1px solid; BORDER-LEFT: #3f8bbc 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; BORDER-TOP: #3f8bbc 1px solid; BORDER-RIGHT: #3f8bbc 1px solid
}
.eos-drop-down-text {
	BORDER-BOTTOM: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-RIGHT: #666666 1px solid
}
.eos-drop-down-text-over {
	BORDER-BOTTOM: #9bbace 1px solid; BORDER-LEFT: #9bbace 1px solid; BORDER-TOP: #9bbace 1px solid; BORDER-RIGHT: transparent 18px solid
}
.eos-drop-down-text-focus {
	BORDER-BOTTOM: #3f8bbc 1px solid; BORDER-LEFT: #3f8bbc 1px solid; BORDER-TOP: #3f8bbc 1px solid; BORDER-RIGHT: transparent 18px solid
}
.eos-time {
	WIDTH: 94px
}
.eos-time .eos-time-container {
	BORDER-BOTTOM: #9bbace 1px solid; BORDER-LEFT: #9bbace 1px solid; BORDER-TOP: #9bbace 1px solid; BORDER-RIGHT: #9bbace 1px solid
}
.eos-time-arrow-down {
	BACKGROUND-IMAGE: url(../images/time/time_button_buttom.gif); CURSOR: hand
}
.eos-time-arrow-up {
	BACKGROUND-IMAGE: url(../images/time/time_button_top.gif); CURSOR: hand
}
.eos-time-over {
	WIDTH: 94px
}
.eos-time-over .eos-time-container {
	BORDER-BOTTOM: #3f8bbc 1px solid; BORDER-LEFT: #3f8bbc 1px solid; BORDER-TOP: #3f8bbc 1px solid; BORDER-RIGHT: #3f8bbc 1px solid
}
.eos-time-arrow-up-over {
	BACKGROUND-IMAGE: url(../images/time/time_button_top_over.gif); CURSOR: hand
}
.eos-time-arrow-down-over {
	BACKGROUND-IMAGE: url(../images/time/time_button_buttom_over.gif); CURSOR: hand
}
.eos-popmenu {
	BACKGROUND-IMAGE: url(../images/popmenu/popmenu_icon_bg.gif); BORDER-BOTTOM: #ced3d4 1px solid; BORDER-LEFT: #ced3d4 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #f9f9f9; MARGIN: 0px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: left 50%; FONT-SIZE: 9pt; OVERFLOW: hidden; BORDER-TOP: #ced3d4 1px solid; CURSOR: hand pointer; BORDER-RIGHT: #ced3d4 1px solid; PADDING-TOP: 2px
}
.eos-popmenu TD {
	FONT-SIZE: 9pt
}
.eos-popmenu-list {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.eos-popmenu LI.eos-popmenu-list-item A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FONT: 9pt tahoma, arial, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 25px; TEXT-DECORATION: none !important; PADDING-TOP: 0px
}
.eos-popmenu LI.eos-popmenu-line {
	BORDER-BOTTOM: #ffffff 1px solid; LINE-HEIGHT: 1px; OVERFLOW-Y: hidden; BACKGROUND-COLOR: #e0e0e0; MARGIN: 2px 3px; DISPLAY: block; HEIGHT: 2px; FONT-SIZE: 1px
}
.eos-popmenu A.eos-popmenu-item {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 16px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 3px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 21px; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 18px; COLOR: #222; FONT-SIZE: 9pt; OVERFLOW: hidden; CURSOR: pointer; TEXT-DECORATION: none; PADDING-TOP: 3px; -moz-outline: 0 none
}
.eos-popmenu A.eos-popmenu-item:hover {
	BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left center; TEXT-DECORATION: none !important
}
.eos-popmenu A.eos-popmenu-item:hover TABLE TR TD.overLeft {
	BACKGROUND-IMAGE: url(../images/popmenu/popmenu_over_left.gif); BACKGROUND-POSITION: left center
}
.eos-popmenu A.eos-popmenu-item:hover TABLE TR TD.overRight {
	BACKGROUND-IMAGE: url(../images/popmenu/popmenu_over_right.gif); BACKGROUND-POSITION: left center
}
.eos-popmenu A.eos-popmenu-item:hover TABLE TR TD.overCenter {
	BACKGROUND-IMAGE: url(../images/popmenu/popmenu_over.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left center; COLOR: #ffffff
}
.eos-combo-select {
	BORDER-BOTTOM: #447799 1px solid; BORDER-LEFT: #447799 1px solid; BACKGROUND-COLOR: transparent; DISPLAY: inline; BORDER-TOP: #447799 1px solid; BORDER-RIGHT: #447799 1px solid
}
.eos-combo-select-editor-text {
	BORDER-BOTTOM: #9bbacd 1px solid; BORDER-LEFT: #9bbacd 1px solid; HEIGHT: 22px; BORDER-TOP: #9bbacd 1px solid; BORDER-RIGHT: #9bbacd 1px solid
}
.eos-combo-select TR {
	BORDER-BOTTOM: #447799 1px solid; BORDER-LEFT: #447799 1px solid; BACKGROUND-COLOR: transparent; BORDER-TOP: #447799 1px solid; BORDER-RIGHT: #447799 1px solid
}
.eos-combo-select TR TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px !important; BACKGROUND-COLOR: transparent; MARGIN: 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; HEIGHT: 20px !important; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px !important
}
.eos-combo-select INPUT {
	BORDER-BOTTOM: #447799 0px solid; BORDER-LEFT: #447799 0px solid; BORDER-TOP: #447799 0px solid; BORDER-RIGHT: #447799 0px solid
}
.eos-combo-select-left {
	BORDER-RIGHT: #447799 1px solid
}
.eos-combo-select-right {
	WIDTH: 17px
}
.eos-combo-select-right DIV {
	WIDTH: 17px
}
.eos-combo-btn {
	BACKGROUND-IMAGE: url(../images/basic/select_arrow.gif); BORDER-BOTTOM: #447799 0px solid; FILTER: alpha(opacity = 50); BORDER-LEFT: #447799 0px solid; BACKGROUND-COLOR: white; WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px center; HEIGHT: 20px; BORDER-TOP: #447799 0px solid; CURSOR: pointer; BORDER-RIGHT: #447799 0px solid; -moz-opacity: 0.5; opacity: 0.5
}
.eos-combo-btn-over {
	FILTER: alpha(opacity = 100); BACKGROUND-POSITION: -16px center; -moz-opacity: 1; opacity: 1
}
.eos-combo-optiondiv {
	POSITION: absolute; BACKGROUND-COLOR: transparent; DISPLAY: none; FONT-SIZE: 12px
}
.eos-combo-optiondiv-core {
	BORDER-BOTTOM: #9bbacd 1px solid; BORDER-LEFT: #9bbacd 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 100%; FLOAT: left; HEIGHT: 100%; OVERFLOW: auto; BORDER-TOP: #9bbacd 1px solid; BORDER-RIGHT: #9bbacd 1px solid
}
.eos-combo-optiontable {
	
}
.eos-combo-optiontable TD {
	HEIGHT: 21px; FONT-SIZE: 12px
}
.eos-combo-optiontable TD DIV {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.eos-combo-optiontable .eos-overoption {
	BACKGROUND-COLOR: #9bbacd; CURSOR: pointer
}
.eos-combo-optiontable .eos-selectoption {
	BACKGROUND-IMAGE: url(../images/comboselect/combo_select_bg.gif); BACKGROUND-COLOR: #9bbacd; CURSOR: pointer
}
.eos-grid-container {
	BORDER-BOTTOM: #9bbace 1px solid; POSITION: relative; BORDER-LEFT: #9bbace 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; TABLE-LAYOUT: fixed; BORDER-TOP: #9bbace 1px solid; BORDER-RIGHT: #9bbace 1px solid; PADDING-TOP: 0px
}
.eos-grid-container TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.eos-grid {
	BORDER-BOTTOM: #9bbace 0px solid; POSITION: relative; BORDER-LEFT: #9bbace 0px solid; OVERFLOW: hidden; BORDER-TOP: #9bbace 0px solid; BORDER-RIGHT: #9bbace 0px solid
}
.eos-b-ie {
	
}
.eos-b-safari {
	
}
.eos-b-ie .eos-grid-container {
	TABLE-LAYOUT: fixed
}
.eos-viewport {
	BORDER-BOTTOM: red 0px solid; POSITION: relative; BORDER-LEFT: red 0px solid; BACKGROUND: url(../images/datacell/grid_head_bg.gif) repeat-x 50% top; HEIGHT: 100%; OVERFLOW: hidden; BORDER-TOP: red 0px solid; TOP: 0px; BORDER-RIGHT: red 0px solid; LEFT: 0px; qwidth: 100%
}
.eos-head-div {
	Z-INDEX: 2; BORDER-BOTTOM: red 0px solid; POSITION: relative; BORDER-LEFT: red 0px solid; PADDING-LEFT: 0px; WIDTH: 100%; BACKGROUND: url(../images/datacell/grid_head_bg.gif) #ebeadb repeat-x; OVERFLOW: hidden; BORDER-TOP: red 0px solid; BORDER-RIGHT: red 0px solid
}
.eos-body-div {
	SCROLLBAR-ARROW-COLOR: #999999; POSITION: relative; SCROLLBAR-FACE-COLOR: #dddddd; WIDTH: 100%; SCROLLBAR-DARKSHADOW-COLOR: #c0c0c0; HEIGHT: 100%; SCROLLBAR-HIGHLIGHT-COLOR: #dddddd; SCROLLBAR-SHADOW-COLOR: #dddddd; OVERFLOW: auto; SCROLLBAR-TRACK-COLOR: #e9e9e9; SCROLLBAR-3DLIGHT-COLOR: #c0c0c0
}
.eos-head-table {
	MARGIN-LEFT: 0px
}
.eos-table {
	MARGIN-LEFT: 0px
}
.eos-b-ie .eos-head-table {
	TABLE-LAYOUT: fixed
}
.eos-b-ie .eos-table {
	TABLE-LAYOUT: fixed
}
.eos-hd-row {
	
}
.eos-row {
	BACKGROUND-COLOR: #f1f5f6
}
.eos-hd-row TD {
	BORDER-BOTTOM: #e5e5e5 1px solid; TEXT-OVERFLOW: ellipsis; FONT: 12px tahoma, verdana, arial, helvetica, sans-serif; WORD-WRAP: normal; WHITE-SPACE: nowrap; HEIGHT: 23px; VERTICAL-ALIGN: top; OVERFLOW: hidden; WORD-BREAK: keep-all; BORDER-RIGHT: #e5e5e5 1px solid; -moz-outline: none; -o-text-overflow: ellipsis; -moz-user-focus: normal
}
.eos-row TD {
	BORDER-BOTTOM: #e5e5e5 1px solid; TEXT-OVERFLOW: ellipsis; FONT: 12px tahoma, verdana, arial, helvetica, sans-serif; WORD-WRAP: normal; WHITE-SPACE: nowrap; HEIGHT: 23px; VERTICAL-ALIGN: top; OVERFLOW: hidden; WORD-BREAK: keep-all; BORDER-RIGHT: #e5e5e5 1px solid; -moz-outline: none; -o-text-overflow: ellipsis; -moz-user-focus: normal
}
.eos-b-ie .eos-row TD {
	HEIGHT: 25px
}
.eos-hd-row TD {
	HEIGHT: 21px
}
.eos-b-ie .eos-hd-row TD {
	HEIGHT: 23px
}
.eos-hd-row TD {
	BORDER-BOTTOM: #bfbfbf 1px solid; BACKGROUND: url(../images/datacell/grid_head_bg.gif) #ebeadb repeat-x; BORDER-RIGHT: #bfbfbf 1px solid
}
.eos-hd-row .eos-hd-row-over {
	BACKGROUND: url(../images/datacell/grid_head_bg_o.gif) #ebeadb repeat-x
}
.eos-row-even {
	BACKGROUND-COLOR: #ffffff
}
.eos-row-over {
	BACKGROUND-COLOR: #ddeeff
}
.eos-row-over TD.eos-cell-group {
	BACKGROUND-COLOR: #eef6ff
}
.eos-row-selected {
	BACKGROUND-COLOR: #deeff7
}
.eos-cell-group {
	BACKGROUND-COLOR: #eef6ff
}
.eos-hd-inner {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 2px; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden; PADDING-TOP: 5px; -o-text-overflow: ellipsis
}
.eos-inner {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 2px; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden; PADDING-TOP: 5px; -o-text-overflow: ellipsis
}
.eos-hd-inner {
	POSITION: relative; HEIGHT: 19px; CURSOR: default; -moz-user-select: none; -khtml-user-select: none; q-text-align: center
}
.eos-b-ie .eos-hd-inner {
	WIDTH: 100%
}
.eos-b-ie .eos-inner {
	WIDTH: 100%
}
.eos-b-ie .eos-hd-inner {
	HEIGHT: 100%
}
.eos-b-safari .eos-hd-inner {
	HEIGHT: 100%
}
.eos-cell-modefied {
	BACKGROUND-IMAGE: url(../images/datacell/grid_cell_modefied.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top
}
.eos-row TD.eos-index-col {
	BORDER-BOTTOM: #bfbfbf 1px solid; TEXT-ALIGN: right; FONT: 9px Arial, Helvetica, sans-serif; BACKGROUND: url(../images/datacell/grid_index_col_bg.gif) repeat-y; LETTER-SPACING: -1px; CURSOR: pointer; BORDER-RIGHT: #bfbfbf 1px solid; qfont: 10px arial, tahoma, verdana, helvetica, sans-serif
}
.eos-row TD.eos-index-col .eos-inner {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 1px
}
.eos-freeze-div {
	Z-INDEX: 13; POSITION: absolute; OVERFLOW: hidden; TOP: 0px; BORDER-RIGHT: #3f8bbc 1px solid
}
.eos-row TD.eos-row-modefied {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #ffbb99
}
.eos-row-modefied {
	BACKGROUND-COLOR: #ffeee0
}
.eos-hd-tool {
	Z-INDEX: 2; POSITION: absolute; DISPLAY: block; HEIGHT: 20px; TOP: 2px; RIGHT: 0px
}
.eos-hd-tool SPAN {
	FLOAT: left; FONT-SIZE: 1px
}
.eos-hd-split {
	WIDTH: 6px; BACKGROUND: url(../images/datacell/grid_split.gif) repeat-y 3px center; HEIGHT: 16px; OVERFLOW: hidden; qdisplay: block
}
.eos-b-ie .eos-hd-split {
	BACKGROUND-POSITION: 4px center
}
.eos-split-line {
	Z-INDEX: 13; POSITION: absolute; WIDTH: 2px; DISPLAY: none; BACKGROUND: #cccccc; HEIGHT: 50px; OVERFLOW: hidden; TOP: 0px; CURSOR: col-resize; -moz-user-select: none; -khtml-user-select: none
}
.eos-hd-icon {
	POSITION: relative; WIDTH: 11px; DISPLAY: block; BACKGROUND-POSITION: 0px 0px; HEIGHT: 10px; TOP: 3px
}
.eos-hd-asc {
	BACKGROUND: url(../images/datacell/grid_sort_asc.gif) no-repeat
}
.eos-hd-desc {
	BACKGROUND: url(../images/datacell/grid_sort_desc.gif) no-repeat
}
.eos-sorttable-asc {
	POSITION: absolute; WIDTH: 11px; DISPLAY: block; BACKGROUND: url(../images/datacell/grid_sort_asc.gif) no-repeat; HEIGHT: 10px; TOP: 3px; RIGHT: 1px
}
.eos-sorttable-desc {
	POSITION: absolute; WIDTH: 11px; DISPLAY: block; BACKGROUND: url(../images/datacell/grid_sort_desc.gif) no-repeat; HEIGHT: 10px; TOP: 3px; RIGHT: 1px
}
.eos-sorttable-default {
	POSITION: absolute; WIDTH: 11px; DISPLAY: block; BACKGROUND: no-repeat; HEIGHT: 10px; TOP: 3px; RIGHT: 1px
}
.eos-grid-mask {
	Z-INDEX: 16; BORDER-BOTTOM: red 0px solid; POSITION: absolute; FILTER: alpha(opacity = 0); BORDER-LEFT: red 0px solid; BACKGROUND-COLOR: #eeeeee; DISPLAY: none; BORDER-TOP: red 0px solid; TOP: 0px; BORDER-RIGHT: red 0px solid; LEFT: 0px; -moz-opacity: 0.0; opacity: 0.0
}
.eos-grid-toolbar {
	BORDER-BOTTOM: #9bbace 0px solid; BORDER-LEFT: #9bbace 0px solid; BACKGROUND: url(../images/datacell/grid_toolbar_bg.gif); HEIGHT: 27px; BORDER-TOP: #9bbace 0px solid; BORDER-RIGHT: #9bbace 0px solid
}
.eos-tool-zone {
	MARGIN: 2px 5px 2px 3px; FLOAT: left; FONT-SIZE: 12px
}
.eos-tool-zone A {
	WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; FLOAT: left; HEIGHT: 20px
}
.eos-tool-zone A:hover {
	BACKGROUND: url(../images/datacell/grid_tool_bg.gif)
}
.eos-tool-zone A DIV {
	WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; FLOAT: left; HEIGHT: 20px; CURSOR: pointer
}
.eos-grid-tool-pageinfo {
	FLOAT: left
}
.eos-grid-tool-first {
	BACKGROUND: url(../images/datacell/grid_tool_first.gif)
}
.eos-grid-tool-prev {
	BACKGROUND: url(../images/datacell/grid_tool_prev.gif)
}
.eos-grid-tool-next {
	BACKGROUND: url(../images/datacell/grid_tool_next.gif)
}
.eos-grid-tool-last {
	BACKGROUND: url(../images/datacell/grid_tool_last.gif)
}
.eos-grid-tool-goto {
	BACKGROUND: url(../images/datacell/grid_tool_goto.gif); FLOAT: left
}
.eos-grid-tool-goto-input {
	BORDER-BOTTOM: #9bbace 1px solid; BORDER-LEFT: #9bbace 1px solid; MARGIN: 1px 0px 0px 2px; WIDTH: 25px; FONT: 11px tahoma, verdana, arial, helvetica, sans-serif; FLOAT: left; HEIGHT: 16px; VERTICAL-ALIGN: top; BORDER-TOP: #9bbace 1px solid; BORDER-RIGHT: #9bbace 1px solid
}
.eos-pagesize-select {
	BORDER-BOTTOM: #558899 1px solid; BORDER-LEFT: #558899 1px solid; PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; WIDTH: 41px; PADDING-RIGHT: 0px; FONT: 11px tahoma, verdana, arial, helvetica, sans-serif; HEIGHT: 16px; MARGIN-LEFT: 2px; VERTICAL-ALIGN: middle; BORDER-TOP: #558899 1px solid; BORDER-RIGHT: #558899 1px solid; PADDING-TOP: 0px; qdisplay: block; qfloat: left
}
.eos-b-ie .eos-pagesize-select {
	WIDTH: 45px; HEIGHT: 16px
}
.eos-grid-tool-add {
	BACKGROUND: url(../images/datacell/grid_tool_add.gif)
}
.eos-grid-tool-del {
	BACKGROUND: url(../images/datacell/grid_tool_del.gif)
}
.eos-grid-tool-save {
	BACKGROUND: url(../images/datacell/grid_tool_save.gif)
}
.eos-grid-tool-reload {
	BACKGROUND: url(../images/datacell/grid_tool_reload.gif)
}
TD.eos-cell-actived {
	BACKGROUND-COLOR: #bbccee
}
.eos-panel-title {
	BACKGROUND-IMAGE: url(../images/panel/head_bg.png); FONT-SIZE: 9pt
}
.eos-panel-title-right {
	BACKGROUND-IMAGE: url(../images/panel/head_bg_right.gif); MARGIN-TOP: 0px; WIDTH: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; FLOAT: left; HEIGHT: 20px; OVERFLOW: hidden
}
.eos-panel-title-left {
	BACKGROUND-IMAGE: url(../images/panel/head_bg_left.gif); MARGIN-TOP: 0px; WIDTH: 4px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; FLOAT: left; HEIGHT: 20px; OVERFLOW: hidden
}
.eos-panel-table {
	FONT-SIZE: 9pt
}
.eos-panel-body {
	BORDER-BOTTOM: #c1d6e4 1px solid; BORDER-LEFT: #c1d6e4 1px solid; BACKGROUND: #eaf0f1; BORDER-TOP: #c1d6e4 1px solid; BORDER-RIGHT: #c1d6e4 1px solid
}
.PANEL_OPEN_BUTTON {
	BACKGROUND-IMAGE: url(../images/panel/arrow_down.gif); WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT: 20px; CURSOR: hand
}
.PANEL_CLOSE_BUTTON {
	BACKGROUND-IMAGE: url(../images/panel/arrow_right.gif); WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT: 20px; CURSOR: hand
}
.PANEL_HEAD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-LEFT: 20px; BACKGROUND: #4c96a6; HEIGHT: 22px; COLOR: #000; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.tab {
	CLEAR: both
}
.tab .button-next {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_next.gif); WIDTH: 20px; HEIGHT: 20px; OVERFLOW: hidden
}
.tab .button-next-hover {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_next_hover.gif); WIDTH: 20px; HEIGHT: 20px; OVERFLOW: hidden
}
.tab .button-privous {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_privous.gif); WIDTH: 20px; HEIGHT: 20px; OVERFLOW: hidden
}
.tab .button-privous-hover {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_privous_hover.gif); WIDTH: 20px; HEIGHT: 20px; OVERFLOW: hidden
}
.tab .nav {
	CURSOR: pointer
}
.tab .close {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_close.gif); WIDTH: 11px; HEIGHT: 11px; OVERFLOW: hidden
}
.tab .close:hover {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_close_hover.gif); WIDTH: 11px; HEIGHT: 11px; OVERFLOW: hidden
}
.tab .reload {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_reload.gif); WIDTH: 11px; HEIGHT: 11px; OVERFLOW: hidden
}
.tab .reload:hover {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_reload_hover.gif); WIDTH: 11px; HEIGHT: 11px; OVERFLOW: hidden
}
.tab .right-top {
	BORDER-BOTTOM: #b0d7ff 1px solid
}
.tab .right-buttom {
	BORDER-TOP: #b0d7ff 1px solid
}
.tab .tab-body-down {
	BORDER-LEFT: #b0d7ff 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #b0d7ff 1px solid; BORDER-RIGHT: #b0d7ff 1px solid; PADDING-TOP: 2px
}
.tab .tab-body {
	BORDER-BOTTOM: #b0d7ff 1px solid; BORDER-LEFT: #b0d7ff 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #b0d7ff 0px solid; BORDER-RIGHT: #b0d7ff 1px solid; PADDING-TOP: 2px
}
.tab .active {
	HEIGHT: 100%; CURSOR: hand
}
.tab .active .left {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_active_left.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%; HEIGHT: 21px
}
.tab .active .mid {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_active_center.gif); WHITE-SPACE: nowrap; HEIGHT: 21px; COLOR: #00368f; WORD-BREAK: keep-all
}
.tab .active .right {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_active_right.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.tab .nomal {
	BORDER-BOTTOM: #b0d7ff 1px solid; HEIGHT: 100%; CURSOR: hand
}
.tab .nomal .left {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_nomal_left.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%; HEIGHT: 21px
}
.tab .nomal .mid {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_nomal_center.gif); WHITE-SPACE: nowrap; HEIGHT: 21px; COLOR: #6d91cb; WORD-BREAK: keep-all
}
.tab .nomal .right {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_nomal_right.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.tab .hover {
	BORDER-BOTTOM: #b0d7ff 1px solid; HEIGHT: 100%; CURSOR: hand
}
.tab .hover .left {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_hover_left.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%; HEIGHT: 21px
}
.tab .hover .mid {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_hover_center.gif); WHITE-SPACE: nowrap; HEIGHT: 21px; COLOR: #6d91cb; WORD-BREAK: keep-all
}
.tab .hover .right {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_hover_right.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.tab .disabled {
	BORDER-BOTTOM: #b0d7ff 1px solid; HEIGHT: 100%; CURSOR: hand
}
.tab .disabled .left {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_disabled_left.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%; HEIGHT: 21px
}
.tab .disabled .mid {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_disabled_center.gif); WHITE-SPACE: nowrap; HEIGHT: 21px; COLOR: #6d91cb; WORD-BREAK: keep-all
}
.tab .disabled .right {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_disabled_right.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.tab .active-down {
	HEIGHT: 100%; CURSOR: hand
}
.tab .active-down .left {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_active_left_down.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%; HEIGHT: 21px
}
.tab .active-down .mid {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_active_center_down.gif); WHITE-SPACE: nowrap; HEIGHT: 21px; COLOR: #00368f; WORD-BREAK: keep-all
}
.tab .active-down .right {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_active_right_down.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.tab .nomal-down {
	HEIGHT: 100%; BORDER-TOP: #b0d7ff 1px solid; CURSOR: hand
}
.tab .nomal-down .left {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_nomal_left_down.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%; HEIGHT: 21px
}
.tab .nomal-down .mid {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_nomal_center_down.gif); WHITE-SPACE: nowrap; HEIGHT: 21px; COLOR: #6d91cb; WORD-BREAK: keep-all
}
.tab .nomal-down .right {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_nomal_right_down.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.tab .hover-down {
	HEIGHT: 100%; BORDER-TOP: #b0d7ff 1px solid; CURSOR: hand
}
.tab .hover-down .left {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_hover_left_down.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%; HEIGHT: 21px
}
.tab .hover-down .mid {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_hover_center_down.gif); WHITE-SPACE: nowrap; HEIGHT: 21px; COLOR: #6d91cb; WORD-BREAK: keep-all
}
.tab .hover-down .right {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_hover_right_down.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.tab .disabled-down {
	HEIGHT: 100%; BORDER-TOP: #b0d7ff 1px solid; CURSOR: hand
}
.tab .disabled-down .left {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_disabled_left_down.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%; HEIGHT: 21px
}
.tab .disabled-down .mid {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_disabled_center_down.gif); WHITE-SPACE: nowrap; HEIGHT: 21px; COLOR: #6d91cb; WORD-BREAK: keep-all
}
.tab .disabled-down .right {
	BACKGROUND-IMAGE: url(../images/tabs/tabs_disabled_right_down.gif); WIDTH: 7px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.eos-table-selectrow {
	BACKGROUND-COLOR: #deeff7
}
.dict_comp {
	BORDER-BOTTOM: #9bbace 1px solid; BORDER-LEFT: #9bbace 1px solid; WHITE-SPACE: nowrap; BACKGROUND: #ffffff; HEIGHT: 22px; FONT-SIZE: 9pt; BORDER-TOP: #9bbace 1px solid; BORDER-RIGHT: #9bbace 1px solid
}
.rtree-popmenu-item {
	PADDING-LEFT: 27px; HEIGHT: 25px; FONT-SIZE: 9pt; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 6px
}
.rtree-popmenu-item-line {
	BORDER-BOTTOM: #ffffff 1px solid; OVERFLOW-Y: hidden; BACKGROUND-COLOR: #e0e0e0; MARGIN: 0px 3px 0px 2px; DISPLAY: block; HEIGHT: 2px; FONT-SIZE: 1px
}
.rtree-popmenu-item-mouseover {
	BACKGROUND-IMAGE: url(../images/popmenu/popmenu_over.gif)
}
.RC_TREE_DRAGNODE {
	BORDER-BOTTOM: #c1d6e4 1px solid; BORDER-LEFT: #c1d6e4 1px solid; BACKGROUND: white; BORDER-TOP: #c1d6e4 1px solid; BORDER-RIGHT: #c1d6e4 1px solid
}
.eosException {
	LINE-HEIGHT: normal; FONT-VARIANT: normal; FONT-STYLE: normal; WIDTH: 100%; BORDER-COLLAPSE: collapse; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.eos-ic-container {
	DISPLAY: inline; FONT: 9pt arial
}
.eos-ic-button {
	WIDTH: 17px; VERTICAL-ALIGN: bottom; CURSOR: pointer
}
.eosException TR TD {
	BORDER-BOTTOM: #C3C3C3 1px solid; BORDER-LEFT: #C3C3C3 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; HEIGHT: 30px; BORDER-TOP: #C3C3C3 1px solid; BORDER-RIGHT: #C3C3C3 1px solid; PADDING-TOP: 0px
}
.eosException TR TH {
	BORDER-BOTTOM: #C3C3C3 1px solid; BORDER-LEFT: #C3C3C3 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; HEIGHT: 30px; BORDER-TOP: #C3C3C3 1px solid; BORDER-RIGHT: #C3C3C3 1px solid; PADDING-TOP: 0px
}
.eos_dict_class {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.eos_dict_class TR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.eos_dict_class TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.eos_layout_class {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-COLLAPSE: collapse !important; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.eos_layout_class_tr {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.eos_layout_class_td {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.eos-shadow-right-top {
	BACKGROUND-IMAGE: url(../images/shadow/right_top.png)
}
.eos-shadow-right {
	BACKGROUND-IMAGE: url(../images/shadow/right.png)
}
.eos-shadow-bottom {
	BACKGROUND-IMAGE: url(../images/shadow/bottom.png)
}
.eos-shadow-left-bottom {
	BACKGROUND-IMAGE: url(../images/shadow/left_bottom.png)
}
.eos-shadow-corner {
	BACKGROUND-IMAGE: url(../images/shadow/corner.png)
}
.eos-button {
	BORDER-BOTTOM: #bfbfbf 1px solid; BORDER-LEFT: #bfbfbf 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 50px; PADDING-RIGHT: 1px; DISPLAY: inline; BACKGROUND: #fff; HEIGHT: 20px; OVERFLOW: hidden; BORDER-TOP: #bfbfbf 1px solid; BORDER-RIGHT: #bfbfbf 1px solid; PADDING-TOP: 1px
}
.eos-button-inner {
	BACKGROUND-IMAGE: url(../images/basic/button_bg.gif); BORDER-BOTTOM: #9ac5e4 0px solid; BORDER-LEFT: #9ac5e4 0px solid; WIDTH: 100%; HEIGHT: 100%; FONT-SIZE: 9pt; OVERFLOW: hidden; BORDER-TOP: #9ac5e4 0px solid; CURSOR: pointer; BORDER-RIGHT: #9ac5e4 0px solid; PADDING-TOP: 2px
}
.eos-button-ff {
	
}
.eos-button-inner-ff {
	WIDTH: 46px; PADDING-TOP: 0px
}
.eos-button-over {
	BORDER-BOTTOM: #9ac5e4 1px solid; BORDER-LEFT: #9ac5e4 1px solid; BORDER-TOP: #9ac5e4 1px solid; BORDER-RIGHT: #9ac5e4 1px solid
}
.eos-button-inner-over {
	BACKGROUND-IMAGE: url(../images/basic/button_over_bg.gif)
}
.eos-button-down {
	
}
.eos-button-inner-down {
	PADDING-TOP: 3px
}
.eos-dialog {
	
}
.eos-dialog .left-top-conner {
	BACKGROUND-IMAGE: url(../images/dialog/leftTopConner.png); WIDTH: 7px; HEIGHT: 7px
}
.eos-dialog .right-top-conner {
	BACKGROUND-IMAGE: url(../images/dialog/rightTopConner.png); WIDTH: 7px; HEIGHT: 7px
}
.eos-dialog .left-bottom-conner {
	BACKGROUND-IMAGE: url(../images/dialog/leftBottomConner.png); WIDTH: 7px; HEIGHT: 7px
}
.eos-dialog .right-bottom-conner {
	BACKGROUND-IMAGE: url(../images/dialog/rightBottomConner.png); WIDTH: 7px; HEIGHT: 7px; CURSOR: se-resize
}
.eos-dialog .top {
	BACKGROUND-IMAGE: url(../images/dialog/top.png)
}
.eos-dialog .bottom {
	BACKGROUND-IMAGE: url(../images/dialog/bottom.png); CURSOR: s-resize
}
.eos-dialog .left {
	BACKGROUND-IMAGE: url(../images/dialog/left.png); WIDTH: 7px
}
.eos-dialog .right {
	BACKGROUND-IMAGE: url(../images/dialog/right.png); WIDTH: 7px; CURSOR: e-resize
}
.ieBlank {
	WIDTH: 7px; HEIGHT: 7px; OVERFLOW: hidden
}
