<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="myMenuServiceImpl" class="com.glaf.base.modules.workspace.service.impl.MyMenuServiceImpl">
		<property name="abstractDao">
			<ref bean="abstractDao" />
		</property>
	</bean>

	<bean id="myMenuProxy" parent="baseTxService">
		<property name="target">
			<ref bean="myMenuServiceImpl" />
		</property>
	</bean>

	<bean id="myMenuService" parent="baseTxService">
		<property name="target">
			<ref bean="myMenuServiceImpl" />
		</property>
	</bean>

	<bean id="messageServiceImpl" class="com.glaf.base.modules.workspace.service.impl.MessageServiceImpl">
		<property name="abstractDao">
			<ref bean="abstractDao" />
		</property>
	</bean>

	<bean id="messageProxy" parent="baseTxService">
		<property name="target">
			<ref bean="messageServiceImpl" />
		</property>
	</bean>

	<bean id="messageService" parent="baseTxService">
		<property name="target">
			<ref bean="messageServiceImpl" />
		</property>
	</bean>

</beans>