<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="todoDAO" class="com.glaf.base.modules.todo.dao.TodoDAOImpl">
		<property name="sessionFactory">
			<ref bean="sysSessionFactory" />
		</property>
	</bean>

	<!--service -->
	<bean id="todoServiceImpl" class="com.glaf.base.modules.todo.service.TodoServiceImpl">
		<property name="abstractDao">
			<ref bean="abstractDao" />
		</property>

		<property name="todoDAO">
			<ref bean="todoDAO" />
		</property>

		<property name="sysUserService">
			<ref bean="sysUserService" />
		</property>

		<property name="sysRoleService">
			<ref bean="sysRoleService" />
		</property>

		<property name="sysDepartmentService">
			<ref bean="sysDepartmentService" />
		</property>

		<property name="workCalendarService">
			<ref bean="workCalendarService" />
		</property>

	</bean>

	<bean id="todoService" parent="baseTxService">
		<property name="target">
			<ref bean="todoServiceImpl" />
		</property>
	</bean>

	<bean id="todoJobBean" class="com.glaf.base.modules.todo.service.TodoJobBean">
		<property name="todoService">
			<ref bean="todoService" />
		</property>
		<property name="workCalendarService">
			<ref bean="workCalendarService" />
		</property>
		<property name="sysUserService">
			<ref bean="sysUserService" />
		</property>
	</bean>

</beans>