<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--service -->

	<bean id="attachmentServiceImpl" class="com.glaf.base.modules.others.service.impl.AttachmentServiceImpl" >
		<property name="abstractDao">
			<ref bean="abstractDao"/>
		</property>
	</bean>

	<bean id="attachmentProxy" parent="baseTxService">
		<property name="target">
			<ref bean="attachmentServiceImpl"/>
		</property>
	</bean>

	<bean id="attachmentService" parent="baseTxService">
		<property name="target">
			<ref bean="attachmentServiceImpl"/>
		</property>
	</bean>

	<bean id="auditServiceImpl" class="com.glaf.base.modules.others.service.impl.AuditServiceImpl">
		<property name="abstractDao">
			<ref bean="abstractDao" />
		</property>
	</bean>

	<bean id="auditProxy" parent="baseTxService">
		<property name="target">
			<ref bean="auditServiceImpl" />
		</property>
	</bean>

	<bean id="auditService" parent="baseTxService">
		<property name="target">
			<ref bean="auditServiceImpl" />
		</property>
	</bean>

	<bean id="workCalendarServiceImpl" class="com.glaf.base.modules.others.service.impl.WorkCalendarServiceImpl">
		<property name="abstractDao">
			<ref bean="abstractDao" />
		</property>
	</bean>

	<bean id="workCalendarProxy" parent="baseTxService">
		<property name="target">
			<ref bean="workCalendarServiceImpl" />
		</property>
	</bean>

	<bean id="workCalendarService" parent="baseTxService">
		<property name="target">
			<ref bean="workCalendarServiceImpl" />
		</property>
	</bean>

</beans>