<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.batch.mapper.JobExecutionContextMapper">

	<resultMap id="jobExecutionContextResultMap" type="com.glaf.batch.domain.JobExecutionContext">
		<id property="jobExecutionId" column="job_execution_id" jdbcType="BIGINT" />
		<result property="shortContext" column="short_context"
			jdbcType="VARCHAR" />
		<result property="serializedContext" column="serialized_context"
			jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertJobExecutionContext" parameterType="com.glaf.batch.domain.JobExecutionContext">
		insert into JOB_EXECUTION_CONTEXT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			job_execution_id
			<if test="shortContext != null">
				,short_context
			</if>
			<if test="serializedContext != null">
				,serialized_context
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{jobExecutionId, jdbcType=BIGINT}

			<if test="shortContext != null">
				,#{shortContext, jdbcType=VARCHAR}
			</if>
			<if test="serializedContext != null">
				,#{serializedContext, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>


	<update id="updateJobExecutionContext" parameterType="com.glaf.batch.domain.JobExecutionContext">
		update
		JOB_EXECUTION_CONTEXT
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="shortContext != null">
				short_context = #{shortContext, jdbcType=VARCHAR},
			</if>
			<if test="serializedContext != null">
				serialized_context = #{serializedContext,
				jdbcType=VARCHAR},
			</if>
		</trim>
		where
		job_execution_id = #{jobExecutionId, jdbcType=BIGINT}

	</update>


	<delete id="deleteJobExecutionContextById" parameterType="long">
		delete from JOB_EXECUTION_CONTEXT
		where job_execution_id = #{id}
	</delete>


	<select id="getJobExecutionContextById" parameterType="long"
		resultMap="jobExecutionContextResultMap">
		select * from JOB_EXECUTION_CONTEXT where
		job_execution_id = #{id}
	</select>

</mapper>