<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.batch.mapper.JobParamMapper">

	<resultMap id="jobParamResultMap" type="com.glaf.batch.domain.JobParam">
		<id property="id" column="id" jdbcType="BIGINT" />
		<result property="jobInstanceId" column="job_instance_id"
			jdbcType="BIGINT" />
		<result property="typeCd" column="type_cd" jdbcType="VARCHAR" />
		<result property="keyName" column="key_name" jdbcType="VARCHAR" />
		<result property="stringVal" column="string_val" jdbcType="VARCHAR" />
		<result property="dateVal" column="date_val" jdbcType="TIMESTAMP" />
		<result property="intVal" column="int_val" jdbcType="INTEGER" />
		<result property="longVal" column="long_val" jdbcType="BIGINT" />
		<result property="doubleVal" column="double_val" jdbcType="DOUBLE" />
	</resultMap>


	<insert id="insertJobParam" parameterType="com.glaf.batch.domain.JobParam">
		insert into JOB_PARAMS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id, job_instance_id , type_cd, key_name
			<if test="stringVal != null">
				,string_val
			</if>
			<if test="dateVal != null">
				,date_val
			</if>
			<if test="intVal != null">
				,int_val
			</if>
			<if test="longVal != null">
				,long_val
			</if>
			<if test="doubleVal != null">
				,double_val
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT},
			#{jobInstanceId, jdbcType=BIGINT},
			#{typeCd, jdbcType=VARCHAR},
			#{keyName, jdbcType=VARCHAR}
			<if test="stringVal != null">
				,#{stringVal, jdbcType=VARCHAR}
			</if>
			<if test="dateVal != null">
				,#{dateVal, jdbcType=TIMESTAMP}
			</if>
			<if test="intVal != null">
				,#{intVal, jdbcType=INTEGER}
			</if>
			<if test="longVal != null">
				,#{longVal, jdbcType=BIGINT}
			</if>
			<if test="doubleVal != null">
				,#{doubleVal, jdbcType=DOUBLE}
			</if>
		</trim>
	</insert>


	<delete id="deleteJobParamsByJobInstanceId" parameterType="long">
		delete from JOB_PARAMS
		where job_instance_id = #{jobInstanceId}
	</delete>


	<select id="getJobParamsByJobInstanceId" parameterType="long"
		resultMap="jobParamResultMap">
		select * from JOB_PARAMS
		where job_instance_id = #{jobInstanceId}
	</select>

</mapper>