<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.batch.mapper.StepExecutionContextMapper">

	<resultMap id="stepExecutionContextResultMap" type="com.glaf.batch.domain.StepExecutionContext">
		<id property="stepExecutionId" column="step_execution_id" jdbcType="BIGINT" />
		<result property="shortContext" column="short_context"
			jdbcType="VARCHAR" />
		<result property="serializedContext" column="serialized_context"
			jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertStepExecutionContext" parameterType="com.glaf.batch.domain.StepExecutionContext">
		insert into JOB_STEP_EXECUTION_CONTEXT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			step_execution_id
			<if test="shortContext != null">
				,short_context
			</if>
			<if test="serializedContext != null">
				,serialized_context
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{stepExecutionId, jdbcType=BIGINT}

			<if test="shortContext != null">
				,#{shortContext, jdbcType=VARCHAR}
			</if>
			<if test="serializedContext != null">
				,#{serializedContext, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>


	<update id="updateStepExecutionContext" parameterType="com.glaf.batch.domain.StepExecutionContext">
		update
		JOB_STEP_EXECUTION_CONTEXT
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="shortContext != null">
				short_context = #{shortContext, jdbcType=VARCHAR},
			</if>
			<if test="serializedContext != null">
				serialized_context = #{serializedContext,
				jdbcType=VARCHAR},
			</if>
		</trim>
		where
		step_execution_id = #{stepExecutionId, jdbcType=BIGINT}

	</update>


	<delete id="deleteStepExecutionContextById" parameterType="long">
		delete from JOB_STEP_EXECUTION_CONTEXT
		where step_execution_id = #{id}
	</delete>


	<select id="getStepExecutionContextById" parameterType="long"
		resultMap="stepExecutionContextResultMap">
		select * from JOB_STEP_EXECUTION_CONTEXT
		where
		step_execution_id = #{id}
	</select>

</mapper>