<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv="Content-Type" content="text/html; charset=gb2312">
<BODY>
<TABLE height="400" cellSpacing="0" cellPadding="0" width="100%" border="0">
  <TBODY>
  <TR>
    <TD vAlign="top" align="middle">
      <TABLE style="BACKGROUND-REPEAT: repeat-x; HEIGHT: 131px" cellSpacing="0" 
      cellPadding="0" width="99%" background="#{serviceUrl}/workflow/mail/5/images/busns_001_coo_05.gif" 
      border="0">
        <TBODY>
        <TR>
          <TD style="BACKGROUND-REPEAT: no-repeat" width="282" 
          background="#{serviceUrl}/workflow/mail/5/images/busns_001_coo_01.jpg">&nbsp;</TD>
          <TD>&nbsp;</TD>
          <TD style="BACKGROUND-REPEAT: no-repeat" width="279" 
          background="#{serviceUrl}/workflow/mail/5/images/busns_001_coo_06.jpg">&nbsp;</TD></TR></TBODY></TABLE>
      <TABLE cellSpacing="0" cellPadding="0" width="99%" bgColor="#f4f8fb" border="0">
        <TBODY>
        <TR>
          <TD>&nbsp;</TD>
          <TD style="FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 26px" 
          width="95%" background="#{serviceUrl}/workflow/mail/5/images/busns_001_coo_grid.gif">
            <DIV><STATIONERY>您好：　
			<BR><BR>
            <DIV>&nbsp;&nbsp;&nbsp;&nbsp;任务 '#{taskDescription}' 已经分配给您，请及时处理，谢谢。</DIV>
			<DIV>&nbsp;&nbsp;&nbsp;&nbsp;任务发起人'#{processStarterName}'。</DIV>
            <DIV>&nbsp;&nbsp;&nbsp;&nbsp;请点击链接： 
			<a href="#{callback}" target="_blank">查看</a> 
			</DIV>
            <DIV>&nbsp;</DIV>
            <DIV>&nbsp;</DIV>
            <DIV>&nbsp;</DIV><SPAN></SPAN><BR><BR><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;致<BR>礼！
			<BR><BR><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<BR><STATIONERY></DIV></TD>
          <TD>&nbsp;</TD></TR></TBODY></TABLE>
      <TABLE style="BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px" cellSpacing="0" 
      cellPadding="0" width="99%" bgColor="#f4f8fb" 
      background="#{serviceUrl}/workflow/mail/5/images/busns_001_coo_14.gif" border="0">
        <TBODY>
        <TR>
          <TD width="82%">&nbsp;</TD>
          <TD 
          style="MARGIN-TOP: 0px; FLOAT: right; WIDTH: 115px; MARGIN-RIGHT: 30px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px" 
          width="18%" >&nbsp;</TD></TR>
       </TBODY>
	  </TABLE>
</BODY>
</HTML>