<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv="Content-Type" content="text/html; charset=gb2312">
<BODY>
<br>&nbsp;&nbsp;&nbsp;&nbsp;经我公司评价研究，未选择贵公司做为目录采购的供应商。<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;After Our company evaluation study, has not chosen your firm to do for the table of contents purchase supplier. <br><br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;感谢贵公司的参与和合作！希望继续努力！<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;Thanks your firm's participation and the cooperation! The hope continues to try hard! 
</BODY>
</HTML>
