<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv="Content-Type" content="text/html; charset=gb2312">
<BODY>
<br>&nbsp;&nbsp;&nbsp;&nbsp;这是广汽丰田汽车有限公司向贵公司所发的应付款通单，详见附件......
请贵司接到本「通知单」后，核对应付款总额及收款银行信息，确认无误后签名确认并盖上贵司公章。3天内将此单与按要求粘贴好的发票（及其验收清单）邮寄给我公司对应担当。<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;This is the account payable advice from GTMC, please refer to the attachment for details Upon receipt of this advice, please confirm the total receivables, bank information and complete the column below. Please return this advice and the Check and Accept List to the principal with properly affixed invoice.  
</BODY>
</HTML>
