<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.core.mail.mapper.MailItemMapper">

	<resultMap id="mailItemResultMap" type="com.glaf.core.mail.domain.MailItem">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="taskId" column="TASKID_" jdbcType="VARCHAR" />
		<result property="accountId" column="ACCOUNTID_" jdbcType="VARCHAR" />
		<result property="mailTo" column="MAILTO_" jdbcType="VARCHAR" />
		<result property="sendDate" column="SENDDATE_" jdbcType="TIMESTAMP" />
		<result property="sendStatus" column="SENDSTATUS_" jdbcType="INTEGER" />
		<result property="retryTimes" column="RETRYTIMES_" jdbcType="INTEGER" />
		<result property="receiveIP" column="RECEIVEIP_" jdbcType="VARCHAR" />
		<result property="receiveDate" column="RECEIVEDATE_" jdbcType="TIMESTAMP" />
		<result property="receiveStatus" column="RECEIVESTATUS_"
			jdbcType="INTEGER" />
		<result property="lastModified" column="LASTMODIFIED_"
			jdbcType="BIGINT" />
	</resultMap>

	<insert id="insertMailItem" parameterType="com.glaf.core.mail.domain.MailItem">
		insert into
		${tableName} ( ID_, TASKID_, MAILTO_, SENDSTATUS_,
		RECEIVESTATUS_,RETRYTIMES_, LASTMODIFIED_ )
		values (
		#{id,jdbcType=VARCHAR}
		,#{taskId, jdbcType=VARCHAR}
		,#{mailTo,jdbcType=VARCHAR}
		,0
		,0
		,0
		,#{lastModified, jdbcType=BIGINT}
		)
	</insert>


	<update id="updateMailItem" parameterType="com.glaf.core.mail.domain.MailItem">

		update ${tableName}
		set
		SENDDATE_ = #{sendDate, jdbcType=TIMESTAMP},
		SENDSTATUS_ =
		#{sendStatus, jdbcType=INTEGER},
		RETRYTIMES_ =
		#{retryTimes,
		jdbcType=INTEGER},
		ACCOUNTID_ = #{accountId,
		jdbcType=VARCHAR},
		RECEIVEIP_ = #{receiveIP, jdbcType=VARCHAR},
		RECEIVEDATE_ =
		#{receiveDate, jdbcType=TIMESTAMP},
		RECEIVESTATUS_ =
		#{receiveStatus,
		jdbcType=INTEGER}
		where
		ID_ = #{id, jdbcType=VARCHAR}

	</update>


	<select id="getMailItemById" parameterType="com.glaf.core.mail.query.MailItemQuery"
		resultMap="mailItemResultMap">
		select * from ${tableName}
		where ID_ = #{itemId}
	</select>


	<select id="getMailItems" parameterType="com.glaf.core.mail.query.MailItemQuery"
		resultMap="mailItemResultMap">
		select E.*
		<include refid="selectMailItemsSql" />
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>


	<select id="getMailItemCount" parameterType="com.glaf.core.mail.query.MailItemQuery"
		resultType="int">
		select count(*)
		<include refid="selectMailItemsSql" />
	</select>


	<sql id="selectMailItemsSql">

		from ${tableName} E

		<where>
			1 = 1

			<if test="taskId != null and taskId != '' ">
				and E.TASKID_ = #{taskId}
			</if>

			<if test="sendDateGreaterThanOrEqual != null">
				and E.SENDDATE_ &gt;= #{sendDateGreaterThanOrEqual}
			</if>

			<if test="sendDateLessThanOrEqual != null">
				and E.SENDDATE_ &lt;= #{sendDateLessThanOrEqual}
			</if>

			<if test="sendStatus != null">
				and E.SENDSTATUS_ = #{sendStatus}
			</if>

			<if test="sendStatusGreaterThanOrEqual != null">
				and E.SENDSTATUS_ &gt;= #{sendStatusGreaterThanOrEqual}
			</if>

			<if test="sendStatusLessThanOrEqual != null">
				and E.SENDSTATUS_ &lt;= #{sendStatusLessThanOrEqual}
			</if>

			<if test="receiveDateGreaterThanOrEqual != null">
				and E.RECEIVEDATE_ &gt;= #{receiveDateGreaterThanOrEqual}
			</if>

			<if test="receiveDateLessThanOrEqual != null">
				and E.RECEIVEDATE_ &lt;= #{receiveDateLessThanOrEqual}
			</if>

			<if test="receiveStatus != null">
				and E.RECEIVESTATUS_ = #{receiveStatus}
			</if>

			<if test="receiveStatusGreaterThanOrEqual != null">
				and E.RECEIVESTATUS_ &gt;=
				#{receiveStatusGreaterThanOrEqual}
			</if>

			<if test="receiveStatusLessThanOrEqual != null">
				and E.RECEIVESTATUS_ &lt;=
				#{receiveStatusLessThanOrEqual}
			</if>

		</where>
	</sql>

	<select id="getMailSendStatusCount" parameterType="com.glaf.core.mail.query.MailItemQuery"
		resultType="com.glaf.core.mail.domain.MailCount">

		SELECT SENDSTATUS_ sendStatus, COUNT(ID_) qty
		FROM
		${tableName}
		WHERE TASKID_ = #{taskId}
		GROUP BY SENDSTATUS_

	</select>

	<select id="getMailAccountSendStatusCount" parameterType="com.glaf.core.mail.query.MailItemQuery"
		resultType="com.glaf.core.mail.domain.MailCount">

		SELECT ACCOUNTID_ accountId, SENDSTATUS_ sendStatus,
		COUNT(ID_) qty
		FROM ${tableName}
		WHERE TASKID_ = #{taskId}
		GROUP BY
		ACCOUNTID_, SENDSTATUS_

	</select>

	<select id="getMailReceiveStatusCount" parameterType="com.glaf.core.mail.query.MailItemQuery"
		resultType="com.glaf.core.mail.domain.MailCount">

		SELECT RECEIVESTATUS_ receiveStatus, COUNT(ID_) qty
		FROM
		${tableName}
		WHERE TASKID_ = #{taskId}
		GROUP BY RECEIVESTATUS_

	</select>

	<select id="getMailAccountReceiveStatusCount" parameterType="com.glaf.core.mail.query.MailItemQuery"
		resultType="com.glaf.core.mail.domain.MailCount">

		SELECT ACCOUNTID_ accountId, RECEIVESTATUS_ receiveStatus,
		COUNT(ID_) qty
		FROM ${tableName}
		WHERE TASKID_ = #{taskId}
		GROUP BY
		ACCOUNTID_, RECEIVESTATUS_

	</select>

</mapper>