<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.oa.borrow.mapper.BorrowMapper">

	<resultMap id="borrowResultMap" type="com.glaf.oa.borrow.model.Borrow">
		<id property="borrowid" column="borrowid" jdbcType="BIGINT" />
		<result property="area" column="area" jdbcType="VARCHAR" />
		<result property="company" column="company" jdbcType="VARCHAR" />
		<result property="dept" column="dept" jdbcType="VARCHAR" />
		<result property="appuser" column="appuser" jdbcType="VARCHAR" />
		<result property="appdate" column="appdate" jdbcType="TIMESTAMP" />
		<result property="post" column="post" jdbcType="VARCHAR" />
		<result property="content" column="content" jdbcType="VARCHAR" />
		<result property="startdate" column="startdate" jdbcType="TIMESTAMP" />
		<result property="enddate" column="enddate" jdbcType="TIMESTAMP" />
		<result property="daynum" column="daynum" jdbcType="INTEGER" />
		<result property="details" column="details" jdbcType="VARCHAR" />
		<result property="appsum" column="appsum" jdbcType="DOUBLE" />
		<result property="status" column="status" jdbcType="INTEGER" />
		<result property="processname" column="processname" jdbcType="VARCHAR" />
		<result property="processinstanceid" column="processinstanceid"
			jdbcType="BIGINT" />
		<result property="wfstatus" column="wfstatus" jdbcType="BIGINT" />
		<result property="createBy" column="createBy" jdbcType="VARCHAR" />
		<result property="createDate" column="createDate" jdbcType="TIMESTAMP" />
		<result property="updateDate" column="updateDate" jdbcType="TIMESTAMP" />
		<result property="updateBy" column="updateBy" jdbcType="VARCHAR" />
		<result property="borrowNo" column="borrowno" jdbcType="VARCHAR" />
		<result property="wdStatusFlag" column="wdstatusflag" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertBorrow" parameterType="com.glaf.oa.borrow.model.Borrow">
		insert into oa_borrow
		<trim prefix="(" suffix=")" suffixOverrides=",">
			borrowid
			<if test="area != null">
				,area 
			</if>
			<if test="borrowNo != null">
				,borrowNo 
			</if>
			<if test="company != null">
				,company 
			</if>
			<if test="dept != null">
				,dept 
			</if>
			<if test="appuser != null">
				,appuser 
			</if>
			<if test="appdate != null">
				,appdate 
			</if>
			<if test="post != null">
				,post 
			</if>
			<if test="content != null">
				,content 
			</if>
			<if test="startdate != null">
				,startdate 
			</if>
			<if test="enddate != null">
				,enddate 
			</if>
			<if test="daynum != null">
				,daynum 
			</if>
			<if test="details != null">
				,details 
			</if>
			<if test="appsum != null">
				,appsum 
			</if>
			<if test="status != null">
				,status 
			</if>
			<if test="processname != null">
				,processname 
			</if>
			<if test="processinstanceid != null">
				,processinstanceid 
			</if>
			<if test="wfstatus != null">
				,wfstatus 
			</if>
			<if test="createBy != null">
				,createBy 
			</if>
			<if test="createDate != null">
				,createDate 
			</if>
			<if test="updateDate != null">
				,updateDate 
			</if>
			<if test="updateBy != null">
				,updateBy 
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{borrowid, jdbcType=BIGINT}

			<if test="area != null">
				,#{area, jdbcType=VARCHAR}
			</if>
			<if test="borrowNo != null">
				,#{borrowNo, jdbcType=VARCHAR}
			</if>
			<if test="company != null">
				,#{company, jdbcType=VARCHAR}
			</if>
			<if test="dept != null">
				,#{dept, jdbcType=VARCHAR}
			</if>
			<if test="appuser != null">
				,#{appuser, jdbcType=VARCHAR}
			</if>
			<if test="appdate != null">
				,#{appdate, jdbcType=TIMESTAMP}
			</if>
			<if test="post != null">
				,#{post, jdbcType=VARCHAR}
			</if>
			<if test="content != null">
				,#{content, jdbcType=VARCHAR}
			</if>
			<if test="startdate != null">
				,#{startdate, jdbcType=TIMESTAMP}
			</if>
			<if test="enddate != null">
				,#{enddate, jdbcType=TIMESTAMP}
			</if>
			<if test="daynum != null">
				,#{daynum, jdbcType=INTEGER}
			</if>
			<if test="details != null">
				,#{details, jdbcType=VARCHAR}
			</if>
			<if test="appsum != null">
				,#{appsum, jdbcType=DOUBLE}
			</if>
			<if test="status != null">
				,#{status, jdbcType=INTEGER}
			</if>
			<if test="processname != null">
				,#{processname, jdbcType=VARCHAR}
			</if>
			<if test="processinstanceid != null">
				,#{processinstanceid, jdbcType=BIGINT}
			</if>
			<if test="wfstatus != null">
				,#{wfstatus, jdbcType=BIGINT}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				,#{createDate, jdbcType=TIMESTAMP}
			</if>
			<if test="updateDate != null">
				,#{updateDate, jdbcType=TIMESTAMP}
			</if>
			<if test="updateBy != null">
				,#{updateBy, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>


	<update id="updateBorrow" parameterType="com.glaf.oa.borrow.model.Borrow">
		update oa_borrow
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="area != null">
				area = #{area, jdbcType=VARCHAR},
			</if>
			<if test="borrowNo != null">
				borrowNo = #{borrowNo, jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				company = #{company, jdbcType=VARCHAR},
			</if>
			<if test="dept != null">
				dept = #{dept, jdbcType=VARCHAR},
			</if>
			<if test="appuser != null">
				appuser = #{appuser, jdbcType=VARCHAR},
			</if>
			<if test="appdate != null">
				appdate = #{appdate, jdbcType=TIMESTAMP},
			</if>
			<if test="post != null">
				post = #{post, jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content, jdbcType=VARCHAR},
			</if>
			<if test="startdate != null">
				startdate = #{startdate, jdbcType=TIMESTAMP},
			</if>
			<if test="enddate != null">
				enddate = #{enddate, jdbcType=TIMESTAMP},
			</if>
			<if test="daynum != null">
				daynum = #{daynum, jdbcType=INTEGER},
			</if>
			<if test="details != null">
				details = #{details, jdbcType=VARCHAR},
			</if>
			<if test="appsum != null">
				appsum = #{appsum, jdbcType=DOUBLE},
			</if>
			<if test="status != null">
				status = #{status, jdbcType=INTEGER},
			</if>
			<if test="processname != null">
				processname = #{processname, jdbcType=VARCHAR},
			</if>
			<if test="processinstanceid != null">
				processinstanceid = #{processinstanceid,
				jdbcType=BIGINT},
			</if>
			<if test="wfstatus != null">
				wfstatus = #{wfstatus, jdbcType=BIGINT},
			</if>
			<if test="createBy != null">
				createBy = #{createBy, jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				createDate = #{createDate, jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				updateDate = #{updateDate, jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				updateBy = #{updateBy, jdbcType=VARCHAR},
			</if>
		</trim>
		where
		borrowid = #{borrowid, jdbcType=BIGINT}

	</update>


	<delete id="deleteBorrowById" parameterType="long">
		delete from
		oa_borrow
		where borrowid = #{id}
	</delete>


	<delete id="deleteBorrows" parameterType="com.glaf.oa.borrow.query.BorrowQuery">
		delete from oa_borrow
		where (
		borrowid IN
		<foreach item="x_borrowid" index="index" collection="borrowids"
			open="(" separator="," close=")">
			#{x_borrowid}
              </foreach>
		)
	</delete>


	<select id="getBorrowById" parameterType="long" resultMap="borrowResultMap">
		select * from oa_borrow where borrowid = #{id}
	</select>


	<select id="getBorrows" parameterType="com.glaf.oa.borrow.query.BorrowQuery"
		resultMap="borrowResultMap">
		select E.*
		<include refid="selectBorrowsSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
          </when>
			<otherwise>
				order by E.borrowid desc
		  </otherwise>
		</choose>
	</select>


	<select id="getBorrowCount" parameterType="com.glaf.oa.borrow.query.BorrowQuery"
		resultType="int">
		select count(*)
		<include refid="selectBorrowsSql" />
	</select>


	<sql id="selectBorrowsSql">

		from oa_borrow E


		<where>
			1 = 1


			<if test="area != null and area != '' ">
				and E.area = #{area}
            </if>


			<if test="areaLike != null and areaLike != '' ">
				and E.area like #{areaLike}
            </if>

			<if test="areas != null and areas.size != 0">
				and E.area IN
				<foreach item="x_area" index="index" collection="areas"
					open="(" separator="," close=")">
					#{x_area}
                </foreach>
			</if>

			<if test="borrowNo != null and borrowNo != '' ">
				and E.borrowNo = #{borrowNo}
            </if>

			<if test="borrowNoLike != null and borrowNoLike != '' ">
				and E.borrowNo like #{borrowNoLike}
            </if>

			<if test="borrowNos != null and borrowNos.size != 0">
				and E.borrowNo IN
				<foreach item="x_borrowNo" index="index" collection="borrowNos"
					open="(" separator="," close=")">
					#{x_borrowNo}
                </foreach>
			</if>

			<if test="company != null and company != '' ">
				and E.company = #{company}
            </if>

			<if test="companyLike != null and companyLike != '' ">
				and E.company like #{companyLike}
            </if>

			<if test="companys != null and companys.size != 0">
				and E.company IN
				<foreach item="x_company" index="index" collection="companys"
					open="(" separator="," close=")">
					#{x_company}
                </foreach>
			</if>

			<if test="dept != null and dept != '' ">
				and E.dept = #{dept}
            </if>

			<if test="deptLike != null and deptLike != '' ">
				and E.dept like #{deptLike}
            </if>

			<if test="depts != null and depts.size != 0">
				and E.dept IN
				<foreach item="x_dept" index="index" collection="depts"
					open="(" separator="," close=")">
					#{x_dept}
                </foreach>
			</if>

			<if test="appuser != null and appuser != '' ">
				and E.appuser = #{appuser}
            </if>

			<if test="appuserLike != null and appuserLike != '' ">
				and E.appuser like #{appuserLike}
            </if>

			<if test="appusers != null and appusers.size != 0">
				and E.appuser IN
				<foreach item="x_appuser" index="index" collection="appusers"
					open="(" separator="," close=")">
					#{x_appuser}
                </foreach>
			</if>

			<if test="appdate != null">
				and E.appdate = #{appdate}
            </if>

			<if test="appdateGreaterThanOrEqual != null">
				and E.appdate &gt;= #{appdateGreaterThanOrEqual}
            </if>

			<if test="appdateLessThanOrEqual != null">
				and E.appdate &lt;= #{appdateLessThanOrEqual}
            </if>

			<if test="appdates != null and appdates.size != 0">
				and E.appdate IN
				<foreach item="x_appdate" index="index" collection="appdates"
					open="(" separator="," close=")">
					#{x_appdate}
                </foreach>
			</if>


			<if test="post != null and post != '' ">
				and E.post = #{post}
            </if>

			<if test="postLike != null and postLike != '' ">
				and E.post like #{postLike}
            </if>

			<if test="posts != null and posts.size != 0">
				and E.post IN
				<foreach item="x_post" index="index" collection="posts"
					open="(" separator="," close=")">
					#{x_post}
                </foreach>
			</if>

			<if test="content != null and content != '' ">
				and E.content = #{content}
            </if>

			<if test="contentLike != null and contentLike != '' ">
				and E.content like #{contentLike}
            </if>

			<if test="contents != null and contents.size != 0">
				and E.content IN
				<foreach item="x_content" index="index" collection="contents"
					open="(" separator="," close=")">
					#{x_content}
                </foreach>
			</if>

			<if test="startdate != null">
				and E.startdate = #{startdate}
            </if>

			<if test="startdateGreaterThanOrEqual != null">
				and E.startdate &gt;= #{startdateGreaterThanOrEqual}
            </if>

			<if test="startdateLessThanOrEqual != null">
				and E.startdate &lt;= #{startdateLessThanOrEqual}
            </if>

			<if test="startdates != null and startdates.size != 0">
				and E.startdate IN
				<foreach item="x_startdate" index="index" collection="startdates"
					open="(" separator="," close=")">
					#{x_startdate}
                </foreach>
			</if>


			<if test="enddate != null">
				and E.enddate = #{enddate}
            </if>

			<if test="enddateGreaterThanOrEqual != null">
				and E.enddate &gt;= #{enddateGreaterThanOrEqual}
            </if>

			<if test="enddateLessThanOrEqual != null">
				and E.enddate &lt;= #{enddateLessThanOrEqual}
            </if>

			<if test="enddates != null and enddates.size != 0">
				and E.enddate IN
				<foreach item="x_enddate" index="index" collection="enddates"
					open="(" separator="," close=")">
					#{x_enddate}
                </foreach>
			</if>


			<if test="daynum != null">
				and E.daynum = #{daynum}
            </if>

			<if test="daynumGreaterThanOrEqual != null">
				and E.daynum &gt;= #{daynumGreaterThanOrEqual}
            </if>

			<if test="daynumLessThanOrEqual != null">
				and E.daynum &lt;= #{daynumLessThanOrEqual}
            </if>

			<if test="daynums != null and daynums.size != 0">
				and E.daynum IN
				<foreach item="x_daynum" index="index" collection="daynums"
					open="(" separator="," close=")">
					#{x_daynum}
                </foreach>
			</if>


			<if test="details != null and details != '' ">
				and E.details = #{details}
            </if>

			<if test="detailsLike != null and detailsLike != '' ">
				and E.details like #{detailsLike}
            </if>

			<if test="detailss != null and detailss.size != 0">
				and E.details IN
				<foreach item="x_details" index="index" collection="detailss"
					open="(" separator="," close=")">
					#{x_details}
                </foreach>
			</if>

			<if test="appsum != null">
				and E.appsum = #{appsum}
            </if>

			<if test="appsumGreaterThanOrEqual != null">
				and E.appsum &gt;= #{appsumGreaterThanOrEqual}
            </if>

			<if test="appsumLessThanOrEqual != null">
				and E.appsum &lt;= #{appsumLessThanOrEqual}
            </if>

			<if test="appsums != null and appsums.size != 0">
				and E.appsum IN
				<foreach item="x_appsum" index="index" collection="appsums"
					open="(" separator="," close=")">
					#{x_appsum}
                </foreach>
			</if>


			<if test="status != null">
				and E.status = #{status}
            </if>

			<if test="statusGreaterThanOrEqual != null">
				and E.status &gt;= #{statusGreaterThanOrEqual}
            </if>

			<if test="statusLessThanOrEqual != null">
				and E.status &lt;= #{statusLessThanOrEqual}
            </if>

			<if test="statuss != null and statuss.size != 0">
				and E.status IN
				<foreach item="x_status" index="index" collection="statuss"
					open="(" separator="," close=")">
					#{x_status}
                </foreach>
			</if>


			<if test="processname != null and processname != '' ">
				and E.processname = #{processname}
            </if>

			<if test="processnameLike != null and processnameLike != '' ">
				and E.processname like #{processnameLike}
            </if>

			<if test="processnames != null and processnames.size != 0">
				and E.processname IN
				<foreach item="x_processname" index="index" collection="processnames"
					open="(" separator="," close=")">
					#{x_processname}
                </foreach>
			</if>

			<if test="processinstanceid != null">
				and E.processinstanceid = #{processinstanceid}
            </if>

			<if test="processinstanceidGreaterThanOrEqual != null">
				and E.processinstanceid &gt;=
				#{processinstanceidGreaterThanOrEqual}
            </if>

			<if test="processinstanceidLessThanOrEqual != null">
				and E.processinstanceid &lt;=
				#{processinstanceidLessThanOrEqual}
            </if>

			<if test="processinstanceids != null and processinstanceids.size != 0">
				and E.processinstanceid IN
				<foreach item="x_processinstanceid" index="index"
					collection="processinstanceids" open="(" separator="," close=")">
					#{x_processinstanceid}
                </foreach>
			</if>


			<if test="wfstatus != null">
				and E.wfstatus = #{wfstatus}
            </if>

			<if test="wfstatusGreaterThanOrEqual != null">
				and E.wfstatus &gt;= #{wfstatusGreaterThanOrEqual}
            </if>

			<if test="wfstatusLessThanOrEqual != null">
				and E.wfstatus &lt;= #{wfstatusLessThanOrEqual}
            </if>

			<if test="wfstatuss != null and wfstatuss.size != 0">
				and E.wfstatus IN
				<foreach item="x_wfstatus" index="index" collection="wfstatuss"
					open="(" separator="," close=")">
					#{x_wfstatus}
                </foreach>
			</if>


			<if test="createBy != null and createBy != '' ">
				and E.createBy = #{createBy}
            </if>

			<if test="createByLike != null and createByLike != '' ">
				and E.createBy like #{createByLike}
            </if>

			<if test="createBys != null and createBys.size != 0">
				and E.createBy IN
				<foreach item="x_createBy" index="index" collection="createBys"
					open="(" separator="," close=")">
					#{x_createBy}
                </foreach>
			</if>

			<if test="createDate != null">
				and E.createDate = #{createDate}
            </if>

			<if test="createDateGreaterThanOrEqual != null">
				and E.createDate &gt;= #{createDateGreaterThanOrEqual}
			</if>

			<if test="createDateLessThanOrEqual != null">
				and E.createDate &lt;= #{createDateLessThanOrEqual}
            </if>

			<if test="createDates != null and createDates.size != 0">
				and E.createDate IN
				<foreach item="x_createDate" index="index" collection="createDates"
					open="(" separator="," close=")">
					#{x_createDate}
                </foreach>
			</if>


			<if test="updateDate != null">
				and E.updateDate = #{updateDate}
            </if>

			<if test="updateDateGreaterThanOrEqual != null">
				and E.updateDate &gt;= #{updateDateGreaterThanOrEqual}
			</if>

			<if test="updateDateLessThanOrEqual != null">
				and E.updateDate &lt;= #{updateDateLessThanOrEqual}
            </if>

			<if test="updateDates != null and updateDates.size != 0">
				and E.updateDate IN
				<foreach item="x_updateDate" index="index" collection="updateDates"
					open="(" separator="," close=")">
					#{x_updateDate}
                </foreach>
			</if>


			<if test="updateBy != null and updateBy != '' ">
				and E.updateBy = #{updateBy}
            </if>

			<if test="updateByLike != null and updateByLike != '' ">
				and E.updateBy like #{updateByLike}
            </if>

			<if test="updateBys != null and updateBys.size != 0">
				and E.updateBy IN
				<foreach item="x_updateBy" index="index" collection="updateBys"
					open="(" separator="," close=")">
					#{x_updateBy}
                </foreach>
			</if>

		</where>
	</sql>


	<!-- 审批 -->
	<select id="getBorrowsApprove" parameterType="com.glaf.oa.borrow.query.BorrowQuery"
		resultMap="borrowResultMap">
		select E.*   
		<include refid="selectBorrowsApproveSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
          </when>
			<otherwise>
				order by E.borrowid desc
		  </otherwise>
		</choose>
	</select>


	<select id="getBorrowApproveCount" parameterType="com.glaf.oa.borrow.query.BorrowQuery"
		resultType="int">
		select count(*)
		<include refid="selectBorrowsApproveSql" />
	</select>


	<sql id="selectBorrowsApproveSql">

		from oa_borrow E

		<if test="status == 1 and actorId != null ">
				inner join JBPM_TASKINSTANCE T on E.PROCESSINSTANCEID
				= T.PROCINST_
        	</if>

		<where>
			1 = 1
			<if test="status == 1 and actorId != null ">
				and ( T.END_ IS NULL)
				and ( T.ACTORID_ = #{actorId} )
			</if>

			<if test="status == 2 and actorId != null ">
				and E.PROCESSINSTANCEID in (
				SELECT a.PROCINST_
				FROM JBPM_TASKINSTANCE a
				WHERE (1 = 1)
				AND (a.END_ IS not NULL)
				AND (a.ACTORID_ IS NOT NULL)
				AND (a.ACTORID_ = #{actorId} )
				union
				SELECT a.PROCINST_
				FROM JBPM_POOLEDACTOR p
				INNER JOIN
				JBPM_TASKACTORPOOL t
				ON p.ID_ = t.POOLEDACTOR_
				INNER JOIN
				JBPM_TASKINSTANCE a
				ON t.TASKINSTANCE_ = a.ID_
				WHERE (1 = 1)
				AND
				(a.END_ IS NULL)
				AND (a.ACTORID_ IS NULL)
				AND (p.ACTORID_ = #{actorId} )
				union
				select distinct 0 from JBPM_TASKINSTANCE
				)
			</if>
            
            <if test="borrowNoLike != null and borrowNoLike != '' ">
				and E.borrowNo like #{borrowNoLike}
            </if>

			<if test="area != null and area != '' ">
				and E.area = #{area}
            </if>
            
			<if test="company != null and company != '' ">
				and E.company = #{company}
            </if>
            
			<if test="dept != null and dept != '' ">
				and E.dept = #{dept}
            </if>
            
			<if test="appuser != null and appuser != '' ">
				and E.appuser = #{appuser}
            </if>
            
            <if test="appdateGreaterThanOrEqual != null">
				and E.appdate &gt;= #{appdateGreaterThanOrEqual}
            </if>

			<if test="appdateLessThanOrEqual != null">
				and E.appdate &lt;= #{appdateLessThanOrEqual}
            </if>
            

		</where>
	</sql>

</mapper>