<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.base.modules.sys.mapper.SysAccessMapper">


	<insert id="insertSysAccess" parameterType="com.glaf.base.modules.sys.model.SysAccess">

		insert into
		SYS_ACCESS ( APPID, ROLEID )
		values (#{appId, jdbcType=BIGINT},
		#{roleId, jdbcType=BIGINT})

	</insert>


	<delete id="deleteSysAccessByAppId" parameterType="long">
		delete
		from
		SYS_ACCESS where APPID = #{appId}
	</delete>


	<delete id="deleteSysAccessByRoleId" parameterType="long">
		delete from
		SYS_ACCESS where ROLEID = #{roleId}
	</delete>


	<delete id="deleteSysAccessByQuery" parameterType="com.glaf.base.modules.sys.query.SysAccessQuery">
		delete from
		SYS_ACCESS
		where ROLEID = #{roleId}
		and APPID =#{appId}
	</delete>


	<select id="getSysAccessByAppId" parameterType="long"
		resultType="com.glaf.base.modules.sys.model.SysAccess">

		select E.APPID as appId, E.ROLEID as roleId
		from SYS_ACCESS
		E
		where E.APPID = #{appId}

	</select>


	<select id="getSysAccessByRoleId" parameterType="long"
		resultType="com.glaf.base.modules.sys.model.SysAccess">

		select E.APPID as appId, E.ROLEID as roleId
		from SYS_ACCESS
		E
		where E.ROLEID = #{roleId}

	</select>


	<select id="getSysAccessByQuery" parameterType="com.glaf.base.modules.sys.query.SysAccessQuery"
		resultType="com.glaf.base.modules.sys.model.SysAccess">

		select E.APPID as appId, E.ROLEID as roleId
		from SYS_ACCESS
		E
		where E.ROLEID = #{roleId}
		and E.APPID = #{appId}

	</select>


</mapper>