<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>选择供应商</title>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/function_JS.js"></script>
</head>

<body>
<p>supplierId
  <input type="text" name="supplierId" />
  <br />
&nbsp;fullName
<input type="text" name="fullName" onClick="selectSupplier(1, 'supplierId', this)" />
<br />
supplierNo
<input type="text" name="supplierNo" />
</p>
<p>返回一个：
  <input type="button" name="Submit" value="选择1供应商" onClick="selectSupplier(1, 'supplierId', 'fullName', 'supplierNo', 'all')" />
  <input type="button" name="Submit" value="选择全部供应商" onClick="selectSupplier(null, 'supplierId', 'fullName', 'supplierNo', 'all')" />
</p>
<p>返回多个:
  <input type="button" name="Submit" value="选择供应商" onClick="selectMultSupplier(null, 'supplierId', 'fullName', 'supplierNo')" />
</p>
</body>
</html>