.south-backgroud{
   background: #ff0000; 
}


.toolbar-backgroud {
  background:#fafafa;padding:2px;border:1px solid #ddd;font-size:12px;
}

.x_content_title {
   text-transform: uppercase; background-color: inherit; color: #789030; font-size: 13px; font-weight: bold; text-align: center;
}

.sys_name {
	margin-top: 15px;
	font-size: 24px;
	color: #ffffff;
}

.sys_version {
	margin-top: 25px;
	font-size: 14px;
	color: #ffffff;
}

.user_name {
	margin-top: 15px;
	font-size: 14px;
	color: #ffffff;
}

.curr_date {
	margin-top: 15px;
	font-size: 12px;
	color: #ffffff;
}
