.icon-blank{
	background:url('icons/blank.gif') no-repeat ;
}
.icon-add{
	background:url('icons/add.png') no-repeat ;
}
.icon-edit{
	background:url('icons/edit.gif') no-repeat ;
}
.icon-remove{
	background:url('icons/remove.png') no-repeat ;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat ;
}
.icon-props{
	background:url('icons/props.png') no-repeat ;
}
.icon-list{
	background:url('icons/list.gif') no-repeat ;
}
.icon-review{
	background:url('icons/review.png') no-repeat ;
}
.icon-imp{
	background:url('icons/imp.gif') no-repeat ;
}

.icon-exp{
	background:url('icons/exp.gif') no-repeat ;
}

.icon-submit{
	background:url('icons/submit.gif') no-repeat ;
}

.icon-process{
	background:url('icons/process.gif') no-repeat ;
}

.icon-pwd{
	background:url('icons/pwd.gif') no-repeat ;
}

.icon-mail{
	background:url('icons/mail.gif') no-repeat ;
}

.icon-move{
	background:url('icons/move.gif') no-repeat ;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat ;
}
.icon-view{
	background:url('icons/view.gif') no-repeat ;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat ;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat ;
}
.icon-no{
	background:url('icons/no.png') no-repeat ;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat ;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat ;
}
.icon-search{
	background:url('icons/search.png') no-repeat ;
}
.icon-print{
	background:url('icons/print.png') no-repeat ;
}
.icon-help{
	background:url('icons/help.png') no-repeat ;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat ;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat ;
}
.icon-back{
	background:url('icons/back.png') no-repeat ;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat ;
}
.icon-role{
	background:url('icons/role.gif') no-repeat ;
}

.icon-sys{ 
    background:url('icons/gears.png') no-repeat;
}

.icon-actor{
	background:url('icons/actor.gif') no-repeat ;
}

.icon-user{
	background:url('icons/user.gif') no-repeat ;
}

.user{
	background:url('icons/user.gif') no-repeat ;
}

.icon-accounts{
	background:url('icons/accounts.gif') no-repeat ;
}

.icon-tip{
	background:url('icons/tip.png') no-repeat ;
}
.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat  2px 2px;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat  2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat  3px 2px;
}

.icon-expand{
	background:url('icons/expand.gif') no-repeat  ;
}

.icon-collapse{
	background:url('icons/collapse.gif') no-repeat  ;
}

.proc_level_1{
   background:url('icons/proc_level_1.gif') no-repeat  ;
}

.proc_level_2{
   background:url('icons/proc_level_2.gif') no-repeat  ;
}

.icon-root {
	background: url("icons/orm_root.gif") no-repeat;
}

.icon-base {
	background: url("icons/basic.gif") no-repeat;
}

.icon-gears {
	background: url("icons/gears.png") no-repeat;
}

.icon-key{
	background:url('icons/key.gif') no-repeat ;
}

.icon_user_group{
	background:url('icons/user_group.gif') no-repeat ;
} 

.icon-flag{
	background:url('icons/flag.gif') no-repeat ;
} 


.icon_img{
	background:url('icons/img.gif') no-repeat ;
} 

.icon_pause{
	background:url('icons/pause.gif') no-repeat ;
} 


.icon_stop{
	background:url('icons/stop.gif') no-repeat ;
} 


.icon_print{
	background:url('icons/print.gif') no-repeat ;
} 


.icon_save{
	background:url('icons/save.gif') no-repeat ;
} 


.icon_lock{
	background:url('icons/lock.gif') no-repeat ;
} 


.icon-1 {
    background: url("../images/icons/1.png") no-repeat;
}
.icon-2 {
    background: url("../images/icons/2.png") no-repeat;
}
.icon-3 {
    background: url("../images/icons/3.png") no-repeat;
}
.icon-4 {
    background: url("../images/icons/4.png") no-repeat;
}
.icon-5 {
    background: url("../images/icons/5.png") no-repeat;
}
.icon-6 {
    background: url("../images/icons/6.png") no-repeat;
}
.icon-7 {
    background: url("../images/icons/7.png") no-repeat;
}
.icon-8 {
    background: url("../images/icons/8.png") no-repeat;
}
.icon-9 {
    background: url("../images/icons/9.png") no-repeat;
}
.icon-10 {
    background: url("../images/icons/10.png") no-repeat;
}

.icon-11 {
    background: url("../images/icons/11.png") no-repeat;
}

.icon-12 {
    background: url("../images/icons/12.png") no-repeat;
}

.icon-13 {
    background: url("../images/icons/13.png") no-repeat;
}
.icon-14 {
    background: url("../images/icons/14.png") no-repeat;
}
.icon-15 {
    background: url("../images/icons/15.png") no-repeat;
}
.icon-16 {
    background: url("../images/icons/16.png") no-repeat;
}
.icon-17 {
    background: url("../images/icons/17.png") no-repeat;
}
.icon-18 {
    background: url("../images/icons/18.png") no-repeat;
}
.icon-19 {
    background: url("../images/icons/19.png") no-repeat;
}
.icon-20 {
    background: url("../images/icons/20.png") no-repeat;
}
.icon-21 {
    background: url("../images/icons/21.png") no-repeat;
}
.icon-22 {
    background: url("../images/icons/22.png") no-repeat;
}
.icon-23 {
    background: url("../images/icons/23.png") no-repeat;
}
.icon-24 {
    background: url("../images/icons/24.png") no-repeat;
}
.icon-25 {
    background: url("../images/icons/25.png") no-repeat;
}