<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.glaf.core.mapper.AccessPointMapper">

	<resultMap id="accessPointResultMap" type="com.glaf.core.domain.AccessPointEntity">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="accessLevel" column="ACCESSLEVEL_" jdbcType="INTEGER" />
		<result property="accessEntryId" column="ACCESSENTRY_"
			jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertAccessPoint" parameterType="com.glaf.core.domain.AccessPointEntity">
		insert into
		SYS_ACCESSPOINT ( ID_
		,NAME_
		,ACCESSLEVEL_
		,ACCESSENTRY_
		)
		values (
		#{id,
		jdbcType=VARCHAR}
		,#{name, jdbcType=VARCHAR}
		,#{accessLevel,
		jdbcType=INTEGER}
		,#{accessEntryId, jdbcType=VARCHAR}
		)
	</insert>


	<delete id="deleteAccessPointById" parameterType="string">
		delete from
		SYS_ACCESSPOINT
		where ID_ = #{id}
	</delete>


	<delete id="deleteAccessPoints" parameterType="string">
		delete from
		SYS_ACCESSPOINT
		where ACCESSENTRY_ = #{accessEntryId}
	</delete>

	<select id="getAccessPointById" parameterType="string"
		resultMap="accessPointResultMap">
		select * from SYS_ACCESSPOINT where ID_ = #{id}
	</select>


	<select id="getAccessPoints" parameterType="com.glaf.core.query.AccessPointQuery"
		resultMap="accessPointResultMap">

		select E.*

		from SYS_ACCESSPOINT E

		<where>
			1 = 1

			<if test="name != null">
				and E.NAME_ = #{name}
			</if>

			<if test="names != null and names.size != 0">
				and E.NAME_ IN
				<foreach item="x_name" index="index" collection="names"
					open="(" separator="," close=")">
					#{x_name}
				</foreach>
			</if>

			<if test="accessLevel != null">
				and E.ACCESSLEVEL_ = #{accessLevel}
			</if>

			<if test="accessLevelGreaterThanOrEqual != null">
				and E.ACCESSLEVEL_ &gt;= #{accessLevelGreaterThanOrEqual}
			</if>

			<if test="accessLevelLessThanOrEqual != null">
				and E.ACCESSLEVEL_ &lt;= #{accessLevelLessThanOrEqual}
			</if>

			<if test="accessLevels != null and accessLevels.size != 0">
				and E.ACCESSLEVEL_ IN
				<foreach item="x_accessLevel" index="index" collection="accessLevels"
					open="(" separator="," close=")">
					#{x_accessLevel}
				</foreach>
			</if>

			<if test="accessEntryId != null">
				and E.ACCESSENTRY_ = #{accessEntryId}
			</if>

			<if test="accessEntryIds != null and accessEntryIds.size != 0">
				and E.ACCESSENTRY_ IN
				<foreach item="x_accessEntryId" index="index" collection="accessEntryIds"
					open="(" separator="," close=")">
					#{x_accessEntryId}
				</foreach>
			</if>

		</where>

	</select>

</mapper>