<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.core.mapper.QueryDefinitionMapper">

	<resultMap id="queryDefinitionResultMap" type="com.glaf.core.domain.QueryDefinition">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="parentId" column="PARENTID_" jdbcType="VARCHAR" />
		<result property="nodeId" column="NODEID_" jdbcType="BIGINT" />
		<result property="targetTableName" column="TARGETTABLENAME_"
			jdbcType="VARCHAR" />
		<result property="serviceKey" column="SERVICEKEY_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="mapping" column="MAPPING_" jdbcType="VARCHAR" />
		<result property="title" column="TITLE_" jdbcType="VARCHAR" />
		<result property="type" column="TYPE_" jdbcType="VARCHAR" />
		<result property="description" column="DESCRIPTION_" jdbcType="VARCHAR" />
		<result property="dsName" column="DSNAME_" jdbcType="VARCHAR" />
		<result property="sql" column="SQL_" jdbcType="VARCHAR" />
		<result property="countSql" column="COUNTSQL_" jdbcType="VARCHAR" />
		<result property="idField" column="IDFIELD_" jdbcType="VARCHAR" />
		<result property="statementId" column="STATEMENTID_" jdbcType="VARCHAR" />
		<result property="countStatementId" column="COUNTSTATEMENTID_"
			jdbcType="VARCHAR" />
		<result property="parameterType" column="PARAMETERTYPE_"
			jdbcType="VARCHAR" />
		<result property="resultType" column="RESULTTYPE_" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="locked" column="LOCKED_" jdbcType="INTEGER" />
		<result property="deleteFlag" column="DELETEFLAG_" jdbcType="INTEGER" />
		<result property="revision" column="REVISION_" jdbcType="INTEGER" />
		<result property="listUrl" column="LISTURL_" jdbcType="VARCHAR" />
		<result property="detailUrl" column="DETAILURL_" jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertQueryDefinition" parameterType="com.glaf.core.domain.QueryDefinition">
		insert into SYS_QUERY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="parentId != null">
				,PARENTID_
			</if>
			<if test="nodeId != null">
				,NODEID_
			</if>
			<if test="targetTableName != null">
				,TARGETTABLENAME_
			</if>
			<if test="serviceKey != null">
				,SERVICEKEY_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="mapping != null">
				,MAPPING_
			</if>
			<if test="title != null">
				,TITLE_
			</if>
			<if test="type != null">
				,TYPE_
			</if>
			<if test="description != null">
				,DESCRIPTION_
			</if>
			<if test="dsName != null">
				,DSNAME_
			</if>
			<if test="sql != null">
				,SQL_
			</if>
			<if test="countSql != null">
				,COUNTSQL_
			</if>
			<if test="idField != null">
				,IDFIELD_
			</if>
			<if test="statementId != null">
				,STATEMENTID_
			</if>
			<if test="countStatementId != null">
				,COUNTSTATEMENTID_
			</if>
			<if test="parameterType != null">
				,PARAMETERTYPE_
			</if>
			<if test="resultType != null">
				,RESULTTYPE_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="locked != null">
				,LOCKED_
			</if>
			<if test="deleteFlag != null">
				,DELETEFLAG_
			</if>
			<if test="revision != null">
				,REVISION_
			</if>
			<if test="listUrl != null">
				,LISTURL_
			</if>
			<if test="detailUrl != null">
				,DETAILURL_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="parentId != null">
				,#{parentId, jdbcType=VARCHAR}
			</if>
			<if test="nodeId != null">
				,#{nodeId, jdbcType=BIGINT}
			</if>
			<if test="targetTableName != null">
				,#{targetTableName, jdbcType=VARCHAR}
			</if>
			<if test="serviceKey != null">
				,#{serviceKey, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="mapping != null">
				,#{mapping, jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				,#{title, jdbcType=VARCHAR}
			</if>
			<if test="type != null">
				,#{type, jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				,#{description, jdbcType=VARCHAR}
			</if>
			<if test="dsName != null">
				,#{dsName, jdbcType=VARCHAR}
			</if>
			<if test="sql != null">
				,#{sql, jdbcType=VARCHAR}
			</if>
			<if test="countSql != null">
				,#{countSql, jdbcType=VARCHAR}
			</if>
			<if test="idField != null">
				,#{idField, jdbcType=VARCHAR}
			</if>
			<if test="statementId != null">
				,#{statementId, jdbcType=VARCHAR}
			</if>
			<if test="countStatementId != null">
				,#{countStatementId, jdbcType=VARCHAR}
			</if>
			<if test="parameterType != null">
				,#{parameterType, jdbcType=VARCHAR}
			</if>
			<if test="resultType != null">
				,#{resultType, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="locked != null">
				,#{locked, jdbcType=INTEGER}
			</if>
			<if test="deleteFlag != null">
				,#{deleteFlag, jdbcType=INTEGER}
			</if>
			<if test="revision != null">
				,#{revision, jdbcType=INTEGER}
			</if>
			<if test="listUrl != null">
				,#{listUrl, jdbcType=VARCHAR}
			</if>
			<if test="detailUrl != null">
				,#{detailUrl, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>


	<update id="updateQueryDefinition" parameterType="com.glaf.core.domain.QueryDefinition">
		update
		SYS_QUERY
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="parentId != null">
				PARENTID_ = #{parentId, jdbcType=VARCHAR},
			</if>
			<if test="targetTableName != null">
				TARGETTABLENAME_ = #{targetTableName, jdbcType=VARCHAR},
			</if>
			<if test="serviceKey != null">
				SERVICEKEY_ = #{serviceKey, jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME_ = #{name, jdbcType=VARCHAR},
			</if>
			<if test="mapping != null">
				MAPPING_ = #{mapping, jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				TITLE_ = #{title, jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				TYPE_ = #{type, jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				DESCRIPTION_ = #{description, jdbcType=VARCHAR},
			</if>
			<if test="dsName != null">
				DSNAME_ = #{dsName, jdbcType=VARCHAR},
			</if>
			<if test="sql != null">
				SQL_ = #{sql, jdbcType=VARCHAR},
			</if>
			<if test="countSql != null">
				COUNTSQL_ = #{countSql, jdbcType=VARCHAR},
			</if>
			<if test="idField != null">
				IDFIELD_ = #{idField, jdbcType=VARCHAR},
			</if>
			<if test="statementId != null">
				STATEMENTID_ = #{statementId, jdbcType=VARCHAR},
			</if>
			<if test="countStatementId != null">
				COUNTSTATEMENTID_ = #{countStatementId,
				jdbcType=VARCHAR},
			</if>
			<if test="parameterType != null">
				PARAMETERTYPE_ = #{parameterType, jdbcType=VARCHAR},
			</if>
			<if test="resultType != null">
				RESULTTYPE_ = #{resultType, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATETIME_ = #{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATEBY_ = #{createBy, jdbcType=VARCHAR},
			</if>
			<if test="locked != null">
				LOCKED_ = #{locked, jdbcType=INTEGER},
			</if>
			<if test="deleteFlag != null">
				DELETEFLAG_ = #{deleteFlag, jdbcType=INTEGER},
			</if>
			<if test="revision != null">
				REVISION_ = #{revision, jdbcType=INTEGER},
			</if>
			<if test="listUrl != null">
				LISTURL_ = #{listUrl, jdbcType=VARCHAR},
			</if>
			<if test="detailUrl != null">
				DETAILURL_ = #{detailUrl, jdbcType=VARCHAR},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=VARCHAR}

	</update>

	<delete id="deleteQueryDefinitionById" parameterType="string">
		delete from
		SYS_QUERY
		where ID_ = #{id}
	</delete>

	<delete id="deleteQueryDefinitions" parameterType="com.glaf.core.query.QueryDefinitionQuery">
		delete from SYS_QUERY
		where (
		ID_ IN
		<foreach item="x_rowId" index="index" collection="rowIds"
			open="(" separator="," close=")">
			#{x_rowId}
		</foreach>
		)
	</delete>

	<select id="getQueryDefinitionById" parameterType="string"
		resultMap="queryDefinitionResultMap">
		select * from SYS_QUERY where ID_ = #{id}
	</select>

	<select id="getQueryDefinitionByTableName" parameterType="string"
		resultMap="queryDefinitionResultMap">
		select * from SYS_QUERY where TARGETTABLENAME_ =
		#{targetTableName}
	</select>


	<select id="getQueryDefinitions" parameterType="com.glaf.core.query.QueryDefinitionQuery"
		resultMap="queryDefinitionResultMap">
		select E.*
		<include refid="selectQueryDefinitionsSql" />
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>

	<select id="getQueryDefinitionCount" parameterType="com.glaf.core.query.QueryDefinitionQuery"
		resultType="int">
		select count(*)
		<include refid="selectQueryDefinitionsSql" />
	</select>

	<sql id="selectQueryDefinitionsSql">

		from SYS_QUERY E

		<where>
			1 = 1

			<if test="queryIds != null and queryIds.size != 0">
				and E.ID_ IN
				<foreach item="x_queryId" index="index" collection="queryIds"
					open="(" separator="," close=")">
					#{x_queryId}
				</foreach>
			</if>

			<if test="parentId != null and parentId != '' ">
				and E.PARENTID_ = #{parentId}
			</if>

			<if test="nodeId != null ">
				and E.NODEID_ = #{nodeId}
			</if>

			<if test="serviceKey != null and serviceKey != '' ">
				and E.SERVICEKEY_ = #{serviceKey}
			</if>

			<if test="titleLike != null and titleLike != '' ">
				and E.TITLE_ like #{titleLike}
			</if>

			<if test="descriptionLike != null and descriptionLike != '' ">
				and E.DESCRIPTION_ like #{descriptionLike}
			</if>

			<if test="dsName != null and dsName != '' ">
				and E.DSNAME_ = #{dsName}
			</if>

			<if test="type != null and type != '' ">
				and E.TYPE_ = #{type}
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
			</if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="locked != null">
				and E.LOCKED_ = #{locked}
			</if>

			<if test="lockedGreaterThanOrEqual != null">
				and E.LOCKED_ &gt;= #{lockedGreaterThanOrEqual}
			</if>

			<if test="lockedLessThanOrEqual != null">
				and E.LOCKED_ &lt;= #{lockedLessThanOrEqual}
			</if>

			<if test="revision != null">
				and E.REVISION_ = #{revision}
			</if>

			<if test="revisionGreaterThanOrEqual != null">
				and E.REVISION_ &gt;= #{revisionGreaterThanOrEqual}
			</if>

			<if test="revisionLessThanOrEqual != null">
				and E.REVISION_ &lt;= #{revisionLessThanOrEqual}
			</if>

		</where>
	</sql>

</mapper>