<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.core.mapper.SysKeyMapper">

	<resultMap id="sysKeyResultMap" type="com.glaf.core.domain.SysKey">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="title" column="TITLE_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="type" column="TYPE_" jdbcType="VARCHAR" />
		<result property="path" column="PATH_" jdbcType="VARCHAR" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE_" jdbcType="TIMESTAMP" />
	</resultMap>


	<resultMap id="sysKeyResultMap_global" type="com.glaf.core.domain.SysKey">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="title" column="TITLE_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="type" column="TYPE_" jdbcType="VARCHAR" />
		<result property="path" column="PATH_" jdbcType="VARCHAR" />
		<result property="data" column="DATA_" jdbcType="BLOB" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE_" jdbcType="TIMESTAMP" />
	</resultMap>


	<resultMap id="sysKeyResultMap_postgres" type="com.glaf.core.domain.SysKey">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="title" column="TITLE_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="type" column="TYPE_" jdbcType="VARCHAR" />
		<result property="path" column="PATH_" jdbcType="VARCHAR" />
		<result property="data" column="DATA_" jdbcType="BINARY" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE_" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertSysKey" parameterType="com.glaf.core.domain.SysKey">
		insert into SYS_KEY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="title != null">
				,TITLE_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="type != null">
				,TYPE_
			</if>
			<if test="path != null">
				,PATH_
			</if>
			<if test="data != null">
				,DATA_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createDate != null">
				,CREATEDATE_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="title != null">
				,#{title, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="type != null">
				,#{type, jdbcType=VARCHAR}
			</if>
			<if test="path != null">
				,#{path, jdbcType=VARCHAR}
			</if>
			<if test="data != null">
				,#{data, jdbcType=BLOB}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				,#{createDate, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<insert id="insertSysKey_postgres" parameterType="com.glaf.core.domain.SysKey">
		insert into SYS_KEY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="title != null">
				,TITLE_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="type != null">
				,TYPE_
			</if>
			<if test="path != null">
				,PATH_
			</if>
			<if test="data != null">
				,DATA_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createDate != null">
				,CREATEDATE_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="title != null">
				,#{title, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="type != null">
				,#{type, jdbcType=VARCHAR}
			</if>
			<if test="path != null">
				,#{path, jdbcType=VARCHAR}
			</if>
			<if test="data != null">
				,#{data, jdbcType=BINARY}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				,#{createDate, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<delete id="deleteSysKeyById" parameterType="string">
		delete from SYS_KEY
		where ID_ = #{id}
	</delete>


	<delete id="deleteSysKeys" parameterType="com.glaf.core.query.SysKeyQuery">
		delete from SYS_KEY
		where (
		ID_ IN
		<foreach item="x_id" index="index" collection="ids" open="("
			separator="," close=")">
			#{x_id}
		</foreach>
		)
	</delete>


	<select id="getSysKeyById" parameterType="string"
		resultMap="sysKeyResultMap_global">
		select * from SYS_KEY where ID_ = #{id}
	</select>


	<select id="getSysKeyById_postgres" parameterType="string"
		resultMap="sysKeyResultMap_postgres">
		select * from SYS_KEY where ID_ = #{id}
	</select>


	<select id="getSysKeys" parameterType="com.glaf.core.query.SysKeyQuery"
		resultMap="sysKeyResultMap">
		select E.*
		<include refid="selectSysKeysSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.CREATEDATE_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getSysKeyCount" parameterType="com.glaf.core.query.SysKeyQuery"
		resultType="int">
		select count(*)
		<include refid="selectSysKeysSql" />
	</select>


	<sql id="selectSysKeysSql">

		from SYS_KEY E

		<where>
			1 = 1

			<if test="titleLike != null and titleLike != '' ">
				and E.TITLE_ like #{titleLike}
			</if>

			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
			</if>

			<if test="type != null and type != '' ">
				and E.TYPE_ = #{type}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createDateGreaterThanOrEqual != null">
				and E.CREATEDATE_ &gt;= #{createDateGreaterThanOrEqual}
			</if>

			<if test="createDateLessThanOrEqual != null">
				and E.CREATEDATE_ &lt;= #{createDateLessThanOrEqual}
			</if>

			<if test="dataRequest != null and dataRequest.filter != null ">
				<include refid="com.glaf.global.GlobalMapper.dataRequestFilterCondition" />
			</if>

		</where>
	</sql>

</mapper>