<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.core.mapper.SysLogMapper">

	<resultMap id="sysLogResultMap" type="com.glaf.core.domain.SysLog">
		<id property="id" column="ID" jdbcType="BIGINT" />
		<result property="account" column="ACCOUNT" jdbcType="VARCHAR" />
		<result property="ip" column="IP" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATETIME" jdbcType="TIMESTAMP" />
		<result property="moduleId" column="MODULEID" jdbcType="VARCHAR" />
		<result property="operate" column="OPERATE" jdbcType="VARCHAR" />
		<result property="content" column="CONTENT" jdbcType="VARCHAR" />
		<result property="flag" column="FLAG" jdbcType="INTEGER" />
		<result property="timeMS" column="TIMEMS" jdbcType="INTEGER" />
	</resultMap>


	<insert id="insertSysLog" parameterType="com.glaf.core.domain.SysLog">
		insert into SYS_LOG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID
			<if test="account != null">
				,ACCOUNT
			</if>
			<if test="ip != null">
				,IP
			</if>
			<if test="createTime != null">
				,CREATETIME
			</if>
			<if test="moduleId != null">
				,MODULEID
			</if>
			<if test="operate != null">
				,OPERATE
			</if>
			<if test="content != null">
				,CONTENT
			</if>
			<if test="flag != null">
				,FLAG
			</if>
			<if test="timeMS != null">
				,TIMEMS
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}

			<if test="account != null">
				,#{account, jdbcType=VARCHAR}
			</if>
			<if test="ip != null">
				,#{ip, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
			<if test="moduleId != null">
				,#{moduleId, jdbcType=VARCHAR}
			</if>
			<if test="operate != null">
				,#{operate, jdbcType=VARCHAR}
			</if>
			<if test="content != null">
				,#{content, jdbcType=VARCHAR}
			</if>
			<if test="flag != null">
				,#{flag, jdbcType=INTEGER}
			</if>
			<if test="timeMS != null">
				,#{timeMS, jdbcType=INTEGER}
			</if>
		</trim>
	</insert>

	<delete id="deleteSysLogById" parameterType="long">
		delete from SYS_LOG
		where ID = #{id}
	</delete>

	<delete id="deleteSysLogs" parameterType="com.glaf.core.query.SysLogQuery">
		delete from SYS_LOG
		where (
		ID IN
		<foreach item="x_rowId" index="index" collection="rowIds"
			open="(" separator="," close=")">
			#{x_rowId}
		</foreach>
		)
	</delete>

	<select id="getSysLogById" parameterType="long" resultMap="sysLogResultMap">
		select * from SYS_LOG where ID = #{id}
	</select>


	<select id="getSysLogs" parameterType="com.glaf.core.query.SysLogQuery"
		resultMap="sysLogResultMap">
		select E.*
		<include refid="selectSysLogsSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.CREATETIME desc
			</otherwise>
		</choose>
	</select>

	<select id="getSysLogCount" parameterType="com.glaf.core.query.SysLogQuery"
		resultType="int">
		select count(*)
		<include refid="selectSysLogsSql" />
	</select>

	<sql id="selectSysLogsSql">

		from SYS_LOG E

		<where>
			1 = 1

			<if test="account != null and account != '' ">
				and E.ACCOUNT = #{account}
			</if>

			<if test="accounts != null and accounts.size != 0">
				and E.ACCOUNT IN
				<foreach item="x_account" index="index" collection="accounts"
					open="(" separator="," close=")">
					#{x_account}
				</foreach>
			</if>

			<if test="ip != null and ip != '' ">
				and E.IP = #{ip}
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME &gt;= #{createTimeGreaterThanOrEqual}
			</if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME &lt;= #{createTimeLessThanOrEqual}
			</if>

			<if test="operate != null and operate != '' ">
				and E.OPERATE = #{operate}
			</if>

			<if test="flag != null">
				and E.FLAG = #{flag}
			</if>

			<if test="flagGreaterThanOrEqual != null">
				and E.FLAG &gt;= #{flagGreaterThanOrEqual}
			</if>

			<if test="flagLessThanOrEqual != null">
				and E.FLAG &lt;= #{flagLessThanOrEqual}
			</if>

		</where>
	</sql>

</mapper>