<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.core.mapper.SystemParamMapper">

	<resultMap id="systemParamResultMap" type="com.glaf.core.domain.SystemParam">
		<id property="id" column="id" jdbcType="VARCHAR" />
		<result property="serviceKey" column="service_key" jdbcType="VARCHAR" />
		<result property="businessKey" column="business_key" jdbcType="VARCHAR" />
		<result property="typeCd" column="type_cd" jdbcType="VARCHAR" />
		<result property="keyName" column="key_name" jdbcType="VARCHAR" />
		<result property="title" column="title" jdbcType="VARCHAR" />
		<result property="javaType" column="java_type" jdbcType="VARCHAR" />
		<result property="stringVal" column="string_val" jdbcType="VARCHAR" />
		<result property="textVal" column="text_val" jdbcType="VARCHAR" />
		<result property="dateVal" column="date_val" jdbcType="TIMESTAMP" />
		<result property="intVal" column="int_val" jdbcType="INTEGER" />
		<result property="longVal" column="long_val" jdbcType="BIGINT" />
		<result property="doubleVal" column="double_val" jdbcType="DOUBLE" />
	</resultMap>


	<resultMap id="systemParamHashMap" type="java.util.HashMap">
		<id property="id" column="id" jdbcType="VARCHAR" />
		<result property="serviceKey" column="service_key" jdbcType="VARCHAR" />
		<result property="businessKey" column="business_key" jdbcType="VARCHAR" />
		<result property="typeCd" column="type_cd" jdbcType="VARCHAR" />
		<result property="keyName" column="key_name" jdbcType="VARCHAR" />
		<result property="title" column="title" jdbcType="VARCHAR" />
		<result property="javaType" column="java_type" jdbcType="VARCHAR" />
		<result property="stringVal" column="string_val" jdbcType="VARCHAR" />
		<result property="textVal" column="text_val" jdbcType="VARCHAR" />
		<result property="dateVal" column="date_val" jdbcType="TIMESTAMP" />
		<result property="intVal" column="int_val" jdbcType="INTEGER" />
		<result property="longVal" column="long_val" jdbcType="BIGINT" />
		<result property="doubleVal" column="double_val" jdbcType="DOUBLE" />
	</resultMap>


	<insert id="insertSystemParam" parameterType="com.glaf.core.domain.SystemParam">
		insert into SYS_PARAMS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id, service_key, business_key, type_cd, key_name, java_type, title
			<if test="stringVal != null">
				,string_val
			</if>
			<if test="textVal != null">
				,text_val
			</if>
			<if test="dateVal != null">
				,date_val
			</if>
			<if test="intVal != null">
				,int_val
			</if>
			<if test="longVal != null">
				,long_val
			</if>
			<if test="doubleVal != null">
				,double_val
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR},
			#{serviceKey, jdbcType=VARCHAR},
			#{businessKey, jdbcType=VARCHAR},
			#{typeCd, jdbcType=VARCHAR},
			#{keyName, jdbcType=VARCHAR},
			#{javaType, jdbcType=VARCHAR},
			#{title, jdbcType=VARCHAR}
			<if test="stringVal != null">
				,#{stringVal, jdbcType=VARCHAR}
			</if>
			<if test="textVal != null">
				,#{textVal, jdbcType=VARCHAR}
			</if>
			<if test="dateVal != null">
				,#{dateVal, jdbcType=TIMESTAMP}
			</if>
			<if test="intVal != null">
				,#{intVal, jdbcType=INTEGER}
			</if>
			<if test="longVal != null">
				,#{longVal, jdbcType=BIGINT}
			</if>
			<if test="doubleVal != null">
				,#{doubleVal, jdbcType=DOUBLE}
			</if>
		</trim>
	</insert>


	<update id="updateSystemParam" parameterType="com.glaf.core.domain.SystemParam">
		update SYS_PARAMS
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="title != null">
				title = #{title, jdbcType=VARCHAR},
			</if>
			<if test="javaType != null">
				java_type = #{javaType, jdbcType=VARCHAR},
			</if>
			<if test="intVal != null">
				int_val = #{intVal, jdbcType=TIMESTAMP},
			</if>
			<if test="longVal != null">
				long_val = #{longVal, jdbcType=TIMESTAMP},
			</if>
			<if test="doubleVal != null">
				double_val = #{doubleVal, jdbcType=TIMESTAMP},
			</if>
			<if test="dateVal != null">
				date_val = #{dateVal, jdbcType=TIMESTAMP},
			</if>
			<if test="stringVal != null">
				string_val = #{stringVal, jdbcType=VARCHAR},
			</if>
			<if test="textVal != null">
				text_val = #{textVal, jdbcType=VARCHAR},
			</if>

		</trim>
		where
		id = #{id, jdbcType=VARCHAR}

	</update>


	<delete id="deleteSystemParamById" parameterType="string">
		delete from SYS_PARAMS
		where id = #{id}
	</delete>


	<delete id="deleteSystemParamsByServiceKey" parameterType="string">
		delete from SYS_PARAMS
		where service_key = #{serviceKey}
	</delete>


	<select id="getSystemParamsByServiceKey" parameterType="string"
		resultMap="systemParamResultMap">
		select * from SYS_PARAMS
		where service_key = #{serviceKey}
	</select>

	<select id="getSystemParamById" parameterType="string"
		resultMap="systemParamResultMap">
		select * from SYS_PARAMS where id = #{id}
	</select>


	<select id="getSystemParamCount" parameterType="map" resultType="int">
		select count(*) from SYS_PARAMS E
		<include refid="selectSystemParamSql" />
	</select>


	<select id="getSystemParamCountByQueryCriteria" parameterType="com.glaf.core.query.SystemParamQuery"
		resultType="int">
		select count(*) from SYS_PARAMS E
		<include refid="selectSystemParamSql" />
	</select>


	<select id="getSystemParams" parameterType="map"
		resultMap="systemParamResultMap">
		select E.* from SYS_PARAMS E
		<include refid="selectSystemParamSql" />
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>


	<select id="getSystemParamMapList" parameterType="map"
		resultType="map">
		select E.* from SYS_PARAMS E
		<include refid="selectSystemParamSql" />
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>


	<select id="getSystemParamsByQueryCriteria" parameterType="com.glaf.core.query.SystemParamQuery"
		resultMap="systemParamResultMap">
		select E.* from SYS_PARAMS E
		<include refid="selectSystemParamSql" />
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>


	<sql id="selectSystemParamSql">

		<where>

			1 = 1

			<if test="serviceKey != null and serviceKey != '' ">
				and E.service_key = #{serviceKey}
			</if>

			<if test="businessKey != null and businessKey != '' ">
				and E.business_key = #{businessKey}
			</if>

			<if test="typeCd != null and typeCd != '' ">
				and E.type_cd = #{typeCd}
			</if>

			<if test="typeCds != null and typeCds.size != 0">
				and E.type_cd IN
				<foreach item="x_typeCd" index="index" collection="typeCds"
					open="(" separator="," close=")">
					#{x_typeCd}
				</foreach>
			</if>

			<if test="keyName != null and keyName != '' ">
				and E.key_name = #{keyName}
			</if>

			<if test="keyNames != null and keyNames.size != 0">
				and E.key_name IN
				<foreach item="x_keyName" index="index" collection="keyNames"
					open="(" separator="," close=")">
					#{x_keyName}
				</foreach>
			</if>

			<if test="titleLike != null and titleLike != '' ">
				and E.title like #{titleLike}
			</if>

		</where>
	</sql>

</mapper>