<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv="Content-Type" content="text/html; charset=gb2312">
<BODY>
<br>&nbsp;&nbsp;&nbsp;&nbsp;感谢贵公司平日来对我公司的支持与帮助! <br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;Greatly Appreciate Your Help and Support Throughout the Time!<br><br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;经我司综合评价研究，很抱歉通知贵公司物品已被撤消GTMC的目录采购物品，详细物品请查看附件。<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;Regret to inform you that your company is not chosen to be the supplier of the this items!<br><br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;再次感谢贵公司此次的参与与合作！希望今后仍有和贵公司合作的机会。谢谢！<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;Thank you again for your help.Looking forward to the next cooperation!
</BODY>
</HTML>