<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--service -->

	<bean id="attachmentService" class="com.glaf.base.modules.others.service.AttachmentServiceImpl" >
		<property name="abstractDao">
			<ref bean="abstractDao"/>
		</property>
	</bean>

	<bean id="attachmentProxy" parent="baseTxService">
		<property name="target">
			<ref bean="attachmentService"/>
		</property>
	</bean>

	<bean id="auditService" class="com.glaf.base.modules.others.service.AuditServiceImpl">
		<property name="abstractDao">
			<ref bean="abstractDao" />
		</property>
	</bean>

	<bean id="auditProxy" parent="baseTxService">
		<property name="target">
			<ref bean="auditService" />
		</property>
	</bean>

	<bean id="workCalendarService" class="com.glaf.base.modules.others.service.WorkCalendarServiceImpl">
		<property name="abstractDao">
			<ref bean="abstractDao" />
		</property>
	</bean>

	<bean id="workCalendarProxy" parent="baseTxService">
		<property name="target">
			<ref bean="workCalendarService" />
		</property>
	</bean>


</beans>