<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.mail.mapper.MailItemMapper">

	<resultMap id="mailItemResultMap" type="com.glaf.mail.domain.MailItem">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="taskId" column="TASKID_" jdbcType="VARCHAR" />
		<result property="accountId" column="ACCOUNTID_" jdbcType="VARCHAR" />
		<result property="mailTo" column="MAILTO_" jdbcType="VARCHAR" />
		<result property="sendDate" column="SENDDATE_" jdbcType="TIMESTAMP" />
		<result property="sendStatus" column="SENDSTATUS_" jdbcType="INTEGER" />
		<result property="retryTimes" column="RETRYTIMES_" jdbcType="INTEGER" />
		<result property="receiveIP" column="RECEIVEIP_" jdbcType="VARCHAR" />
		<result property="receiveDate" column="RECEIVEDATE_" jdbcType="TIMESTAMP" />
		<result property="receiveStatus" column="RECEIVESTATUS_"
			jdbcType="INTEGER" />
		<result property="lastModified" column="LASTMODIFIED_"
			jdbcType="BIGINT" />
	</resultMap>


	<insert id="insertMailItem" parameterType="com.glaf.mail.domain.MailItem">

		insert into ${tableName}

		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="accountId != null">
				,ACCOUNTID_
			</if>
			<if test="taskId != null">
				,TASKID_
			</if>
			<if test="mailTo != null">
				,MAILTO_
			</if>
			<if test="sendDate != null">
				,SENDDATE_
			</if>
			<if test="sendStatus != null">
				,SENDSTATUS_
			</if>
			<if test="retryTimes != null">
				,RETRYTIMES_
			</if>
			<if test="receiveIP != null">
				,RECEIVEIP_
			</if>
			<if test="receiveDate != null">
				,RECEIVEDATE_
			</if>
			<if test="contentType != null">
				,CONTENTTYPE_
			</if>
			<if test="clientOS != null">
				,CLIENTOS_
			</if>
			<if test="browser != null">
				,BROWSER_
			</if>
			<if test="receiveStatus != null">
				,RECEIVESTATUS_
			</if>
			<if test="lastModified != null">
				,LASTMODIFIED_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="accountId != null">
				,#{accountId, jdbcType=VARCHAR}
			</if>
			<if test="taskId != null">
				,#{taskId, jdbcType=VARCHAR}
			</if>
			<if test="mailTo != null">
				,#{mailTo, jdbcType=VARCHAR}
			</if>
			<if test="sendDate != null">
				,#{sendDate, jdbcType=TIMESTAMP}
			</if>
			<if test="sendStatus != null">
				,#{sendStatus, jdbcType=INTEGER}
			</if>
			<if test="retryTimes != null">
				,#{retryTimes, jdbcType=INTEGER}
			</if>
			<if test="receiveIP != null">
				,#{receiveIP, jdbcType=VARCHAR}
			</if>
			<if test="receiveDate != null">
				,#{receiveDate, jdbcType=TIMESTAMP}
			</if>
			<if test="contentType != null">
				,#{contentType, jdbcType=VARCHAR}
			</if>
			<if test="clientOS != null">
				,#{clientOS, jdbcType=VARCHAR}
			</if>
			<if test="browser != null">
				,#{browser, jdbcType=VARCHAR}
			</if>
			<if test="receiveStatus != null">
				,#{receiveStatus, jdbcType=INTEGER}
			</if>
			<if test="lastModified != null">
				,#{lastModified, jdbcType=BIGINT}
			</if>
		</trim>
	</insert>


	<update id="updateMailItem" parameterType="com.glaf.mail.domain.MailItem">

		update ${tableName}
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="sendDate != null">
				SENDDATE_ = #{sendDate, jdbcType=TIMESTAMP},
			</if>
			<if test="sendStatus != null">
				SENDSTATUS_ = #{sendStatus, jdbcType=INTEGER},
			</if>
			<if test="retryTimes != null">
				RETRYTIMES_ = #{retryTimes, jdbcType=INTEGER},
			</if>
			<if test="receiveIP != null">
				RECEIVEIP_ = #{receiveIP, jdbcType=VARCHAR},
			</if>
			<if test="receiveDate != null">
				RECEIVEDATE_ = #{receiveDate, jdbcType=TIMESTAMP},
			</if>
			<if test="contentType != null">
				CONTENTTYPE_ = #{contentType, jdbcType=VARCHAR},
			</if>
			<if test="clientOS != null">
				CLIENTOS_ = #{clientOS, jdbcType=VARCHAR},
			</if>
			<if test="browser != null">
				BROWSER_ = #{browser, jdbcType=VARCHAR},
			</if>
			<if test="receiveStatus != null">
				RECEIVESTATUS_ = #{receiveStatus, jdbcType=INTEGER},
			</if>
			<if test="lastModified != null">
				LASTMODIFIED_ = #{lastModified, jdbcType=BIGINT},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=VARCHAR}

	</update>


	<select id="getMailItemById" parameterType="com.glaf.mail.query.MailItemQuery"
		resultMap="mailItemResultMap">
		select * from ${tableName}
		where ID_ = #{itemId}
	</select>


	<select id="getMailItems" parameterType="com.glaf.mail.query.MailItemQuery"
		resultMap="mailItemResultMap">
		select E.*
		<include refid="selectMailItemsSql" />
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>


	<select id="getMailItemCount" parameterType="com.glaf.mail.query.MailItemQuery"
		resultType="int">
		select count(*)
		<include refid="selectMailItemsSql" />
	</select>


	<sql id="selectMailItemsSql">

		from ${tableName} E

		<where>
			1 = 1

			<if test="taskId != null and taskId != '' ">
				and E.TASKID_ = #{taskId}
			</if>

			<if test="sendDateGreaterThanOrEqual != null">
				and E.SENDDATE_ &gt;= #{sendDateGreaterThanOrEqual}
			</if>

			<if test="sendDateLessThanOrEqual != null">
				and E.SENDDATE_ &lt;= #{sendDateLessThanOrEqual}
			</if>

			<if test="sendStatus != null">
				and E.SENDSTATUS_ = #{sendStatus}
			</if>

			<if test="sendStatusGreaterThanOrEqual != null">
				and E.SENDSTATUS_ &gt;= #{sendStatusGreaterThanOrEqual}
			</if>

			<if test="sendStatusLessThanOrEqual != null">
				and E.SENDSTATUS_ &lt;= #{sendStatusLessThanOrEqual}
			</if>

			<if test="receiveDateGreaterThanOrEqual != null">
				and E.RECEIVEDATE_ &gt;= #{receiveDateGreaterThanOrEqual}
			</if>

			<if test="receiveDateLessThanOrEqual != null">
				and E.RECEIVEDATE_ &lt;= #{receiveDateLessThanOrEqual}
			</if>

			<if test="receiveStatus != null">
				and E.RECEIVESTATUS_ = #{receiveStatus}
			</if>

			<if test="receiveStatusGreaterThanOrEqual != null">
				and E.RECEIVESTATUS_ &gt;=
				#{receiveStatusGreaterThanOrEqual}
			</if>

			<if test="receiveStatusLessThanOrEqual != null">
				and E.RECEIVESTATUS_ &lt;=
				#{receiveStatusLessThanOrEqual}
			</if>

		</where>
	</sql>

	<select id="getMailSendStatusCount" parameterType="com.glaf.mail.query.MailItemQuery"
		resultType="com.glaf.mail.domain.MailCount">

		SELECT SENDSTATUS_ sendStatus, COUNT(ID_) qty
		FROM
		${tableName}
		WHERE TASKID_ = #{taskId}
		GROUP BY SENDSTATUS_

	</select>

	<select id="getMailAccountSendStatusCount" parameterType="com.glaf.mail.query.MailItemQuery"
		resultType="com.glaf.mail.domain.MailCount">

		SELECT ACCOUNTID_ accountId, SENDSTATUS_ sendStatus,
		COUNT(ID_) qty
		FROM ${tableName}
		WHERE TASKID_ = #{taskId}
		GROUP BY
		ACCOUNTID_, SENDSTATUS_

	</select>

	<select id="getMailReceiveStatusCount" parameterType="com.glaf.mail.query.MailItemQuery"
		resultType="com.glaf.mail.domain.MailCount">

		SELECT RECEIVESTATUS_ receiveStatus, COUNT(ID_) qty
		FROM
		${tableName}
		WHERE TASKID_ = #{taskId}
		GROUP BY RECEIVESTATUS_

	</select>

	<select id="getMailAccountReceiveStatusCount" parameterType="com.glaf.mail.query.MailItemQuery"
		resultType="com.glaf.mail.domain.MailCount">

		SELECT ACCOUNTID_ accountId, RECEIVESTATUS_ receiveStatus,
		COUNT(ID_) qty
		FROM ${tableName}
		WHERE TASKID_ = #{taskId}
		GROUP BY
		ACCOUNTID_, RECEIVESTATUS_

	</select>

</mapper>