<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.mail.mapper.MailTaskAccountMapper">

	<resultMap id="mailTaskAccountResultMap"	type="com.glaf.mail.domain.MailTaskAccount">
		<id property="id" column="ID_" jdbcType="VARCHAR"/>
		<result property="taskId" column="TASKID_" jdbcType="VARCHAR"/>
		<result property="accountId" column="ACCOUNTID_" jdbcType="VARCHAR"/>
	</resultMap>

 
	<insert id="insertMailTaskAccount" parameterType="com.glaf.mail.domain.MailTaskAccount">
		
		insert into SYS_MAIL_TASK_ACCOUNT ( ID_,TASKID_ ,ACCOUNTID_ )
		values (
         #{id, jdbcType=VARCHAR}
        ,#{taskId, jdbcType=VARCHAR}
        ,#{accountId, jdbcType=VARCHAR}
		)
		
	</insert>

 
	<delete id="deleteMailTaskAccountByTaskId" parameterType="string"> 
        delete from SYS_MAIL_TASK_ACCOUNT
        where TASKID_ =	#{taskId}
	</delete>
	

	<select id="getMailTaskAccountsByTaskId" parameterType="string" resultMap="mailTaskAccountResultMap">
		select * from SYS_MAIL_TASK_ACCOUNT where TASKID_ =	#{taskId}
	</select>


	<select id="getMailTaskAccounts" 
		parameterType="com.glaf.mail.query.MailTaskAccountQuery"
		resultMap="mailTaskAccountResultMap">
		select E.*
		<include refid="selectMailTaskAccountsSql" />
		<if test="orderBy != null">
		   order by ${orderBy}
		</if>
	</select>


	<select id="getMailTaskAccountCount" 
		parameterType="com.glaf.mail.query.MailTaskAccountQuery"
		resultType="int">
		select count(*)
		<include refid="selectMailTaskAccountsSql" />
	</select>


	<sql id="selectMailTaskAccountsSql">

		from SYS_MAIL_TASK_ACCOUNT E
		 
		<where>
		       1 = 1  
	        
			<if test="taskId != null and taskId != '' ">
				and E.TASKID_ = #{taskId}
			</if>

			<if test="taskIds != null and taskIds.size != 0">
			    and E.TASKID_ IN
				<foreach item="x_taskId" index="index" collection="taskIds" 
					open="(" separator="," close=")">
                  #{x_taskId}
				</foreach>
			</if>

			<if test="accountId != null and accountId != '' ">
				and E.ACCOUNTID_ = #{accountId}
			</if>
 
			<if test="accountIds != null and accountIds.size != 0">
			    and E.ACCOUNTID_ IN
				<foreach item="x_accountId" index="index" collection="accountIds" 
					open="(" separator="," close=")">
                  #{x_accountId}
				</foreach>
			</if>
	 
		</where>
	</sql>

</mapper>