<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.form.core.mapper.FormApplicationMapper">

	<resultMap id="formApplicationResultMap" type="com.glaf.form.core.domain.FormApplication">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="nodeId" column="NODEID_" jdbcType="BIGINT" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="title" column="TITLE_" jdbcType="VARCHAR" />
		<result property="description" column="DESCRIPTION_" jdbcType="VARCHAR" />
		<result property="tableName" column="TABLENAME_" jdbcType="VARCHAR" />
		<result property="formName" column="FORMNAME_" jdbcType="VARCHAR" />
		<result property="processName" column="PROCESSNAME_" jdbcType="VARCHAR" />
		<result property="processDefinitionId" column="PROCESSDEFINITIONID_"
			jdbcType="VARCHAR" />
		<result property="linkTemplateId" column="LINKTEMPLATEID_"
			jdbcType="VARCHAR" />
		<result property="linkControllerName" column="LINKCONTROLLERNAME_"
			jdbcType="VARCHAR" />
		<result property="listTemplateId" column="LISTTEMPLATEID_"
			jdbcType="VARCHAR" />
		<result property="listControllerName" column="LISTCONTROLLERNAME_"
			jdbcType="VARCHAR" />
		<result property="formRendererType" column="FORMRENDERERTYPE_"
			jdbcType="VARCHAR" />
		<result property="releaseFlag" column="RELEASEFLAG_" jdbcType="VARCHAR" />
		<result property="releaseDate" column="RELEASEDATE_" jdbcType="TIMESTAMP" />
		<result property="uploadFlag" column="UPLOADFLAG_" jdbcType="VARCHAR" />
		<result property="docRequiredFlag" column="DOCREQUIREDFLAG_"
			jdbcType="VARCHAR" />
		<result property="auditUploadFlag" column="AUDITUPLOADFLAG_"
			jdbcType="VARCHAR" />
		<result property="autoArchivesFlag" column="AUTOARCHIVESFLAG_"
			jdbcType="VARCHAR" />
		<result property="manualRouteFlag" column="MANUALROUTEFLAG_"
			jdbcType="VARCHAR" />
		<result property="archivesNode" column="ARCHIVESNODE_"
			jdbcType="VARCHAR" />
		<result property="objectId" column="OBJECTID_" jdbcType="VARCHAR" />
		<result property="objectValue" column="OBJECTVALUE_" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE_" jdbcType="TIMESTAMP" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertFormApplication" parameterType="com.glaf.form.core.domain.FormApplication">
		insert into FORM_APPLICATION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="nodeId != null">
				,NODEID_
			</if>
			<if test="archivesNode != null">
				,ARCHIVESNODE_
			</if>
			<if test="auditUploadFlag != null">
				,AUDITUPLOADFLAG_
			</if>
			<if test="autoArchivesFlag != null">
				,AUTOARCHIVESFLAG_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createDate != null">
				,CREATEDATE_
			</if>
			<if test="description != null">
				,DESCRIPTION_
			</if>
			<if test="docRequiredFlag != null">
				,DOCREQUIREDFLAG_
			</if>
			<if test="tableName != null">
				,TABLENAME_
			</if>
			<if test="formName != null">
				,FORMNAME_
			</if>
			<if test="formRendererType != null">
				,FORMRENDERERTYPE_
			</if>
			<if test="linkControllerName != null">
				,LINKCONTROLLERNAME_
			</if>
			<if test="linkTemplateId != null">
				,LINKTEMPLATEID_
			</if>
			<if test="listControllerName != null">
				,LISTCONTROLLERNAME_
			</if>
			<if test="listTemplateId != null">
				,LISTTEMPLATEID_
			</if>
			<if test="manualRouteFlag != null">
				,MANUALROUTEFLAG_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="objectId != null">
				,OBJECTID_
			</if>
			<if test="objectValue != null">
				,OBJECTVALUE_
			</if>
			<if test="processDefinitionId != null">
				,PROCESSDEFINITIONID_
			</if>
			<if test="processName != null">
				,PROCESSNAME_
			</if>
			<if test="releaseDate != null">
				,RELEASEDATE_
			</if>
			<if test="releaseFlag != null">
				,RELEASEFLAG_
			</if>
			<if test="tableName != null">
				,TABLENAME_
			</if>
			<if test="title != null">
				,TITLE_
			</if>
			<if test="uploadFlag != null">
				,UPLOADFLAG_
			</if>
			<if test="updateBy != null">
				,UPDATEBY
			</if>
			<if test="updateDate != null">
				,UPDATEDATE
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}
            
            <if test="nodeId != null">
				,#{nodeId, jdbcType=BIGINT}
			</if>
			
			<if test="archivesNode != null">
				,#{archivesNode, jdbcType=VARCHAR}
			</if>
			<if test="auditUploadFlag != null">
				,#{auditUploadFlag, jdbcType=VARCHAR}
			</if>
			<if test="autoArchivesFlag != null">
				,#{autoArchivesFlag, jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				,#{createDate, jdbcType=TIMESTAMP}
			</if>
			<if test="description != null">
				,#{description, jdbcType=VARCHAR}
			</if>
			<if test="docRequiredFlag != null">
				,#{docRequiredFlag, jdbcType=VARCHAR}
			</if>
			<if test="tableName != null">
				,#{tableName, jdbcType=VARCHAR}
			</if>
			<if test="formName != null">
				,#{formName, jdbcType=VARCHAR}
			</if>
			<if test="formRendererType != null">
				,#{formRendererType, jdbcType=VARCHAR}
			</if>
			<if test="linkControllerName != null">
				,#{linkControllerName, jdbcType=VARCHAR}
			</if>
			<if test="linkTemplateId != null">
				,#{linkTemplateId, jdbcType=VARCHAR}
			</if>
			<if test="listControllerName != null">
				,#{listControllerName, jdbcType=VARCHAR}
			</if>
			<if test="listTemplateId != null">
				,#{listTemplateId, jdbcType=VARCHAR}
			</if>
			<if test="manualRouteFlag != null">
				,#{manualRouteFlag, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="objectId != null">
				,#{objectId, jdbcType=VARCHAR}
			</if>
			<if test="objectValue != null">
				,#{objectValue, jdbcType=VARCHAR}
			</if>
			<if test="processDefinitionId != null">
				,#{processDefinitionId, jdbcType=VARCHAR}
			</if>
			<if test="processName != null">
				,#{processName, jdbcType=VARCHAR}
			</if>
			<if test="releaseDate != null">
				,#{releaseDate, jdbcType=TIMESTAMP}
			</if>
			<if test="releaseFlag != null">
				,#{releaseFlag, jdbcType=VARCHAR}
			</if>
			<if test="tableName != null">
				,#{tableName, jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				,#{title, jdbcType=VARCHAR}
			</if>
			<if test="uploadFlag != null">
				,#{uploadFlag, jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null">
				,#{updateBy, jdbcType=VARCHAR}
			</if>
			<if test="updateDate != null">
				,#{updateDate, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<update id="updateFormApplication" parameterType="com.glaf.form.core.domain.FormApplication">

		update FORM_APPLICATION
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="archivesNode != null">
				ARCHIVESNODE_ = #{archivesNode, jdbcType=VARCHAR},
			</if>
			<if test="auditUploadFlag != null">
				AUDITUPLOADFLAG_ = #{auditUploadFlag, jdbcType=VARCHAR},
			</if>
			<if test="autoArchivesFlag != null">
				AUTOARCHIVESFLAG_ = #{autoArchivesFlag,
				jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				DESCRIPTION_ = #{description, jdbcType=VARCHAR},
			</if>
			<if test="docRequiredFlag != null">
				DOCREQUIREDFLAG_ = #{docRequiredFlag, jdbcType=VARCHAR},
			</if>
			<if test="formName != null">
				FORMNAME_ = #{formName, jdbcType=VARCHAR},
			</if>
			<if test="formRendererType != null">
				FORMRENDERERTYPE_ = #{formRendererType,
				jdbcType=VARCHAR},
			</if>
			<if test="linkControllerName != null">
				LINKCONTROLLERNAME_ = #{linkControllerName,
				jdbcType=VARCHAR},
			</if>
			<if test="linkTemplateId != null">
				LINKTEMPLATEID_ = #{linkTemplateId, jdbcType=VARCHAR},
			</if>
			<if test="listControllerName != null">
				LISTCONTROLLERNAME_ = #{listControllerName,
				jdbcType=VARCHAR},
			</if>
			<if test="listTemplateId != null">
				LISTTEMPLATEID_ = #{listTemplateId, jdbcType=VARCHAR},
			</if>
			<if test="manualRouteFlag != null">
				MANUALROUTEFLAG_ = #{manualRouteFlag, jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME_ = #{name, jdbcType=VARCHAR},
			</if>
			<if test="objectId != null">
				OBJECTID_ = #{objectId, jdbcType=VARCHAR},
			</if>
			<if test="objectValue != null">
				OBJECTVALUE_ = #{objectValue, jdbcType=VARCHAR},
			</if>
			<if test="processDefinitionId != null">
				PROCESSDEFINITIONID_ = #{processDefinitionId,
				jdbcType=VARCHAR},
			</if>
			<if test="processName != null">
				PROCESSNAME_ = #{processName, jdbcType=VARCHAR},
			</if>
			<if test="releaseDate != null">
				RELEASEDATE_ = #{releaseDate, jdbcType=TIMESTAMP},
			</if>
			<if test="releaseFlag != null">
				RELEASEFLAG_ = #{releaseFlag, jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				TITLE_ = #{title, jdbcType=VARCHAR},
			</if>
			<if test="uploadFlag != null">
				UPLOADFLAG_ = #{uploadFlag, jdbcType=VARCHAR},
			</if>
			<if test="updateBy != null">
				UPDATEBY = #{updateBy, jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				UPDATEDATE = #{updateDate, jdbcType=TIMESTAMP},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=VARCHAR}

	</update>

	<delete id="deleteFormApplicationById" parameterType="string">
		delete from
		FORM_APPLICATION
		where ID_ = #{id}
	</delete>

	<select id="getFormApplicationById" parameterType="string"
		resultMap="formApplicationResultMap">
		select * from FORM_APPLICATION where ID_ = #{id}
	</select>

	<select id="getFormApplicationByName" parameterType="string"
		resultMap="formApplicationResultMap">
		select * from FORM_APPLICATION where NAME_ = #{name}
	</select>

	<select id="getFormApplications" parameterType="com.glaf.form.core.query.FormApplicationQuery"
		resultMap="formApplicationResultMap">
		select E.*
		<include refid="selectFormApplicationsSql" />
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>

	<select id="getFormApplicationCount" parameterType="com.glaf.form.core.query.FormApplicationQuery"
		resultType="int">
		select count(*)
		<include refid="selectFormApplicationsSql" />
	</select>

	<sql id="selectFormApplicationsSql">

		from FORM_APPLICATION E

		<where>
			1 = 1

			<if test="nodeId != null ">
				and E.NODEID_ = #{nodeId}
			</if>

			<if test="nodeIds != null and nodeIds.size() &gt; 0">
				and E.NODEID_ IN
				<foreach item="x_nodeId" index="index" collection="nodeIds"
					open="(" separator="," close=")">
					#{x_nodeId}
				</foreach>
			</if>

			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
			</if>

			<if test="names != null and names.size() &gt; 0">
				and E.NAME_ IN
				<foreach item="x_name" index="index" collection="names"
					open="(" separator="," close=")">
					#{x_name}
				</foreach>
			</if>

			<if test="titleLike != null and titleLike != '' ">
				and E.TITLE_ like #{titleLike}
			</if>

			<if test="descriptionLike != null and descriptionLike != '' ">
				and E.DESCRIPTION_ like #{descriptionLike}
			</if>

			<if test="formName != null and formName != '' ">
				and E.FORMNAME_ = #{formName}
			</if>

			<if test="formNames != null and formNames.size() &gt; 0">
				and E.FORMNAME_ IN
				<foreach item="x_formName" index="index" collection="formNames"
					open="(" separator="," close=")">
					#{x_formName}
				</foreach>
			</if>

			<if test="processName != null and processName != '' ">
				and E.PROCESSNAME_ = #{processName}
			</if>

			<if test="processNames != null and processNames.size() &gt; 0">
				and E.PROCESSNAME_ IN
				<foreach item="x_processName" index="index" collection="processNames"
					open="(" separator="," close=")">
					#{x_processName}
				</foreach>
			</if>

			<if test="processDefinitionId != null and processDefinitionId != '' ">
				and E.PROCESSDEFINITIONID_ = #{processDefinitionId}
			</if>

			<if
				test="processDefinitionIds != null and processDefinitionIds.size() &gt; 0">
				and E.PROCESSDEFINITIONID_ IN
				<foreach item="x_processDefinitionId" index="index"
					collection="processDefinitionIds" open="(" separator="," close=")">
					#{x_processDefinitionId}
				</foreach>
			</if>

			<if test="releaseFlag != null and releaseFlag != '' ">
				and E.RELEASEFLAG_ = #{releaseFlag}
			</if>

			<if test="releaseDateGreaterThanOrEqual != null">
				and E.RELEASEDATE_ &gt;= #{releaseDateGreaterThanOrEqual}
			</if>

			<if test="releaseDateLessThanOrEqual != null">
				and E.RELEASEDATE_ &lt;= #{releaseDateLessThanOrEqual}
			</if>

			<if test="uploadFlag != null and uploadFlag != '' ">
				and E.UPLOADFLAG_ = #{uploadFlag}
			</if>

			<if test="docRequiredFlag != null and docRequiredFlag != '' ">
				and E.DOCREQUIREDFLAG_ = #{docRequiredFlag}
			</if>

			<if test="auditUploadFlag != null and auditUploadFlag != '' ">
				and E.AUDITUPLOADFLAG_ = #{auditUploadFlag}
			</if>

			<if test="autoArchivesFlag != null and autoArchivesFlag != '' ">
				and E.AUTOARCHIVESFLAG_ = #{autoArchivesFlag}
			</if>

			<if test="manualRouteFlag != null and manualRouteFlag != '' ">
				and E.MANUALROUTEFLAG_ = #{manualRouteFlag}
			</if>

			<if test="objectId != null and objectId != '' ">
				and E.OBJECTID_ = #{objectId}
			</if>

			<if test="objectIds != null and objectIds.size() &gt; 0">
				and E.OBJECTID_ IN
				<foreach item="x_objectId" index="index" collection="objectIds"
					open="(" separator="," close=")">
					#{x_objectId}
				</foreach>
			</if>

			<if test="objectValue != null and objectValue != '' ">
				and E.OBJECTVALUE_ = #{objectValue}
			</if>

			<if test="objectValues != null and objectValues.size() &gt; 0">
				and E.OBJECTVALUE_ IN
				<foreach item="x_objectValue" index="index" collection="objectValues"
					open="(" separator="," close=")">
					#{x_objectValue}
				</foreach>
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="afterCreateDate != null">
				and E.CREATEDATE_ &gt;= #{afterCreateDate}
			</if>

			<if test="beforeCreateDate != null">
				and E.CREATEDATE_ &lt;= #{beforeCreateDate}
			</if>
		</where>
	</sql>

</mapper>