<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.form.core.mapper.FormLinkMapper">

	<resultMap id="formLinkResultMap" type="com.glaf.form.core.domain.FormLink">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="appId" column="APPID_"
			jdbcType="VARCHAR" />
		<result property="childAppId" column="CHILDAPPID_" jdbcType="VARCHAR" />
		<result property="oneToMany" column="ONETOMANY_" jdbcType="INTEGER" />
		<result property="orderBy" column="ORDERBY_" jdbcType="VARCHAR" />
		<result property="sortNo" column="SORTNO_" jdbcType="INTEGER" />
		<result property="objectId" column="OBJECTID_" jdbcType="VARCHAR" />
		<result property="objectValue" column="OBJECTVALUE_" jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertFormLink" parameterType="com.glaf.form.core.domain.FormLink">
		insert into
		FORM_LINK (
		ID_
		,APPID_
		,CHILDAPPID_
		,ONETOMANY_
		,ORDERBY_
		,SORTNO_
		,OBJECTID_
		,OBJECTVALUE_
		)
		values (
		#{id, jdbcType=VARCHAR}
		,#{appId,
		jdbcType=VARCHAR}
		,#{childAppId, jdbcType=VARCHAR}
		,#{oneToMany,
		jdbcType=INTEGER}
		,#{orderBy, jdbcType=VARCHAR}
		,#{sortNo,
		jdbcType=INTEGER}
		,#{objectId, jdbcType=VARCHAR}
		,#{objectValue,
		jdbcType=VARCHAR}
		)
	</insert>

	<delete id="deleteFormLinkById" parameterType="string">
		delete from
		FORM_LINK
		where ID_ = #{id}
	</delete>

	<delete id="deleteFormLinks" parameterType="string">
		delete from FORM_LINK
		where APPID_ = #{appId}
	</delete>


	<select id="getFormLinkById" parameterType="string" resultMap="formLinkResultMap">
		select * from FORM_LINK where ID_ = #{id}
	</select>


	<select id="getFormLinks" parameterType="com.glaf.form.core.query.FormLinkQuery"
		resultMap="formLinkResultMap">
		select E.*
		<include refid="selectFormLinksSql" />
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>

	<select id="getFormLinkCount" parameterType="com.glaf.form.core.query.FormLinkQuery"
		resultType="int">
		select count(*)
		<include refid="selectFormLinksSql" />
	</select>

	<sql id="selectFormLinksSql">

		from FORM_LINK E

		<where>
			1 = 1

			<if test="appId != null and appId != '' ">
				and E.APPID_ = #{appId}
			</if>

			<if test="appIds != null and appIds.size != 0">
				and E.APPID_ IN
				<foreach item="x_appId" index="index" collection="appIds"
					open="(" separator="," close=")">
					#{x_appId}
				</foreach>
			</if>

			<if test="childAppId != null and childAppId != '' ">
				and E.CHILDAPPID_ = #{childAppId}
			</if>

			<if test="childAppIds != null and childAppIds.size != 0">
				and E.CHILDAPPID_ IN
				<foreach item="x_childAppId" index="index" collection="childAppIds"
					open="(" separator="," close=")">
					#{x_childAppId}
				</foreach>
			</if>

			<if test="objectId != null and objectId != '' ">
				and E.OBJECTID_ = #{objectId}
			</if>

			<if test="objectIds != null and objectIds.size != 0">
				and E.OBJECTID_ IN
				<foreach item="x_objectId" index="index" collection="objectIds"
					open="(" separator="," close=")">
					#{x_objectId}
				</foreach>
			</if>

			<if test="objectValue != null and objectValue != '' ">
				and E.OBJECTVALUE_ = #{objectValue}
			</if>

			<if test="objectValues != null and objectValues.size != 0">
				and E.OBJECTVALUE_ IN
				<foreach item="x_objectValue" index="index" collection="objectValues"
					open="(" separator="," close=")">
					#{x_objectValue}
				</foreach>
			</if>

		</where>
	</sql>

</mapper>