<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.form.core.mapper.FormDefinitionMapper">

	<resultMap id="formDefinitionResultMap" type="com.glaf.form.core.domain.FormDefinition">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="title" column="TITLE_" jdbcType="VARCHAR" />
		<result property="description" column="DESCRIPTION_" jdbcType="VARCHAR" />
		<result property="formDefinitionId" column="FORMDEFINITIONID_"
			jdbcType="VARCHAR" />
		<result property="templateName" column="TEMPLATENAME_"
			jdbcType="VARCHAR" />
		<result property="templateType" column="TEMPLATETYPE_"
			jdbcType="VARCHAR" />
		<result property="nodeId" column="NODEID_" jdbcType="BIGINT" />
		<result property="version" column="VERSION_" jdbcType="INTEGER" />
		<result property="rows" column="ROWS_" jdbcType="INTEGER" />
		<result property="columns" column="COLUMNS_" jdbcType="INTEGER" />
		<result property="locked" column="LOCKED_" jdbcType="INTEGER" />
		<result property="objectId" column="OBJECTID_" jdbcType="VARCHAR" />
		<result property="objectValue" column="OBJECTVALUE_" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE_" jdbcType="TIMESTAMP" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertFormDefinition" parameterType="com.glaf.form.core.domain.FormDefinition">
		insert into FORM_DEFINITION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createDate != null">
				,CREATEDATE_
			</if>
			<if test="description != null">
				,DESCRIPTION_
			</if>
			<if test="formDefinitionId != null">
				,FORMDEFINITIONID_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="nodeId != null">
				,NODEID_
			</if>
			<if test="objectId != null">
				,OBJECTID_
			</if>
			<if test="objectValue != null">
				,OBJECTVALUE_
			</if>
			<if test="templateName != null">
				,TEMPLATENAME_
			</if>
			<if test="templateType != null">
				,TEMPLATETYPE_
			</if>
			<if test="title != null">
				,TITLE_
			</if>
			<if test="version != null">
				,VERSION_
			</if>
			<if test="locked != null">
				,LOCKED_
			</if>
			<if test="rows != null">
				,ROWS_
			</if>
			<if test="columns != null">
				,COLUMNS_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				,#{createDate, jdbcType=TIMESTAMP}
			</if>
			<if test="description != null">
				,#{description, jdbcType=VARCHAR}
			</if>
			<if test="formDefinitionId != null">
				,#{formDefinitionId, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="nodeId != null">
				,#{nodeId, jdbcType=BIGINT}
			</if>
			<if test="objectId != null">
				,#{objectId, jdbcType=VARCHAR}
			</if>
			<if test="objectValue != null">
				,#{objectValue, jdbcType=VARCHAR}
			</if>
			<if test="templateName != null">
				,#{templateName, jdbcType=VARCHAR}
			</if>
			<if test="templateType != null">
				,#{templateType, jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				,#{title, jdbcType=VARCHAR}
			</if>
			<if test="version != null">
				,#{version, jdbcType=INTEGER}
			</if>
			<if test="locked != null">
				,#{locked, jdbcType=INTEGER}
			</if>
			<if test="rows != null">
				,#{rows, jdbcType=INTEGER}
			</if>
			<if test="columns != null">
				,#{columns, jdbcType=INTEGER}
			</if>
		</trim>
	</insert>

	<update id="lockOldVersionFormDefinitions" parameterType="string">
		update
		FORM_DEFINITION set LOCKED_ = 1 where NAME_ = #{name}
	</update>

	<update id="updateFormArchivesFlag" parameterType="map">
		update
		${tableName} SET ARCHIVESFLAG_ = #{archivesFlag} WHERE ID_ = #{id}
	</update>

	<delete id="deleteFormDefinitionById" parameterType="string">
		delete from
		FORM_DEFINITION
		where ID_ = #{id}
	</delete>

	<delete id="deleteFormDefinitionByName" parameterType="string">
		delete
		from FORM_DEFINITION
		where NAME_ = #{name}
	</delete>

	<select id="getFormDefinitionById" parameterType="string"
		resultMap="formDefinitionResultMap">
		select * from FORM_DEFINITION where ID_ = #{id}
	</select>

	<select id="getFormDefinition" parameterType="string"
		resultMap="formDefinitionResultMap">
		select * from FORM_DEFINITION where FORMDEFINITIONID_ =
		#{formDefinitionId}
	</select>


	<select id="getLatestFormDefinitionByName" parameterType="string"
		resultMap="formDefinitionResultMap">
		select *
		from FORM_DEFINITION
		where NAME_ = #{name} and
		VERSION_ = (select max(VERSION_) from FORM_DEFINITION where NAME_ =
		#{name})
	</select>


	<select id="getLatestFormDefinitions" parameterType="com.glaf.form.core.query.FormDefinitionQuery"
		resultMap="formDefinitionResultMap">

		select E.* from FORM_DEFINITION E
		where E.LOCKED_ = 0
		<include refid="chooseFormDefinitionsSql" />
		and
		E.VERSION_ =
		(
		select max(E.VERSION_) from FORM_DEFINITION E
		where
		E.LOCKED_ = 0
		<include refid="chooseFormDefinitionsSql" />
		)

	</select>


	<select id="getFormDefinitions" parameterType="com.glaf.form.core.query.FormDefinitionQuery"
		resultMap="formDefinitionResultMap">
		select E.*
		<include refid="selectFormDefinitionsSql" />
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>

	<select id="getFormDefinitionCount" parameterType="com.glaf.form.core.query.FormDefinitionQuery"
		resultType="int">
		select count(*)
		<include refid="selectFormDefinitionsSql" />
	</select>


	<sql id="selectFormDefinitionsSql">

		from FORM_DEFINITION E

		<where>
			1 = 1

			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
			</if>

			<if test="nameLike != null and nameLike != '' ">
				and E.NAME_ like #{nameLike}
			</if>

			<if test="names != null and names.size() &gt; 0">
				and E.NAME_ IN
				<foreach item="x_name" index="index" collection="names"
					open="(" separator="," close=")">
					#{x_name}
				</foreach>
			</if>

			<if test="titleLike != null and titleLike != '' ">
				and E.TITLE_ like #{titleLike}
			</if>

			<if test="descriptionLike != null and descriptionLike != '' ">
				and E.DESCRIPTION_ like #{descriptionLike}
			</if>

			<if test="formDefinitionId != null and formDefinitionId != '' ">
				and E.FORMDEFINITIONID_ = #{formDefinitionId}
			</if>

			<if test="formDefinitionIdLike != null and formDefinitionIdLike != '' ">
				and E.FORMDEFINITIONID_ like #{formDefinitionIdLike}
			</if>

			<if test="templateNameLike != null and templateNameLike != '' ">
				and E.TEMPLATENAME_ like #{templateNameLike}
			</if>

			<if test="templateType != null and templateType != '' ">
				and E.TEMPLATETYPE_ = #{templateType}
			</if>

			<if test="templateTypeLike != null and templateTypeLike != '' ">
				and E.TEMPLATETYPE_ like #{templateTypeLike}
			</if>

			<if test="nodeId != null and nodeId != '' ">
				and E.NODEID_ = #{nodeId}
			</if>

			<if test="nodeIds != null and nodeIds.size() &gt; 0">
				and E.NODEID_ IN
				<foreach item="x_nodeId" index="index" collection="nodeIds"
					open="(" separator="," close=")">
					#{x_nodeId}
				</foreach>
			</if>

			<if test="locked != null">
				and E.LOCKED_ = #{locked}
			</if>

			<if test="objectId != null and objectId != '' ">
				and E.OBJECTID_ = #{objectId}
			</if>

			<if test="objectIds != null and objectIds.size() &gt; 0">
				and E.OBJECTID_ IN
				<foreach item="x_objectId" index="index" collection="objectIds"
					open="(" separator="," close=")">
					#{x_objectId}
				</foreach>
			</if>

			<if test="objectValue != null and objectValue != '' ">
				and E.OBJECTVALUE_ = #{objectValue}
			</if>

			<if test="objectValues != null and objectValues.size() &gt; 0">
				and E.OBJECTVALUE_ IN
				<foreach item="x_objectValue" index="index" collection="objectValues"
					open="(" separator="," close=")">
					#{x_objectValue}
				</foreach>
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="afterCreateDate != null">
				and E.CREATEDATE_ &gt;= #{afterCreateDate}
			</if>

			<if test="beforeCreateDate != null">
				and E.CREATEDATE_ &lt;= #{beforeCreateDate}
			</if>

		</where>
	</sql>


	<sql id="chooseFormDefinitionsSql">

		<if test="name != null and name != '' ">
			and E.NAME_ = #{name}
		</if>

		<if test="nameLike != null and nameLike != '' ">
			and E.NAME_ like #{nameLike}
		</if>

		<if test="names != null and names.size() &gt; 0">
			and E.NAME_ IN
			<foreach item="x_name" index="index" collection="names" open="("
				separator="," close=")">
				#{x_name}
			</foreach>
		</if>

		<if test="titleLike != null and titleLike != '' ">
			and E.TITLE_ like #{titleLike}
		</if>

		<if test="descriptionLike != null and descriptionLike != '' ">
			and E.DESCRIPTION_ like #{descriptionLike}
		</if>

		<if test="formDefinitionId != null and formDefinitionId != '' ">
			and E.FORMDEFINITIONID_ = #{formDefinitionId}
		</if>

		<if test="formDefinitionIdLike != null and formDefinitionIdLike != '' ">
			and E.FORMDEFINITIONID_ like #{formDefinitionIdLike}
		</if>

		<if test="templateNameLike != null and templateNameLike != '' ">
			and E.TEMPLATENAME_ like #{templateNameLike}
		</if>

		<if test="templateType != null and templateType != '' ">
			and E.TEMPLATETYPE_ = #{templateType}
		</if>

		<if test="templateTypeLike != null and templateTypeLike != '' ">
			and E.TEMPLATETYPE_ like #{templateTypeLike}
		</if>

		<if test="nodeId != null ">
			and E.NODEID_ = #{nodeId}
		</if>

		<if test="nodeIds != null and nodeIds.size() &gt; 0">
			and E.NODEID_ IN
			<foreach item="x_nodeId" index="index" collection="nodeIds"
				open="(" separator="," close=")">
				#{x_nodeId}
			</foreach>
		</if>

		<if test="locked != null">
			and E.LOCKED_ = #{locked}
		</if>

		<if test="objectId != null and objectId != '' ">
			and E.OBJECTID_ = #{objectId}
		</if>

		<if test="objectIds != null and objectIds.size() &gt; 0">
			and E.OBJECTID_ IN
			<foreach item="x_objectId" index="index" collection="objectIds"
				open="(" separator="," close=")">
				#{x_objectId}
			</foreach>
		</if>

		<if test="objectValue != null and objectValue != '' ">
			and E.OBJECTVALUE_ = #{objectValue}
		</if>

		<if test="objectValues != null and objectValues.size() &gt; 0">
			and E.OBJECTVALUE_ IN
			<foreach item="x_objectValue" index="index" collection="objectValues"
				open="(" separator="," close=")">
				#{x_objectValue}
			</foreach>
		</if>

		<if test="createBy != null and createBy != '' ">
			and E.CREATEBY_ = #{createBy}
		</if>

		<if test="afterCreateDate != null">
			and E.CREATEDATE_ &gt;= #{afterCreateDate}
		</if>

		<if test="beforeCreateDate != null">
			and E.CREATEDATE_ &lt;= #{beforeCreateDate}
		</if>

	</sql>

</mapper>