<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.form.core.mapper.FormActionMapper">

	<resultMap id="formActionResultMap" type="com.glaf.form.core.domain.FormAction">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="title" column="TITLE_" jdbcType="VARCHAR" />
		<result property="url" column="URL_" jdbcType="VARCHAR" />
		<result property="provider" column="PROVIDER_" jdbcType="VARCHAR" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE_" jdbcType="TIMESTAMP" />
		<result property="description" column="DESCRIPTION_" jdbcType="VARCHAR" />
		<result property="activity" column="ACTIVITY_" jdbcType="VARCHAR" />
		<result property="formName" column="FORMNAME_" jdbcType="VARCHAR" />
		<result property="appId" column="APPID_" jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertFormAction" parameterType="com.glaf.form.core.domain.FormAction">
		insert into FORM_ACTION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="name != null">
				,NAME_
			</if>
			<if test="title != null">
				,TITLE_
			</if>
			<if test="url != null">
				,URL_
			</if>
			<if test="provider != null">
				,PROVIDER_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createDate != null">
				,CREATEDATE_
			</if>
			<if test="description != null">
				,DESCRIPTION_
			</if>
			<if test="activity != null">
				,ACTIVITY_
			</if>
			<if test="formName != null">
				,FORMNAME_
			</if>
			<if test="appId != null">
				,APPID_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				,#{title, jdbcType=VARCHAR}
			</if>
			<if test="url != null">
				,#{url, jdbcType=VARCHAR}
			</if>
			<if test="provider != null">
				,#{provider, jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				,#{createDate, jdbcType=TIMESTAMP}
			</if>
			<if test="description != null">
				,#{description, jdbcType=VARCHAR}
			</if>
			<if test="activity != null">
				,#{activity, jdbcType=VARCHAR}
			</if>
			<if test="formName != null">
				,#{formName, jdbcType=VARCHAR}
			</if>
			<if test="appId != null">
				,#{appId, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>


	<update id="updateFormAction" parameterType="com.glaf.form.core.domain.FormAction">
		update FORM_ACTION
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="name != null">
				NAME_ = #{name, jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				TITLE_ = #{title, jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				URL_ = #{url, jdbcType=VARCHAR},
			</if>
			<if test="provider != null">
				PROVIDER_ = #{provider, jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATEBY_ = #{createBy, jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATEDATE_ = #{createDate, jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				DESCRIPTION_ = #{description, jdbcType=VARCHAR},
			</if>
			<if test="activity != null">
				ACTIVITY_ = #{activity, jdbcType=VARCHAR},
			</if>
			<if test="formName != null">
				FORMNAME_ = #{formName, jdbcType=VARCHAR},
			</if>
			<if test="appId != null">
				APPID_ = #{appId, jdbcType=VARCHAR},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=VARCHAR}

	</update>


	<delete id="deleteFormActionById" parameterType="string">
		delete from
		FORM_ACTION
		where ID_ = #{id}
	</delete>


	<delete id="deleteFormActions" parameterType="com.glaf.form.core.query.FormActionQuery">
		delete from FORM_ACTION
		where (
		ID_ IN
		<foreach item="x_rowId" index="index" collection="rowIds"
			open="(" separator="," close=")">
			#{x_rowId}
		</foreach>
		)
	</delete>


	<select id="getFormActionById" parameterType="string"
		resultMap="formActionResultMap">
		select * from FORM_ACTION where ID_ = #{id}
	</select>


	<select id="getFormActions" parameterType="com.glaf.form.core.query.FormActionQuery"
		resultMap="formActionResultMap">
		select E.*
		<include refid="selectFormActionsSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.ID_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getFormActionCount" parameterType="com.glaf.form.core.query.FormActionQuery"
		resultType="int">
		select count(*)
		<include refid="selectFormActionsSql" />
	</select>


	<sql id="selectFormActionsSql">

		from FORM_ACTION E

		<where>
			1 = 1

			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
			</if>

			<if test="nameLike != null and nameLike != '' ">
				and E.NAME_ like #{nameLike}
			</if>

			<if test="titleLike != null and titleLike != '' ">
				and E.TITLE_ like #{titleLike}
			</if>

			<if test="urlLike != null and urlLike != '' ">
				and E.URL_ like #{urlLike}
			</if>

			<if test="provider != null and provider != '' ">
				and E.PROVIDER_ = #{provider}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createDateGreaterThanOrEqual != null">
				and E.CREATEDATE_ &gt;= #{createDateGreaterThanOrEqual}
			</if>

			<if test="createDateLessThanOrEqual != null">
				and E.CREATEDATE_ &lt;= #{createDateLessThanOrEqual}
			</if>

			<if test="descriptionLike != null and descriptionLike != '' ">
				and E.DESCRIPTION_ like #{descriptionLike}
			</if>

			<if test="activity != null and activity != '' ">
				and E.ACTIVITY_ = #{activity}
			</if>

			<if test="activityLike != null and activityLike != '' ">
				and E.ACTIVITY_ like #{activityLike}
			</if>

			<if test="formName != null and formName != '' ">
				and E.FORMNAME_ = #{formName}
			</if>

			<if test="appId != null and appId != '' ">
				and E.APPID_ = #{appId}
			</if>

			<if test="appIds != null and appIds.size != 0">
				and E.APPID_ IN
				<foreach item="x_appId" index="index" collection="appIds"
					open="(" separator="," close=")">
					#{x_appId}
				</foreach>
			</if>

		</where>
	</sql>

</mapper>