<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.form.core.mapper.FormHistoryInstanceMapper">

	<resultMap id="formHistoryInstanceResultMap" type="com.glaf.form.core.domain.FormHistoryInstance">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="nodeId" column="NODEID_" jdbcType="VARCHAR" />
		<result property="objectId" column="OBJECTID_" jdbcType="VARCHAR" />
		<result property="objectValue" column="OBJECTVALUE_" jdbcType="VARCHAR" />
		<result property="objectType" column="OBJECTTYPE_" jdbcType="INTEGER" />
		<result property="processInstanceId" column="PROCESSINSTANCEID_"
			jdbcType="VARCHAR" />
		<result property="taskInstanceId" column="TASKINSTANCEID_"
			jdbcType="VARCHAR" />
		<result property="actorId" column="ACTORID_" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE_" jdbcType="TIMESTAMP" />
		<result property="remoteAddr" column="REMOTEADDR_" jdbcType="VARCHAR" />
		<result property="content" column="CONTENT_" jdbcType="VARCHAR" />
		<result property="versionNo" column="VERSIONNO_" jdbcType="BIGINT" />
	</resultMap>


	<insert id="insertFormHistoryInstance" parameterType="com.glaf.form.core.domain.FormHistoryInstance">
		insert into
		FORM_HISTORY_INSTANCE ( ID_
		,NAME_
		,NODEID_
		,OBJECTID_
		,OBJECTVALUE_
		,OBJECTTYPE_
		,PROCESSINSTANCEID_
		,TASKINSTANCEID_
		,ACTORID_
		,CREATEDATE_
		,REMOTEADDR_
		,CONTENT_
		,VERSIONNO_
		)
		values (
		#{id, jdbcType=VARCHAR}
		,#{name, jdbcType=VARCHAR}
		,#{nodeId, jdbcType=VARCHAR}
		,#{objectId,
		jdbcType=VARCHAR}
		,#{objectValue, jdbcType=VARCHAR}
		,#{objectType,
		jdbcType=INTEGER}
		,#{processInstanceId, jdbcType=VARCHAR}
		,#{taskInstanceId, jdbcType=VARCHAR}
		,#{actorId, jdbcType=VARCHAR}
		,#{createDate, jdbcType=TIMESTAMP}
		,#{remoteAddr, jdbcType=VARCHAR}
		,#{content, jdbcType=VARCHAR}
		,#{versionNo, jdbcType=BIGINT}
		)
	</insert>


	<delete id="deleteFormHistoryInstanceById" parameterType="string">
		delete
		from FORM_HISTORY_INSTANCE
		where ID_ = #{id}
	</delete>

	<select id="getFormHistoryInstanceById" parameterType="string"
		resultMap="formHistoryInstanceResultMap">
		select * from FORM_HISTORY_INSTANCE where ID_ = #{id}
	</select>


	<select id="getFormHistoryInstances" parameterType="com.glaf.form.core.query.FormHistoryInstanceQuery"
		resultMap="formHistoryInstanceResultMap">
		select E.*
		<include refid="selectFormHistoryInstancesSql" />
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
	</select>

	<select id="getFormHistoryInstanceCount" parameterType="com.glaf.form.core.query.FormHistoryInstanceQuery"
		resultType="int">
		select count(*)
		<include refid="selectFormHistoryInstancesSql" />
	</select>

	<sql id="selectFormHistoryInstancesSql">

		from FORM_HISTORY_INSTANCE E

		<where>
			1 = 1

			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
			</if>

			<if test="names != null and names.size() &gt; 0">
				and E.NAME_ IN
				<foreach item="x_name" index="index" collection="names"
					open="(" separator="," close=")">
					#{x_name}
				</foreach>
			</if>


			<if test="nodeId != null and nodeId != '' ">
				and E.NODEID_ = #{nodeId}
			</if>

			<if test="nodeIds != null and nodeIds.size() &gt; 0">
				and E.NODEID_ IN
				<foreach item="x_nodeId" index="index" collection="nodeIds"
					open="(" separator="," close=")">
					#{x_nodeId}
				</foreach>
			</if>

			<if test="objectId != null and objectId != '' ">
				and E.OBJECTID_ = #{objectId}
			</if>

			<if test="objectIds != null and objectIds.size() &gt; 0">
				and E.OBJECTID_ IN
				<foreach item="x_objectId" index="index" collection="objectIds"
					open="(" separator="," close=")">
					#{x_objectId}
				</foreach>
			</if>

			<if test="objectValue != null and objectValue != '' ">
				and E.OBJECTVALUE_ = #{objectValue}
			</if>

			<if test="objectValues != null and objectValues.size() &gt; 0">
				and E.OBJECTVALUE_ IN
				<foreach item="x_objectValue" index="index" collection="objectValues"
					open="(" separator="," close=")">
					#{x_objectValue}
				</foreach>
			</if>

			<if test="processInstanceId != null and processInstanceId != '' ">
				and E.PROCESSINSTANCEID_ = #{processInstanceId}
			</if>

			<if test="processInstanceIds != null and processInstanceIds.size() &gt; 0">
				and E.PROCESSINSTANCEID_ IN
				<foreach item="x_processInstanceId" index="index"
					collection="processInstanceIds" open="(" separator="," close=")">
					#{x_processInstanceId}
				</foreach>
			</if>

			<if test="taskInstanceId != null and taskInstanceId != '' ">
				and E.TASKINSTANCEID_ = #{taskInstanceId}
			</if>

			<if test="taskInstanceIds != null and taskInstanceIds.size() &gt; 0">
				and E.TASKINSTANCEID_ IN
				<foreach item="x_taskInstanceId" index="index" collection="taskInstanceIds"
					open="(" separator="," close=")">
					#{x_taskInstanceId}
				</foreach>
			</if>

			<if test="actorId != null and actorId != '' ">
				and E.ACTORID_ = #{actorId}
			</if>

			<if test="actorIds != null and actorIds.size() &gt; 0">
				and E.ACTORID_ IN
				<foreach item="x_actorId" index="index" collection="actorIds"
					open="(" separator="," close=")">
					#{x_actorId}
				</foreach>
			</if>

			<if test="contentLike != null and contentLike != '' ">
				and E.CONTENT_ like #{contentLike}
			</if>

			<if test="versionNoGreaterThanOrEqual != null">
				and E.VERSIONNO_ &gt;= #{versionNoGreaterThanOrEqual}
			</if>

			<if test="versionNoLessThanOrEqual != null">
				and E.VERSIONNO_ &lt;= #{versionNoLessThanOrEqual}
			</if>

			<if test="afterCreateDate != null">
				and E.CREATEDATE_ &gt;= #{afterCreateDate}
			</if>

			<if test="beforeCreateDate != null">
				and E.CREATEDATE_ &lt;= #{beforeCreateDate}
			</if>

		</where>
	</sql>

</mapper>