<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" >

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/conf/spring/spring-config.xml</param-value>
	</context-param>

	<listener>
		<listener-class>com.glaf.core.context.StartupListener</listener-class>
	</listener>
 
	<listener> 
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class> 
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
  
	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>  
		 <param-name>sessionFactoryBeanName</param-name>  
	     <param-value>hibernateSessionFactory</param-value>  
	    </init-param>   
	</filter>

	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
 
  
	<!--由Sprng载入的Log4j配置文件位置-->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/conf/log4j.xml</param-value>
	</context-param>
	<!--Spring log4j Config loader-->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>


	<!--转码过滤器-->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
	<!--IE缓存清除过滤器-->
	<filter>
		<filter-name>Cache Filter</filter-name>
		<filter-class>com.glaf.base.filter.ForbiddenCacheFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Cache Filter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
  
	<!--权限过滤器-->
	<filter>
		<filter-name>Authorization Filter</filter-name>
		<filter-class>com.glaf.base.filter.AuthorizeFilter</filter-class>
		<init-param>
			<param-name>login_user</param-name>
			<param-value>LOGIN_USER</param-value>
		</init-param>
		<init-param>
			<param-name>login_url</param-name>
			<param-value>/glaf/sys/authorize.do,/glaf/login.do</param-value>
		</init-param>
		<init-param>
			<param-name>error_url</param-name>
			<param-value>/glaf/error/error_jump.htm</param-value>
		</init-param>
		<init-param>
			<param-name>require</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Authorization Filter</filter-name>
		<url-pattern>/mx/*</url-pattern>
	</filter-mapping> 

	<filter-mapping>
		<filter-name>Authorization Filter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping> 

	<filter-mapping>
		<filter-name>Authorization Filter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	

	<!--dwr-->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
  
	<servlet>
		<servlet-name>InitBaseData</servlet-name>
		<servlet-class>com.glaf.base.modules.InitBaseDataServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>com.glaf.base.servlet.SpringDispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping> 
  
	<!--glaf core platform configure-->

	<servlet >
		<servlet-name>glaf</servlet-name>
		<servlet-class>com.glaf.base.servlet.SpringDispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>glaf</servlet-name>
		<url-pattern>/mx/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>resteasy</servlet-name>
		<servlet-class>com.glaf.base.servlet.SpringDispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>resteasy</servlet-name>
		<url-pattern>/rs/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Session timeout on  60 * 60  (in minutes) -->
	<session-config>
		<session-timeout>3600</session-timeout>
	</session-config>
 
	<error-page> 
		<exception-type>com.glaf.base.modules.sys.interceptor.AuthorizeException</exception-type> 
		<location>/WEB-INF/views/error/auth_error.jsp</location>
	</error-page> 
  
</web-app>