<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.global.GlobalMapper">

    <sql id="dataRequestFilterCondition">
	   <if test="dataRequest != null and dataRequest.filter != null ">
				    
                <if test="dataRequest.filter.filters != null and dataRequest.filter.filters.size != 0 "> 
				    <trim prefix="and (" prefixOverrides="and|or" suffix=")"> 
				      <foreach item="filter" index="index" collection="dataRequest.filter.filters"
							open="" separator="" close="">
						<if test="filter.column != null and filter.value != null">
							<choose>
								<when test="filter.javaType == 'String' ">
									${dataRequest.filter.logicValue}
									${filter.columnAlias}.${filter.column} 
									<include refid="com.glaf.global.GlobalMapper.stringCondition2" />
									#{filter.stringValue}
								</when>
								<when test="filter.javaType == 'Integer' ">
									${dataRequest.filter.logicValue}
									${filter.columnAlias}.${filter.column}  
									<include refid="com.glaf.global.GlobalMapper.stringCondition2" />
									#{filter.intValue}
								</when>
								<when test="filter.javaType == 'Long' ">
									${dataRequest.filter.logicValue}
									${filter.columnAlias}.${filter.column}  
									<include refid="com.glaf.global.GlobalMapper.numbericCondition2" />
									#{filter.longValue}
								</when>
								<when test="filter.javaType == 'Double' ">
									${dataRequest.filter.logicValue}
									${filter.columnAlias}.${filter.column}  
									<include refid="com.glaf.global.GlobalMapper.datetimeCondition2" />
									#{filter.doubleValue}
								</when>
								<when test="filter.javaType == 'Date' ">
									${dataRequest.filter.logicValue}
									${filter.columnAlias}.${filter.column}  
									<include refid="com.glaf.global.GlobalMapper.datetimeCondition2" />
									#{filter.dateValue}
								</when>
							</choose>	
						</if>
					</foreach>
			        
					<if test="filter.filters != null and filter.filters.size != 0 ">

						<trim prefix="and (" prefixOverrides="and|or" suffix=")">      
						  <foreach item="f" index="index" collection="filter.filters"
								open="" separator="" close="">
							<if test="f.column != null and f.value != null">
								<choose>
									<when test="f.javaType == 'String' ">
										${filter.logicValue}
										${f.columnAlias}.${f.column}  
										<include refid="com.glaf.global.GlobalMapper.stringCondition3" />
										#{f.stringValue}
									</when>
									<when test="f.javaType == 'Integer' ">
										${filter.logicValue}
										${f.columnAlias}.${f.column}  
										<include refid="com.glaf.global.GlobalMapper.stringCondition3" />
										#{f.intValue}
									</when>
									<when test="f.javaType == 'Long' ">
										${filter.logicValue}
										${f.columnAlias}.${f.column}  
										<include refid="com.glaf.global.GlobalMapper.numbericCondition3" />
										#{filter.longValue}
									</when>
									<when test="f.javaType == 'Double' ">
										${filter.logicValue}
										${f.columnAlias}.${f.column}  
										<include refid="com.glaf.global.GlobalMapper.datetimeCondition3" />
										#{f.doubleValue}
									</when>
									<when test="f.javaType == 'Date' ">
										${filter.logicValue}
										${f.columnAlias}.${f.column}  
										<include refid="com.glaf.global.GlobalMapper.datetimeCondition3" />
										#{f.dateValue}
									</when>
								</choose>	
							</if>
						  </foreach>
					  </trim> 
					</if>
				  </trim>
			   </if>	 
			</if>
	</sql>

    <sql id="stringCondition">
	     <choose>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'eq' ">
	             =
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'neq' ">
				 !=
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'startswith' ">
				 like 
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'endswith' ">
				 like 
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'contains' ">
				 like 
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'doesnotcontain' ">
				 not like 
			</when>
			<otherwise>
				 =
			</otherwise>
		</choose>
	</sql>

	<sql id="stringCondition2">
	     <choose>
			<when test="filter.operator != null and filter.operator == 'eq' ">
	             =
			</when>
			<when test="filter.operator != null and filter.operator == 'neq' ">
				 !=
			</when>
			<when test="filter.operator != null and filter.operator == 'startswith' ">
				 like 
			</when>
			<when test="filter.operator != null and filter.operator == 'endswith' ">
				 like 
			</when>
			<when test="filter.operator != null and filter.operator == 'contains' ">
				 like 
			</when>
			<when test="filter.operator != null and filter.operator == 'doesnotcontain' ">
				 not like 
			</when>
			<otherwise>
				 =
			</otherwise>
		</choose>
	</sql>

	<sql id="stringCondition3">
	     <choose>
			<when test="f.operator != null and f.operator == 'eq' ">
	             =
			</when>
			<when test="f.operator != null and f.operator == 'neq' ">
				 !=
			</when>
			<when test="f.operator != null and f.operator == 'startswith' ">
				 like 
			</when>
			<when test="f.operator != null and f.operator == 'endswith' ">
				 like 
			</when>
			<when test="f.operator != null and f.operator == 'contains' ">
				 like 
			</when>
			<when test="f.operator != null and f.operator == 'doesnotcontain' ">
				 not like 
			</when>
			<otherwise>
				 =
			</otherwise>
		</choose>
	</sql>

	<sql id="numbericCondition">
	     <choose>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'eq' ">
	             =
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'neq' ">
				 !=
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'gt' ">
				 &gt; 
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'gte' ">
				 &gt;= 
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'lt' ">
				 &lt; 
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'lte' ">
				 &lt;= 
			</when>
			<otherwise>
				 =
			</otherwise>
		</choose>
	</sql>

	<sql id="numbericCondition2">
	     <choose>
			<when test="filter.operator != null and filter.operator == 'eq' ">
	             =
			</when>
			<when test="filter.operator != null and filter.operator == 'neq' ">
				 !=
			</when>
			<when test="filter.operator != null and filter.operator == 'gt' ">
				 &gt; 
			</when>
			<when test="filter.operator != null and filter.operator == 'gte' ">
				 &gt;= 
			</when>
			<when test="filter.operator != null and filter.operator == 'lt' ">
				 &lt; 
			</when>
			<when test="filter.operator != null and filter.operator == 'lte' ">
				 &lt;= 
			</when>
			<otherwise>
				 =
			</otherwise>
		</choose>
	</sql>

	<sql id="numbericCondition3">
	     <choose>
			<when test="f.operator != null and f.operator == 'eq' ">
	             =
			</when>
			<when test="f.operator != null and f.operator == 'neq' ">
				 !=
			</when>
			<when test="f.operator != null and f.operator == 'gt' ">
				 &gt; 
			</when>
			<when test="f.operator != null and f.operator == 'gte' ">
				 &gt;= 
			</when>
			<when test="f.operator != null and f.operator == 'lt' ">
				 &lt; 
			</when>
			<when test="f.operator != null and f.operator == 'lte' ">
				 &lt;= 
			</when>
			<otherwise>
				 =
			</otherwise>
		</choose>
	</sql>

	<sql id="datetimeCondition">
	     <choose>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'eq' ">
	             =
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'neq' ">
				 !=
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'gt' ">
				 &gt; 
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'gte' ">
				 &gt;= 
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'lt' ">
				 &lt; 
			</when>
			<when test="dataRequest.filter.operator != null and dataRequest.filter.operator == 'lte' ">
				 &lt;= 
			</when>
			<otherwise>
				 =
			</otherwise>
		</choose>
	</sql>


	<sql id="datetimeCondition2">
	     <choose>
			<when test="filter.operator != null and filter.operator == 'eq' ">
	             =
			</when>
			<when test="filter.operator != null and filter.operator == 'neq' ">
				 !=
			</when>
			<when test="filter.operator != null and filter.operator == 'gt' ">
				 &gt; 
			</when>
			<when test="filter.operator != null and filter.operator == 'gte' ">
				 &gt;= 
			</when>
			<when test="filter.operator != null and filter.operator == 'lt' ">
				 &lt; 
			</when>
			<when test="filter.operator != null and filter.operator == 'lte' ">
				 &lt;= 
			</when>
			<otherwise>
				 =
			</otherwise>
		</choose>
	</sql>

	<sql id="datetimeCondition3">
	     <choose>
			<when test="f.operator != null and f.operator == 'eq' ">
	             =
			</when>
			<when test="f.operator != null and f.operator == 'neq' ">
				 !=
			</when>
			<when test="f.operator != null and f.operator == 'gt' ">
				 &gt; 
			</when>
			<when test="f.operator != null and f.operator == 'gte' ">
				 &gt;= 
			</when>
			<when test="f.operator != null and f.operator == 'lt' ">
				 &lt; 
			</when>
			<when test="f.operator != null and f.operator == 'lte' ">
				 &lt;= 
			</when>
			<otherwise>
				 =
			</otherwise>
		</choose>
	</sql>

</mapper>